<template>
  <Card>
    <template #title>
      <div class="grid grid-cols-2">
        <div class="my-auto flex" style="color: #147ba8">
          <i-akar-icons-plus style="font-size: 20px" />
          <span class="ml-3 font-bold">Agregar Aseguradora</span>
        </div>
        <div class="text-right">
          <Button
            @click="$router.go(-1)"
            icon="pi pi-arrow-left"
            class="p-button-raised p-button-rounded p-button-warning"
          />
        </div>
      </div>
    </template>
    <template #content>
      <div class="mt-6 mr-4">
        <span class="p-float-label">
          <InputText
            v-model="model.razonSocial"
            id="razonSocial"
            type="text"
            :class="`w-full ${errors.razonSocial ? 'p-invalid' : ''}`"
          />
          <label for="razonSocial">Razón Social</label>
        </span>
        <div class="text-red-700">
          {{ errors.razonSocial }}
        </div>
      </div>
      <div class="mt-6 mr-4">
        <span class="p-float-label">
          <InputText
            v-model="model.nombreCorto"
            id="nombreCorto"
            type="text"
            :class="`w-full ${errors.nombreCorto ? 'p-invalid' : ''}`"
          />
          <label for="nombreCorto">Nombre Corto</label>
        </span>
        <div class="text-red-700">
          {{ errors.nombreCorto }}
        </div>
      </div>
      <div class="grid grid-cols-1 md:grid-cols-2">
        <div class="mt-6 mr-4">
          <span class="p-float-label">
            <InputText
              v-model="model.nit"
              id="nit"
              type="text"
              :class="`w-full ${errors.nit ? 'p-invalid' : ''}`"
            />
            <label for="nit">NIT</label>
          </span>
          <div class="text-red-700">
            {{ errors.nit }}
          </div>
        </div>
        <div class="mt-6 mr-4">
          <span class="p-float-label">
            <InputText
              v-model="model.codigo"
              id="codigo"
              type="text"
              :class="`w-full ${errors.codigo ? 'p-invalid' : ''}`"
            />
            <label for="codigo">Cod. Aseguradora</label>
          </span>
          <div class="text-red-700">
            {{ errors.codigo }}
          </div>
        </div>
      </div>
      <div class="grid grid-cols-1 md:grid-cols-2">
        <div class="mt-6 mr-4">
          <span class="p-float-label">
            <InputText
              v-model="model.correo"
              id="correo"
              type="text"
              :class="`w-full ${errors.correo ? 'p-invalid' : ''}`"
            />
            <label for="correo">Correo Electrónico</label>
          </span>
          <div class="text-red-700">
            {{ errors.correo }}
          </div>
        </div>
        <div class="mt-6 mr-4">
          <span class="p-float-label">
            <InputText
              v-model="model.telefono"
              id="telefono"
              type="text"
              :class="`w-full ${errors.telefono ? 'p-invalid' : ''}`"
            />
            <label for="telefono">Teléfono</label>
          </span>
          <div class="text-red-700">
            {{ errors.telefono }}
          </div>
        </div>
      </div>
      <div class="mt-6 mr-4">
        <span class="p-float-label">
          <InputText
            v-model="model.direccion"
            id="direccion"
            type="text"
            :class="`w-full ${errors.direccion ? 'p-invalid' : ''}`"
          />
          <label for="direccion">Dirección</label>
        </span>
        <div class="text-red-700">
          {{ errors.direccion }}
        </div>
      </div>
      <div class="grid grid-cols-1 md:grid-cols-2">
        <div class="mr-4 mt-6">
          <span class="p-float-label">
            <Dropdown
              v-model="model.idDepartamento"
              @change="selectedDepartamento"
              :options="departamentos"
              optionLabel="name"
              optionValue="id"
              id="idDepartamento"
              :class="`w-full ${
                errors.idDepartamento ? 'p-invalid' : ''
              }`"
            />
            <label for="idDepartamento">Departamento</label>
          </span>
          <span class="text-red-700">
            {{ errors.idDepartamento }}
          </span>
        </div>
        <div class="mr-4 mt-6">
          <span class="p-float-label">
            <Dropdown
              v-model="model.idLocalizacion"
              :options="municipios"
              optionLabel="name"
              optionValue="id"
              id="idLocalizacion"
              :class="`w-full ${
                errors.idLocalizacion ? 'p-invalid' : ''
              }`"
            />
            <label for="idLocalizacion">Municipio</label>
          </span>
          <span class="text-red-700">
            {{ errors.idLocalizacion }}
          </span>
        </div>
      </div>

    </template>
    <template #footer>
      <Button @click="onSubmit" label="Agregar" />
      <Button
        @click="$router.push({ name: 'ajustes.aseguradoras' })"
        label="Cancelar"
        class="p-button-secondary ml-5"
      />
    </template>
  </Card>
  <!-- modal confirmar -->
  <modalConfirm ref="modalConfirm" @responseYes="onSubmitConfirm">
    <template v-slot:icon>
      <i-fa-solid-pencil-alt class="iconEliminar" />
    </template>
    <div class="justify-content-around flex h-full w-full flex-col">
      <span class="text-center text-2xl" style="color: #13c8dc; font-weight: bold" >
        Editar Aseguradora
      </span>
      <span class="text-center">
          ¿Esta seguro/a que desea guardar los cambios y editar la información de esta Aseguradora?
      </span>
    </div>
  </modalConfirm>
</template>

<script>
import { useField, useForm } from "vee-validate";
import { string, object } from "yup";
import getLocalizationsService from "../services/getLocalizationsService";
import updateAseguradorasService from "../services/updateAseguradorasService";
import findAseguradorasService from "../services/findAseguradorasService";
import { onMounted, ref } from "vue";
import { useToast } from "primevue/usetoast";
import { useRouter, useRoute } from "vue-router";

export default {
  name: "aseguradorasEditar",
  setup() {
    const router = useRouter();
    const route = useRoute();
    const toast = useToast();
    const departamentos = ref([]);
    const municipios = ref([{ id: "", name: "Seleccione municipio" }]);
    const modalConfirm = ref();

    // const store = useStore();
    const validationSchema = object({
      razonSocial: string().required().label("razón social"),
      nombreCorto: string().required().label("nombre corto"),
      nit: string().required().label("NIT"),
      codigo: string().nullable(true).required().label("cod. aseguradora"),
      direccion: string().nullable(true).required().label("dirección"),
      correo: string().email('correo electrónico no valido').nullable(true).required().label("correo electrónico"),
      telefono: string().nullable(true).required().label("teléfono"),
      idLocalizacion: string().nullable(true).required().label("municipio"),
      idDepartamento: string().nullable(true).required().label("departamento"),
    });

    const {
      handleSubmit,
      handleReset,
      values: model,
      errors,
    } = useForm({ validationSchema });

    useField("razonSocial", null, { initialValue: "" });
    useField("nombreCorto", null, { initialValue: "" });
    useField("nit", null, { initialValue: "" });
    useField("codigo", null, { initialValue: "" });
    useField("direccion", null, { initialValue: "" });
    useField("correo", null, { initialValue: "" });
    useField("telefono", null, { initialValue: "" });
    useField("idLocalizacion", null, { initialValue: ""});
    useField("idDepartamento", null, { initialValue: "" });

    const onSubmit = handleSubmit(() => {
      modalConfirm.value.toggle()
    });

    const onSubmitConfirm = async() => {
      try {
        const { id } = route.params
        const payload = { ...model }
        const { data } = await updateAseguradorasService(payload, id)
        .catch((err) => {
          console.log(err);
        });
        if (data) {
          router.push({ name: "ajustes.aseguradoras" });
          toast.add({
            severity:'success',
            summary: 'Editar Aseguradora', 
            detail:'Los cambios se han guardado correctamente',
            life: 3000
          });
        }
      } catch (error) {
        console.error(error);
      }
    };

    const selectedDepartamento = ({ value }) => {
      return new Promise(resolve=>{
        municipios.value = []
        model.idLocalizacion = ''
        if (value) {
          const departamento_find = departamentos.value.find((f) => f.id === value);
          if (departamento_find) {
            municipios.value = departamento_find.municipios.map((e) => {
              return { id: e.id, name: e.nomMpio };
            });
          }
        }
        resolve(true)
      })
    };

    const fetchLocalizaciones = async() => {
      // listar departamentos
      const { data } = await getLocalizationsService()
      .catch((error) => {
        console.log(error);
      });
      departamentos.value = data;
    };

    const findAseguradoras = async() => {
      const { id } = route.params
      const { data } = await findAseguradorasService(id)
      .catch(error=>{
        console.log(error);
      })
      if (data) {
        for (const key in model) {
          model[key] = data[key]
        }
        model.idDepartamento = data.localizacion ? data.localizacion.codDpto : ''
        const res = await selectedDepartamento({value: model.idDepartamento})
        if (res) {
          model.idLocalizacion = data.idLocalizacion
        }
      }
    }


    onMounted(() => {
      fetchLocalizaciones()
      handleReset();
      setTimeout(() => {
        findAseguradoras();
      }, 500);
    });

    return {
      model,
      departamentos,
      municipios,
      errors,
      modalConfirm,
      selectedDepartamento,
      onSubmit,
      onSubmitConfirm
    };
  },
};
</script>
<style>
.iconEliminar {
  color: #13c8dc;
  width: 38px;
  height: 44px;
}
</style>
