<template>
  <div class="flex justify-between">
    <div class="grid grid-cols-1 content-center gap-4" style="color: #147ba8">
      <div v-if="update">
        <i class="pi pi-plus mr-2"></i>
        <span class="font-bold">Actualizar Usuario</span>
      </div>
      <div v-else>
        <i class="pi pi-plus mr-2"></i>
        <span class="font-bold">Agregar Usuario</span>
      </div>
    </div>
    <div>
      <Button
        icon="pi pi-arrow-left"
        class="p-button-raised p-button-rounded p-button-warning"
        @click="$router.push({ name: 'ajustes.config.usuarios' })"
      />
    </div>
  </div>

  <div class="grid- mt-6 grid grid-cols-2">
    <div class="basis-1/2 p-4">
      <form @submit="onSubmit">
        <div class="flex flex-row">
          <div class="basis-1/4">
            <Dropdown
              v-model="model.typeDocument"
              :options="typesDocuments"
              optionLabel="name"
              optionValue="id"
              placeholder="Tipo Doc."
              class="w-full"
            />
            <div style="color: red">
              {{ errors.typeDocument }}
            </div>
          </div>
          <div class="ml-6 basis-3/4">
            <span class="p-float-label">
              <InputText
                class="w-full"
                id="numberDocument"
                type="text"
                v-model="model.numberDocument"
              />
              <label for="numberDocument">Número de Identificación</label>
            </span>
            <div style="color: red">
              {{ errors.numberDocument }}
            </div>
          </div>
        </div>
        <span class="p-float-label mt-6">
          <InputText
            class="w-full"
            id="firstName"
            type="text"
            v-model="model.firstName"
          />
          <label for="firstName">Nombres</label>
        </span>
        <div style="color: red">
          {{ errors.firstName }}
        </div>
        <span class="p-float-label mt-6">
          <InputText
            class="w-full"
            id="lastName"
            type="text"
            v-model="model.lastName"
          />
          <label for="lastName">Apellidos</label>
        </span>
        <div style="color: red">
          {{ errors.lastName }}
        </div>
        <span class="p-float-label mt-6">
          <InputText
            class="w-full"
            id="email"
            type="text"
            v-model="model.email"
          />
          <label for="email">Correo Electrónico</label>
        </span>
        <div style="color: red">
          {{ errors.email }}
        </div>
        <span class="p-float-label mt-6">
          <InputText
            class="w-full"
            id="username"
            type="text"
            v-model="model.username"
          />
          <label for="username">Username</label>
        </span>
        <div style="color: red">
          {{ errors.username }}
        </div>
        <div class="mt-6">
          <span style="color: red"
            >Nota: Tenga en cuenta que para guardar este usuario debe asignar
            por lo menos un ROL o un PERMISO.</span
          >
        </div>
        <div class="flex flex-row">
          <div class="basis-1/2">
            <template v-if="update">
              <Button label="Actualizar" class="mt-3" type="submit" />
            </template>
            <template v-else>
              <Button label="Agregar" class="mt-3" type="submit" />
            </template>
          </div>
          <div class="basis-1/2">
            <Button
              label="Cancelar"
              class="p-button-secondary mt-3 ml-3"
              @click="$router.back()"
            />
          </div>
        </div>
      </form>
    </div>

    <div class="basis-1/2 p-4">
      <TabView>
        <!--        Roles-->
        <TabPanel header="Roles">
          <div class="flex justify-end">
            <Button
              label="Agregar Rol"
              icon="pi pi-plus"
              class="mr-2"
              @click="$router.push({ name: 'ajustes.config.roles.add' })"
            />
          </div>
          <DataTable
            :value="roles"
            v-model:expandedRows="expandedRows"
            dataKey="id"
            responsiveLayout="scroll"
            class="mt-6 w-full"
          >
            <template #empty> No hay roles para mostrar </template>
            <Column :expander="true" headerStyle="width: 3rem" />
            <Column field="name" header="Nombre"></Column>
            <Column header="Acciones" headerStyle="width: 1.5rem">
              <template #body="{ data }">
                <div class="field-checkbox flex justify-center">
                  <Checkbox
                    :value="data.id"
                    v-model="checkRol"
                    @change="onChangeCheck(data)"
                  />
                </div>
              </template>
            </Column>
            <template #expansion="{ data }">
              <div class="m-2 flex flex-col">
                <template
                  v-for="(item, index) in data.permission_has_active"
                  :key="index"
                >
                  <div>
                    <span>- {{ item.permissionsRoles.name }}</span>
                  </div>
                </template>
              </div>
            </template>
          </DataTable>
          <Paginator
            :rows="parseInt(paginatorRol.per_page)"
            :totalRecords="paginatorRol.total"
            :rowsPerPageOptions="[5, 10, 20, 30, 50, 100]"
            @page="onPageRol($event)"
          >
            <template #start="slotProps">
              Mostrando registros del
              {{ slotProps.state.first === 0 ? 1 : slotProps.state.first }} al
              {{ slotProps.state.rows * (slotProps.state.page + 1) }} de un
              total de {{ paginatorRol.total }} registros
            </template>
          </Paginator>
        </TabPanel>
        <!--        Permisos-->
        <TabPanel header="Permisos">
          <div class="flex justify-between">
            <div class="grid grid-cols-5 content-center">
              <div>
                <Checkbox
                  v-model="permissionAllCheck"
                  :binary="true"
                  @change="permissionAll"
                />
              </div>
              <div class="col-span-4">
                <label class="ml-2">Seleccionar todos</label>
              </div>
            </div>
            <div>
              <Button
                label="Agregar Permiso"
                icon="pi pi-plus"
                class="mr-2"
                @click="$router.push({ name: 'ajustes.config.permisos.add' })"
              />
            </div>
          </div>

          <DataTable
            :value="permissions"
            responsiveLayout="scroll"
            class="mt-6 w-full"
          >
            <template #empty> No hay permisos para mostrar </template>
            <Column field="code" header="Estado" class="w-1/5">
              <template #body="{ data }">
                <div class="field-checkbox">
                  <Checkbox :value="data.id" v-model="checks" />
                </div>
              </template>
            </Column>
            <Column field="name" header="Nombre"></Column>
            <Column field="description" header="Descripcion"></Column>
          </DataTable>
          <Paginator
            :rows="parseInt(paginator.per_page)"
            :totalRecords="paginator.total"
            :rowsPerPageOptions="[5, 10, 20, 30, 50, 100]"
            @page="onPage($event)"
          >
            <template #start="slotProps">
              Mostrando registros del
              {{ slotProps.state.first === 0 ? 1 : slotProps.state.first }} al
              {{ slotProps.state.rows * (slotProps.state.page + 1) }} de un
              total de {{ paginator.total }} registros
            </template>
          </Paginator>
        </TabPanel>
      </TabView>
    </div>
  </div>

  <modalConfirm
    ref="modalConfirm"
    @responseYes="onYesModal"
    @responseNo="onNoModal"
  >
    <template v-slot:icon>
      <i-fa-solid-trash-alt class="iconEliminar" />
    </template>
    <div class="justify-content-around flex h-full w-full flex-col">
      <span
        class="text-center text-2xl"
        style="color: #13c8dc; font-weight: bold"
        >Seleccionar Rol</span
      >
      <span class="mt-6 text-center"
        >Al seleccionar un rol se borraran los permisos seleccionados. ¿Desea
        continuar?</span
      >
    </div>
  </modalConfirm>

  <Toast />
</template>

<script>
import { ref, onMounted } from "vue";
import * as yup from "yup";
import { useField, useForm } from "vee-validate";
import getTypeDocumentService from "../../../pacientes/services/getTypeDocumentService";
import getPermissionsService from "../../permisos/services/getPermissions.service";
import getRolesService from "../../roles/services/getRoles.service";
import saveUser from "../services/saveUser.service";
import assignPermissionUser from "../services/assignPermissionUser.service";
import { useToast } from "primevue/usetoast";
import { defineAsyncComponent } from "vue";
import { useRouter, useRoute } from "vue-router";
import getUsers from "../services/getUsers.service";
import updateUser from "../services/updateUser.service";
import updateState from "../services/updateUser.service";
export default {
  name: "AddUserMain",
  components: {
    modalConfirm: defineAsyncComponent(() =>
      import("@/components/modalConfirm/Main.vue")
    ),
  },
  setup() {
    const router = useRouter();
    const route = useRoute();
    const permission_has_active = ref({});
    const id = ref(0);
    const idUser = ref(0);
    const modalConfirm = ref();
    const toast = useToast();
    const expandedRows = ref([]);
    const typeDocument = ref(null);
    const checks = ref([]);
    const checkRol = ref([]);
    const permissionAllCheck = ref(false);
    const typesDocuments = ref([]);
    const permissions = ref([]);
    const roles = ref([]);
    const validationSchema = yup.object({
      typeDocument: yup
        .number()
        .required("El tipo de documento es requerido")
        .typeError("El tipo de documento es un numero"),
      numberDocument: yup
        .number()
        .required("El numero de documento es requerido")
        .typeError("El tipo de documento es un numero"),
      firstName: yup.string().required("Los nombres son requeridos"),
      lastName: yup.string().required("Los apellidos son requeridos"),
      email: yup
        .string()
        .email("El email debe ser un correo electrónico válido")
        .required("El email es requerido"),
      username: yup.string().required("El usuario es requerido"),
    });
    const {
      handleSubmit,
      values: model,
      errors,
    } = useForm({
      validationSchema,
    });
    const update = ref(false);
    useField("typeDocument", null, { initialValue: "" });
    useField("numberDocument", null, { initialValue: "" });
    useField("firstName", null, { initialValue: "" });
    useField("lastName", null, { initialValue: "" });
    useField("email", null, { initialValue: "" });
    useField("username", null, { initialValue: "" });
    const paginator = ref({
      per_page: 0,
      total: 0,
      first: 0,
    });
    const paginatorRol = ref({
      per_page: 0,
      total: 0,
      first: 0,
    });

    const onPage = ({ page, rows }) => {
      handlePermissions({ page: page + 1, rows });
    };
    const onPageRol = ({ page, rows }) => {
      handleRoles({ page: page + 1, rows });
    };
    const onChangeCheck = (data) => {
      modalConfirm.value.toggle();
      permission_has_active.value = data.permission_has_active;
      id.value = data.id;
    };

    const onYesModal = () => {
      modalConfirm.value.toggle();
      checkRol.value = [];
      checkRol.value.push(id.value);
      checks.value = [];
      for (const dataKey in permission_has_active.value) {
        checks.value.push(permission_has_active.value[dataKey].permissionId);
      }
    };

    const onSubmit = handleSubmit(async (values) => {
      if (checkRol.value.length === 0) {
        toast.add({
          severity: "error",
          summary: "Error",
          detail: "El rol debe llevar al menos 1 rol o permiso.",
          life: 3000,
        });
      } else {
        for (const checksKey in permission_has_active.value) {
          if (
            checks.value.indexOf(
              permission_has_active.value[checksKey].permissionId
            ) !== -1
          ) {
            checks.value.splice(
              checks.value.indexOf(
                permission_has_active.value[checksKey].permissionId
              ),
              1
            );
          }
        }
        values.rolId = checkRol.value[0];
        values.state = true;
        if (update.value) {
          updateState(values, idUser.value)
            .then(({ data }) => {
              let permissions = [];
              if (checks.value.length > 0) {
                for (const checksKey in checks.value) {
                  permissions.push({
                    permissionId: checks.value[checksKey],
                    type: 1,
                    baseId: idUser.value,
                  });
                }
              }
              assignPermissionUser({
                permissions,
                idUser: idUser.value,
                type: 1,
              })
                .then((response) => {
                  console.log(response);
                })
                .catch((error) => {
                  console.log(error);
                });
              toast.add({
                severity: "success",
                summary: "Exito",
                detail: "El usuario se creo correctamente.",
                life: 3000,
              });
            })
            .catch((error) => {
              console.log(error);
            });
          router.back();
        } else {
          saveUser(values)
            .then(async ({ data }) => {
              let permissions = [];
              if (checks.value.length > 0) {
                for (const checksKey in checks.value) {
                  permissions.push({
                    permissionId: checks.value[checksKey],
                    type: 1,
                    baseId: data.data.id,
                  });
                }
              }
              await assignPermissionUser({ permissions })
                .then((response) => {
                  console.log(response);
                })
                .catch((error) => {
                  console.log(error);
                });
              toast.add({
                severity: "success",
                summary: "Exito",
                detail: "El usuario se creo correctamente.",
                life: 3000,
              });
              router.back();
            })
            .catch((error) => {
              console.log(error);
            });
        }
      }
    });

    const onNoModal = () => {
      checkRol.value = [];
    };

    const permissionAll = () => {
      checks.value = [];
      if (permissionAllCheck.value) {
        getPermissionsService({ rows: 999999 })
          .then(({ data }) => {
            data.data.forEach((item) => {
              checks.value.push(item.id);
            });
          })
          .catch((error) => {
            console.log(error);
          });
      }
    };

    const handlePermissions = (queryParams) => {
      getPermissionsService(queryParams)
        .then(({ data }) => {
          permissions.value = data.data;
          paginator.value.per_page = data.per_page;
          paginator.value.total = data.total;
        })
        .catch((error) => {
          console.log(error);
        });
    };

    const handleRoles = (queryParams) => {
      getRolesService(queryParams)
        .then(({ data }) => {
          roles.value = data.data;
          paginatorRol.value.per_page = data.per_page;
          paginatorRol.value.total = data.total;
        })
        .catch((error) => {
          console.log(error);
        });
    };

    onMounted(() => {
      getTypeDocumentService({})
        .then(({ data }) => {
          typesDocuments.value = data;
        })
        .catch((error) => {
          console.log(error);
        });
      handlePermissions();
      handleRoles();
      if (route.params.id) {
        checks.value = [];
        update.value = true;
        idUser.value = route.params.id;
        getUsers({}, idUser.value)
          .then(({ data }) => {
            model.typeDocument = parseInt(data.data.typeDocument);
            model.numberDocument = data.data.numberDocument;
            model.firstName = data.data.firstName;
            model.lastName = data.data.lastName;
            model.email = data.data.email;
            model.username = data.data.username;
            checkRol.value.push(data.data.rolId);
            permission_has_active.value =
              data.data.permissionsRoles.permission_has_active;
            for (const dataKey in data.data.permissionsRoles
              .permission_has_active) {
              checks.value.push(
                data.data.permissionsRoles.permission_has_active[dataKey]
                  .permissionId
              );
            }
            for (const dataKey in data.data.permission_has_active_users) {
              checks.value.push(
                data.data.permission_has_active_users[dataKey].permissionId
              );
            }
          })
          .catch((error) => {
            console.log(error);
          });
      }
    });

    return {
      onNoModal,
      onYesModal,
      typesDocuments,
      typeDocument,
      permissions,
      checks,
      permissionAllCheck,
      permissionAll,
      handleSubmit,
      model,
      errors,
      paginator,
      paginatorRol,
      onPage,
      onPageRol,
      roles,
      expandedRows,
      onSubmit,
      update,
      onChangeCheck,
      checkRol,
      modalConfirm,
      idUser,
    };
  },
};
</script>

<style scoped>
.iconEliminar {
  color: #13c8dc;
  width: 38px;
  height: 44px;
}
.iconWarning {
  color: #13c8dc;
  width: 65px;
  height: 65px;
}
</style>
