<template>
    <div class="flex" style="color: #147BA8;">
        <i-icomoon-free-cog style="font-size: 20px;" />
        <span class="font-bold ml-6" style="font-size: 20px;">
            Tipificación
        </span>
    </div>
    <div class="m-6">
        <div class="grid grid-cols-1 md:grid-cols-3 gap-9">
            <div v-for="(item, key) in aseguradorasData" :key="key">
                <div @click="$router.push({name:'ajustes.aseguradoras.tipificacion.listar', params:{ id: item.id}})" 
                class="box p-4 cursor-pointer" 
                style="border-radius: 5px;">
                    <div class="grid grid-cols-1 md:grid-cols-3">
                        <div class="my-auto">
                            <div class="circle flex items-center pl-1 mx-auto">
                                <i-fa-solid-handshake
                                    class="text-center text-5xl text-white"
                                />
                            </div>
                        </div>
                        <div class="col-span-2">
                            <span style="color: #147BA8; font: normal normal 600 12px/16px Nunito; font-size: 12px;">Aseguradora</span>
                            <p style="color: #898392;">{{item.nombreCorto}}</p>
                            <p style="color: #898392;">NIT: {{item.nit}}</p>
                        </div>
                    </div>
                    <div class="flex justify-end" style="color: #13C8DC;">
                        <i-fa-solid-angle-right />
                    </div>
                </div>
            </div>
        </div>
        <div class="mt-9">
            <Paginator v-model="paginate.page"
                :rows="paginate.rows" 
                :totalRecords="paginate.total" 
                :rowsPerPageOptions="[10,20,30]" 
                @page="onPage" 
                ref="paginatorComponent"
            />
        </div>
    </div>
</template>
<script>
import { onMounted, ref, watch } from "vue";
import {useRoute, useRouter} from 'vue-router'
import getAseguradorasService from "../services/getAseguradorasService";

export default {
    name: 'aseguradorasTipificacion',
    setup() {
        const router = useRouter()
        const route = useRoute()
        const paginatorComponent = ref()
        const paginate = ref({
            total: 0,
            rows: 10,
            page: 0,
        })
        const aseguradorasData = ref([]);

        const onPage = ({rows}) => {
            const { query } = route
            router.push({
                query: {
                    ...query,
                    page: paginatorComponent.value.currentPage,
                    paginate: rows
                }
            })
        }

        const fetchAseguradoras = async() => {
            const queryParams = { ...route.query }
            queryParams.page = queryParams.page ? queryParams.page : 1
            queryParams.paginate = queryParams.paginate ? queryParams.paginate : paginatorComponent.value.rows
            const { data: records } = await getAseguradorasService(queryParams).catch(err=>{console.error(err.message)})
            aseguradorasData.value = records.data
            paginate.value.total = records.total
        }
        watch(() => route.query, () => {
            fetchAseguradoras()
        })
        onMounted(() => {
            fetchAseguradoras()
        });

        return {
            aseguradorasData,
            paginate,
            paginatorComponent,
            onPage
        }
    },
}
</script>

<style>
.circle {
    background: #2ae1eb;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    padding: 10px;
    background: transparent linear-gradient(180deg, var(--unnamed-color-13c8dc) 0%, #1FEFFC 100%) 0% 0% no-repeat padding-box;
    background: transparent linear-gradient(180deg, #13C8DC 0%, #1FEFFC 100%) 0% 0% no-repeat padding-box;
}
</style>
