<template>
  <div class="p-d-flex" style="color: #147ba8">
    <i class="pi pi-cog mr-2"></i>
    <span class="font-bold">Configuraciones</span>
  </div>
  <div class="rounded bg-white">
    <TabMenu :model="items" class="mt-8" />
    <div class="p-4">
      <router-view />
    </div>
  </div>
</template>

<script>
import { useRoute } from "vue-router";
import { watch, ref, onMounted } from "vue";
export default {
  name: "ConfigMain",
  components: {},
  setup() {
    const items = ref([
      {
        label: "Usuarios",
        to: "/ajustes/config/usuarios",
        class: "",
      },
      {
        label: "Roles",
        to: "/ajustes/config/roles",
        class: "",
      },
      {
        label: "Permisos",
        to: "/ajustes/config/permisos",
        class: "",
      },
    ]);
    const route = useRoute();

    watch(
      () => route.name,
      () => {
        if (route.name === "ajustes.config.usuarios.add") {
          items.value[0].class = "p-highlight";
          items.value[1].class = "";
          items.value[2].class = "";
        } else if (route.name === "ajustes.config.roles.add") {
          items.value[0].class = "";
          items.value[1].class = "p-highlight";
          items.value[2].class = "";
        } else if (route.name === "ajustes.config.usuarios.editar") {
          items.value[0].class = "p-highlight";
          items.value[1].class = "";
          items.value[2].class = "";
        } else if (route.name === "ajustes.config.roles.editar") {
          items.value[0].class = "";
          items.value[1].class = "p-highlight";
          items.value[2].class = "";
        } else if (route.name === "ajustes.config.permisos.editar") {
          items.value[0].class = "";
          items.value[1].class = "";
          items.value[2].class = "p-highlight";
        } else if (route.name === "ajustes.config.permisos.add") {
          items.value[0].class = "";
          items.value[1].class = "";
          items.value[2].class = "p-highlight";
        } else {
          items.value[0].class = "";
          items.value[1].class = "";
          items.value[2].class = "";
        }
      }
    );

    onMounted(() => {
      if (route.name === "ajustes.config.usuarios.add") {
        items.value[0].class = "p-highlight";
        items.value[1].class = "";
        items.value[2].class = "";
      } else if (route.name === "ajustes.config.roles.add") {
        items.value[0].class = "";
        items.value[1].class = "p-highlight";
        items.value[2].class = "";
      } else if (route.name === "ajustes.config.usuarios.editar") {
        items.value[0].class = "p-highlight";
        items.value[1].class = "";
        items.value[2].class = "";
      } else if (route.name === "ajustes.config.roles.editar") {
        items.value[0].class = "";
        items.value[1].class = "p-highlight";
        items.value[2].class = "";
      } else if (route.name === "ajustes.config.permisos.editar") {
        items.value[0].class = "";
        items.value[1].class = "";
        items.value[2].class = "p-highlight";
      } else if (route.name === "ajustes.config.permisos.add") {
        items.value[0].class = "";
        items.value[1].class = "";
        items.value[2].class = "p-highlight";
      } else {
        items.value[0].class = "";
        items.value[1].class = "";
        items.value[2].class = "";
      }
    });

    return {
      items,
    };
  },
};
</script>
