<template>
<div class="p-4">
    <div class="flex" style="color: #147BA8;">
        <i-icomoon-free-cog style="font-size: 20px;" />
        <span class="font-bold ml-6" style="font-size: 20px;">
            Tipificación
        </span>
    </div>
    <div class="card-container blue-container flex flex-row-reverse flex-wrap">
        <Button
        @click="$router.push({name: 'ajustes.aseguradoras.tipificacion'})"
        icon="pi pi-arrow-left"
        class="p-button-raised p-button-rounded p-button-warning ml-8"
        />
    </div>
    <div class="pl-9" style="color: #14CCDF;">
        <p>{{aseguradora.nombreCorto}}</p>
        <p>NIT: {{aseguradora.nit}}</p>
    </div>
    <div class="mt-6">
        <div class="grid grid-cols-1 md:grid-cols-2 gap-9">
            <div v-for="(item, key) in aseguradora.tipificador_servicios" :key="key" 
            class="box" style="height: 569px;">
              <div class="grid grid-cols-2">
                <div class="p-3 text-white" 
                style="color: #14CCDF; font-size: 20px; line-height: 20px; background: var(--unnamed-color-147ba8) 0% 0% no-repeat padding-box; background: #147BA8 0% 0% no-repeat padding-box;">
                  {{item.servicio.nombre}}
                </div>
                <div class="flex flex-row-reverse flex-wrap text-white p-3" 
                style="background: var(--unnamed-color-147ba8) 0% 0% no-repeat padding-box; background: #147BA8 0% 0% no-repeat padding-box;">
                    <span @click="$refs.soportesModal.toggle(item.id)"
                    v-tooltip.top="'Agregar soportes'">
                        <i-akar-icons-plus class="ml-3 cursor-pointer" />
                    </span>
                    <span @click="openModalConfirmDelete(item.id)" 
                    v-tooltip.top="'Eliminar'">
                        <i-fa-solid-trash-alt class="ml-3 cursor-pointer" />
                    </span>
                    <span @click="$refs.serviciosModal.toggle($route.params.id, item)"
                    v-tooltip.top="'Editar'">
                        <i-fa-pencil class="ml-3 cursor-pointer" />
                    </span>
                </div>
              </div>
                <div class="p-4" style="height: 490px; overflow-y: auto;">
                    <div class="box-daily border my-3" style="color: #898392;" v-for="(row, k) in item.soportes" :key="k">
                        <div style="color: #14CCDF;">
                            {{row.nombre}}
                        </div>
                        <div class="mt-6">
                          <span class="p-float-label">
                            <InputText
                              @keyup="onSubmit($event, row)"
                              v-model="row.file_tipificado"
                              :id="`file_tipificado_${k}`"
                              type="text"
                              :class="`w-full p-inputtext-sm`"
                            />
                            <label :for="`file_tipificado_${k}`">
                              Nombre tipificado del documento
                            </label>
                          </span>
                        </div>
                        <div class="grid grid-cols-2 mt-4">
                          <div class="flex">
                            <InputSwitch @change="onSubmit($event, row)" v-model="row.status" /> 
                            <label class="ml-3">{{row.status ? 'ACTIVO' : 'INACTIVO'}}</label>
                          </div>
                          <div>
                            <div class="field-checkbox">
                              <Checkbox @change="onSubmit($event, row)" id="binary" v-model="row.is_required" :binary="true" />
                              <label for="binary" class="ml-3">{{row.is_required ? 'REQUERIDO' : 'NO REQUERIDO'}}</label>
                            </div>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
            <div @click="$refs.serviciosModal.toggle($route.params.id)" class="box cursor-pointer flex flex-col items-center justify-center text-center" 
            style="height: 569px; background-color: #EBEAEE; color: #898392;">
                <i-akar-icons-plus style="font-size: 50px;" />
                <p style="font-size: 20px;"> Agregar Nuevo Servicio </p>
            </div>
        </div>
    </div>
    <!-- modal tipo regla validacion -->
    <serviciosModal ref="serviciosModal" @success="findAseguradoras" />
</div>
</template>
<script>
import { onMounted, ref, watch, defineAsyncComponent } from "vue";
import {useRoute, useRouter} from 'vue-router';
import { useToast } from "primevue/usetoast";
import findAseguradorasService from "../../services/findAseguradorasService";
import soportesGetService from '../services/soportesGetService'
import soportesSaveService from '../services/soportesSaveService'
import { orderBy } from 'lodash/orderBy'
export default {
    name: "tipicadorSoportesAseguradoras",
    components: {
        serviciosModal: defineAsyncComponent(() =>
            import("./serviciosmodal.vue")
        ),
    },
    setup () {
        const router = useRouter();
        const route = useRoute();
        const toast = useToast();
        
        const modalConfirm = ref()
        const modalConfirmDeleteRules = ref()
        const paginatorComponent = ref()
        const aseguradora = ref([]);

        const onSubmit = async(event, row) => {
          if (event.key === 'Enter' || event.keyCode === 13 || event.type === 'click') {
            const payload = {
              idAseguradoraServicio: row.idAseguradoraServicio,
              gestionInformacionSoporteId: row.gestionInformacionSoporteId,
              file_tipificado: row.file_tipificado.toUpperCase(),
              status: row.status,
              is_required: row.is_required,
            }
            const { data } = await soportesSaveService(payload)
            .catch(error=>{
              console.log('error al guardar tipificador soporte: ', error);
            })
            if (data) {
              findAseguradoras()
              toast.add({
                severity:'success', 
                summary: 'Nuevo tipificador soporte de la aseguradora', 
                detail:'El tipificador soporte de la Aseguradora se ha creado correctamente',
                life: 3000
              });
            }
          }
        }
        
        const findAseguradoras = async() => {
            const { id } = route.params
            // ver aseguradora 
            const { data: data_aseguradora } = await findAseguradorasService(id)
            .catch(error=>{
                console.log('Error ver aseguradora', error);
            })
            // listar soporte
            const { data: data_soportes } = await soportesGetService()
            .catch(error=>{
                console.log('Error listar soportes', error);
            })

            if (data_aseguradora) {
              aseguradora.value = data_aseguradora
              aseguradora.value.tipificador_servicios = data_aseguradora.tipificador_servicios.map(item => {
                let soportes = []
                if (data_soportes) {
                  soportes = data_soportes.map(row=>{
                    let soporteFind = item.soportes.find(f=>f.idAseguradoraServicio === item.id && f.gestionInformacionSoporteId === row.id)
                    return {
                      ...row,
                      idAseguradoraServicio: item.id,
                      gestionInformacionSoporteId: row.id,
                      file_tipificado: soporteFind ? soporteFind.file_tipificado : '',
                      status: soporteFind ? soporteFind.status : false,
                      is_required: soporteFind ? soporteFind.is_required : false,
                    }
                  })
                }

                return { 
                  ...item,
                  nombre: item.servicio.nombre,
                  soportes
                }
              })

              aseguradora.value.tipificador_servicios = orderBy(aseguradora.value.tipificador_servicios, ['nombre'], ['asc'])
            }
        }
        
        watch(() => route.query, () => {
            if(route.name === 'ajustes.aseguradoras.tipificacion.listar'){
                findAseguradoras()
            }
        })

        onMounted(() => {
          findAseguradoras()
        });

        return {
            aseguradora,
            paginatorComponent,
            modalConfirm,
            modalConfirmDeleteRules,
            onSubmit,
            findAseguradoras,
        }
    }
};
</script>

<style scoped>
.iconEliminar {
  color: #13c8dc;
  width: 38px;
  height: 44px;
}

.circle {
    background: #2ae1eb;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    padding: 10px;
    background: transparent linear-gradient(180deg, var(--unnamed-color-13c8dc) 0%, #1FEFFC 100%) 0% 0% no-repeat padding-box;
    background: transparent linear-gradient(180deg, #13C8DC 0%, #1FEFFC 100%) 0% 0% no-repeat padding-box;
}

/* ===== Scrollbar CSS ===== */
  /* Firefox */
* {
    scrollbar-width: auto;
    scrollbar-color: #C4C4C4 #ffffff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 16px;
}

*::-webkit-scrollbar-track {
    background: #ffffff;
}

*::-webkit-scrollbar-thumb {
    background-color: #C4C4C4;
    border-radius: 10px;
    border: 3px solid #ffffff;
}
</style>

