<template>
    <!-- modal confirmar regla -->
    <modalConfirm ref="modalConfirm" @responseYes="onSubmit">
        <template v-slot:icon>
            <i-fa-pencil class="iconEliminar" v-if="model.id"/>
            <i-akar-icons-plus class="iconEliminar" v-else />
        </template>
        <div class="justify-content-around flex h-full w-full flex-col">
            <span class="text-center text-2xl" style="color: #13c8dc; font-weight: bold" >
                {{model.id ? 'Cambiar servicio' : 'Agregar servicio'}}
            </span>
            <div class="mt-4">
                <span class="p-float-label">
                    <Dropdown v-model="model.gestionInformacionServicioId" 
                    :options="services" 
                    optionLabel="nombre" 
                    optionValue="id" 
                    id="gestionInformacionServicioId" 
                    class="w-full"/>
                    <label for="gestionInformacionServicioId">Servicio</label>
                </span>
                <div class="text-red-700">
                    {{ errors.gestionInformacionServicioId }}
                </div>
            </div>
            <span class="text-center">
                {{model.id ? '¿Esta seguro/a que desea realizar este cambio?' : '¿Esta seguro/a que desea agregar este nuevo servicio?'}}
            </span>
        </div>
    </modalConfirm>
</template>
<script>
import { onMounted, ref, watch } from "vue";
import { useToast } from "primevue/usetoast";
import serviciosGetService from "../services/serviciosGetService";
import serviciosSaveService from "../services/serviciosSaveService";
import { useField, useForm } from "vee-validate";
import { string, object } from "yup";

export default {
    name: 'tipificadorServiciosModal',
    setup (props, { emit } ) {
        const toast = useToast();
        const modalConfirm = ref()
        const services = ref([])

        const validationSchema = object({
            idAseguradora: string().required().label("aseguradora"),
            gestionInformacionServicioId: string().required().label("servicio"),
        });

        const {
            handleSubmit,
            handleReset,
            values: model,
            errors,
        } = useForm({ validationSchema });
        
        useField("id", null, { initialValue: "" });
        useField("idAseguradora", null, { initialValue: "" });
        useField("gestionInformacionServicioId", null, { initialValue: "" });

        const onSubmit = handleSubmit(async() => {
            try {
                if (model.id) {
                    const { data } = await updateAseguradorasRulesService(model, model.id)
                    .catch((err) => {
                        console.log(err);
                        modalConfirm.value.toggle()
                    });
                    if (data) {
                        modalConfirm.value.toggle()
                        handleReset()
                        toast.add({
                            severity:'success', 
                            summary: 'Editar servicio', 
                            detail:'Los cambios se han guardado correctamente',
                            life: 3000
                        });
                        emit('success')
                    }
                }else {
                    const { data } = await serviciosSaveService(model)
                    .catch((err) => {
                        console.log(err);
                        modalConfirm.value.toggle()
                    });
                    if (data) {
                        modalConfirm.value.toggle()
                        handleReset()
                        toast.add({
                            severity:'success', 
                            summary: 'Nuevo servicio', 
                            detail:'El servicio se ha creado correctamente',
                            life: 3000
                        });
                        emit('success')
                    }
                }
            } catch (error) {
                console.error(error);
            }
        })
        
        const toggle = (idAseguradora, obj=false) => {
            handleReset()
            if(obj){
                model.id = obj.id
                model.gestionInformacionServicioId = obj.gestionInformacionServicioId
            }
            model.idAseguradora = idAseguradora
            modalConfirm.value.toggle()
        }

        onMounted(()=>{
          serviciosGetService().then(({data})=>{
            services.value = data
          })
        })

        return {
            model,
            errors,
            modalConfirm,
            services,
            onSubmit,
            toggle
        }
    }
}
</script>
<style>
.iconEliminar {
  color: #13c8dc;
  width: 38px;
  height: 44px;
}
</style>