<template>
  <section class="modalValidar">
    <Dialog
      v-model:visible="display"
      :closable="true"
      :breakpoints="{ '960px': '75vw', '640px': '100vw' }"
      :style="{ width: '477px', height: '354px' }"
      :modal="true"
      closeOnEscape
      class="dialog-validar"
    >
      <template #header>
        <div class="flex w-full justify-center">
          <svg
            class="text-gradient-1"
            height="72"
            width="54"
            xmlns="http://www.w3.org/2000/svg"
            aria-hidden="true"
            role="img"
            preserveAspectRatio="xMidYMid meet"
            viewBox="0 0 16 16"
          >
            <path
              fill="currentColor"
              d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093l3.473-4.425a.267.267 0 0 1 .02-.022z"
            />
          </svg>
        </div>
      </template>

      <slot />

      <template #footer>
        <div class="o-modal m-0 flex flex-wrap">
          <div
            class="boton-modal left flex h-[70px] w-1/2 items-center"
            @click="handleValid"
          >
            <span class="w-full text-3xl">Validar</span>
          </div>
          <div
            class="boton-modal right flex h-[70px] w-1/2 items-center"
            @click="handleReportar"
          >
            <span class="w-full text-3xl">Reportar</span>
          </div>
        </div>
      </template>
    </Dialog>
  </section>
</template>
<script>
import { ref } from "vue";
export default {
  name: "ModalValidar",
  setup(props, { emit }) {
    /** data **/
    const display = ref(false);
    /** methods **/
    const toggle = () => {
      display.value = !display.value;
    };
    const handleValid = () => {
      emit("validar");
      display.value = false;
    };
    const handleReportar = () => {
      emit("reportar");
      display.value = false;
    };
    /** return  **/
    return {
      display,
      toggle,
      handleValid,
      handleReportar,
    };
  },
};
</script>

<style lang="scss">
.p-dialog .p-dialog-header-icons {
  display: none !important;
}
</style>
