<template>
  <div class="p-d-flex" style="color: #147ba8">
    <i class="pi pi-cog mr-2" style="font-size: 20px"></i>
    <span class="font-bold">Aseguradoras</span>
  </div>
  <div class="card-container blue-container flex flex-row-reverse flex-wrap">
    <Button
      v-tooltip.top="'Descargar Plantilla Excel para Cargar Aseguradoras'"
      icon="pi pi-file-excel"
      class="p-button-warning p-button-rounded ml-3"
      @click="onDownloadTemplate()"
    >
      <i-fa-solid-download />
    </Button>
    <Button
      v-tooltip.top="'Cargar Aseguradoras en Excel'"
      icon="pi pi-file-excel"
      class="p-button-warning p-button-rounded ml-3"
      @click="fileInput.click()"
    >
      <i-fa-solid-upload />
      <input v-show="false"
      id="upfile"
      type="file"
      @change="onUpload($event.target)"
      class="form-control"
      ref="fileInput"/>
    </Button>
    <Button @click="handleExcelDownload"
    icon="pi pi-file-excel" 
    class="p-button-raised p-button-rounded" 
    v-tooltip.top="'Descargar Excel Sobre los Aseguradoras Filtrados'"
    />
    <Button label="Agregar Aseguradora"
    icon="pi pi-plus" 
    class="mr-2" 
    @click="$router.push({name: 'ajustes.aseguradoras.form'})"
    v-tooltip.top="'Agregue una nueva aseguradora a su lista'"
    />
  </div>
  <div class="card mt-5">
    <DataTable :value="aseguradorasData" 
    :lazy="true"
    responsiveLayout="scroll"
    dataKey="id"
    :globalFilterFields="['nit','razonSocial','nombreCorto','codigo', 'correo', 'telefono', 'direccion']"
    v-model:filters="filters" filterDisplay="menu"
    @filter="onFilter($event)" 
    >
        <template #header>
          <div class="grid grid-cols-1 md:grid-cols-2">
            <div>
              <MultiSelect
                  :modelValue="selectedColumns"
                  :options="columns"
                  optionLabel="header"
                  @update:modelValue="onToggle"
                  placeholder="Select Columns"
                  style="width: 20em"
              />
            </div>
            <div class="text-right my-auto" style="color: #147BA8;">
              <span>Total aseguradoras: {{paginate.total}}</span>
            </div>
          </div>
        </template>
        <template #empty>
            No customers found.
        </template>
        <template v-for="(col, index) of selectedColumns" :key="index">
            <Column :field="col.field" :header="col.header">
                <template #body="{data}">
                    <span v-if="col.field=='fechaNacimiento'">
                      {{getFormatDate(data[col.field])}}
                    </span>
                    <span v-else>
                      {{data[col.field]}}
                    </span>
                </template>
                <template #filter="{filterModel}">
                    <InputText type="text" 
                    v-model="filterModel.value" 
                    class="p-column-filter" 
                    placeholder="Search by name"/>
                </template>
                <template #filterclear="{filterCallback}">
                  <Button type="button" icon="pi pi-times" @click="filterCallback()" class="p-button-secondary"></Button>
                </template>
                <template #filterapply="{filterCallback}">
                  <Button type="button" icon="pi pi-check" @click="filterCallback()" class="p-button-success"></Button>
                </template>
            </Column>
        </template>
        <Column headerStyle="width:120px;" style="color: #147ba8">
          <template #body="{data}">
            <div class="flex">
                <span @click="$router.push({name:'ajustes.aseguradoras.editar', params:{ id: data.id}})" 
                class="cursor-pointer"
                v-tooltip.top="'Editar'" >
                    <i-fa-solid-pencil-alt />
                </span>
                <span v-tooltip.top="'Eliminar'">
                    <i-fa-solid-trash-alt 
                    @click="openModalConfirmDelete(data.id)"
                    class="ml-2 cursor-pointer" 
                    />
                </span>
            </div>
          </template>
        </Column>
    </DataTable>

    <Paginator v-model="paginate.page"
    :rows="paginate.rows" 
    :totalRecords="paginate.total" 
    :rowsPerPageOptions="[10,20,30]" 
    @page="onPage" 
    ref="paginatorComponent"
    />

    <!-- modal confirmar -->
    <modalConfirm ref="modalConfirm" @responseYes="onSubmitDelete">
      <template v-slot:icon>
        <i-fa-solid-trash-alt class="iconEliminar" />
      </template>
      <div class="justify-content-around flex h-full w-full flex-col">
        <span class="text-center text-2xl" style="color: #13c8dc; font-weight: bold" >
          Eliminar Aseguradora
        </span>
        <span class="text-center">
          ¿Esta seguro/a que desea Eliminar esta Aseguradora?
        </span>
      </div>
    </modalConfirm>
  </div>
</template>

<script>
import {useRoute, useRouter} from 'vue-router'
import { onMounted, ref, watch } from "vue";
import getAseguradorasService from "./services/getAseguradorasService";
import deleteAseguradorasService from "./services/deleteAseguradorasService";
import importAseguradorasService from "./services/importAseguradorasService";
import downloadAseguradorasService from "./services/downloadAseguradorasService";
import { FilterMatchMode, FilterOperator } from 'primevue/api'
import { useToast } from "primevue/usetoast";
import dayjs from "dayjs";

export default {
  name: "aseguradoras",
  setup() {
    const toast = useToast();
    const router = useRouter()
    const route = useRoute()
    const paginatorComponent = ref()
    const paginate = ref({
      total: 0,
      rows: 10,
      page: 0,
    })
    const aseguradorasData = ref([]);
    const modalConfirm = ref()
    const paciente_selected = ref()
    const fileInput = ref(null)

    const columns = ref([
      { field: "nit", header: "Número NIT" },
      { field: "razonSocial", header: "Razón Social" },
      { field: "nombreCorto", header: "Nombre Corto" },
      { field: "codigo", header: "Cod. Aseguradora" },
      { field: "correo", header: "Correo Electrónico" },
      { field: "telefono", header: "Teléfono" },
      { field: "direccion", header: "Dirección" },
    ]);

    const selectedColumns = ref(columns.value);

    const filters = ref({
      nit: {
        operator: FilterOperator.AND,
        constraints: [{ value: null, matchMode: FilterMatchMode.STARTS_WITH }],
      },
      razonSocial: {
        operator: FilterOperator.AND,
        constraints: [{ value: null, matchMode: FilterMatchMode.STARTS_WITH }],
      },
      nombreCorto: {
        operator: FilterOperator.AND,
        constraints: [{ value: null, matchMode: FilterMatchMode.STARTS_WITH }],
      },
      correo: {
        operator: FilterOperator.AND,
        constraints: [{ value: null, matchMode: FilterMatchMode.STARTS_WITH }],
      },
      telefono: {
        operator: FilterOperator.AND,
        constraints: [{ value: null, matchMode: FilterMatchMode.STARTS_WITH }],
      },
      direccion: {
        operator: FilterOperator.AND,
        constraints: [{ value: null, matchMode: FilterMatchMode.STARTS_WITH }],
      },
      codigo: {
        operator: FilterOperator.AND,
        constraints: [{ value: null, matchMode: FilterMatchMode.STARTS_WITH }],
      },
    });

    const onToggle = (val) => {
      selectedColumns.value = columns.value.filter((col) => val.includes(col));
    }

    const openModalConfirmDelete = (id) => {
      paciente_selected.value = id
      modalConfirm.value.toggle()
    }

    const onSubmitDelete = async() => {
      const { data } = await deleteAseguradorasService(paciente_selected.value)
      .catch(err=>{
        console.log(err)
        modalConfirm.value.toggle()
      })
      if (data) {
        modalConfirm.value.toggle()
        fetchAseguradoras()
        toast.add({
          severity:'success', 
          summary: 'Eliminado Correctamente', 
          detail:'La aseguradora se ha eliminado correctamente, no será posible recuperar su información',
          life: 3000
        });
      }
    }

    const onPage = ({rows}) => {
        const { query } = route
        router.push({
            query: {
                ...query,
                page: paginatorComponent.value.currentPage,
                paginate: rows
            }
        })
    }

    const fetchAseguradoras = async() => {
        const queryParams = { ...route.query }
        queryParams.page = queryParams.page ? queryParams.page : 1
        queryParams.paginate = queryParams.paginate ? queryParams.paginate : paginatorComponent.value.rows
        const { data: records } = await getAseguradorasService(queryParams).catch(err=>{console.error(err.message)})
        aseguradorasData.value = records.data
        paginate.value.total = records.total
    }

    const setQueryParams = () => {
        for(const key in route.query) {
          paginate.value[key] = route.query[key]
        }
    }

    const onFilter = () => {
      const queryParams = route.query
      router.push({ 
        query: { 
          ...queryParams, 
          filters: btoa(JSON.stringify(filters.value)) 
        } 
      })
    }

    const getFormatDate = (date) => {
      return date ? dayjs(date).format("YYYY/MM/DD") : '----/--/--';
    };

    const onDownloadTemplate = () => {
      window.open("/aseguradoras-template.xlsx", "_blank");
    };

    const resetInputFil = () => {
      fileInput.value = null
      const upfile = document.getElementById('upfile')
      if (upfile) {
        upfile.value = ''
      }
    }

    const onUpload = async(event) => {
      const formData = new FormData();
      formData.append("attachment", event.files[0]);
      const { data } = await importAseguradorasService(formData)
      .catch(error=>{
        console.log(error);
        resetInputFil()
      })
      if (data) {
        resetInputFil()
        toast.add({
          severity:'success', 
          summary: 'Éxito', 
          detail:'Se cargó el excel con las aseguradoras',
          life: 3000
        });
        fetchAseguradoras();
      }
    };

    const handleExcelDownload = async() => {
      const queryParams = { ...route.query }
      queryParams.page = queryParams.page ? queryParams.page : 1
      queryParams.paginate = queryParams.paginate ? queryParams.paginate : paginatorComponent.value.rows
      const response = await downloadAseguradorasService(queryParams)
      .catch(err=>{ console.error(err.message) })
      window.open(response, '_blank')
    }

    watch(() => route.query, () => {
        fetchAseguradoras()
    })
    onMounted(() => {
        fetchAseguradoras()
        setQueryParams()
    });

    return {
      columns,
      aseguradorasData,
      selectedColumns,
      paginate,
      paginatorComponent,
      filters,
      modalConfirm,
      fileInput,
      onToggle,
      onPage,
      openModalConfirmDelete,
      onSubmitDelete,
      onFilter,
      getFormatDate,
      onDownloadTemplate,
      onUpload,
      handleExcelDownload
    };
  },
};
</script>

<style scoped>
.iconEliminar {
  color: #13c8dc;
  width: 38px;
  height: 44px;
}
</style>
