@layer components {
    .login {
        background-image: url("../../images/fondo-login.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top;
        background-attachment: fixed;
        height: 100vh;
        padding: 0;
    }
}
@layer components {
    .login-mobile {
        background-color: #F5F7FB;
        background-image: none;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top;
        background-attachment: fixed;
        height: 100vh;
        padding: 0;
    }
}