.v-sidebar-menu .vsm--link {
  font-size: 1rem;
}
.v-sidebar-menu .vsm--toggle-btn {
    background-color: transparent;
}
.v-sidebar-menu .vsm--dropdown {
    background-color: #36363b;
}
.v-sidebar-menu .vsm--link_hover {
    background: rgb(19, 200, 220);
    background: linear-gradient(
        190deg,
        rgba(19, 200, 220, 1) 0%,
        rgba(43, 226, 236, 1) 100%
    );
    border-radius: 0 35px 35px 0;
}
.v-sidebar-menu.vsm_expanded .vsm--link_level-1.vsm--link_open {
    color: #fff;
    background-color: rgba(30, 30, 33, 0.5);
}
.v-sidebar-menu .vsm--link_active {
    font-weight: 600;
    color: #ffffff;
    background: rgb(19, 200, 220);
    background: linear-gradient(
        190deg,
        rgba(19, 200, 220, 1) 0%,
        rgba(43, 226, 236, 1) 100%
    );
    border-radius: 0 35px 35px 0;
}
.v-sidebar-menu .vsm--link_hover {
    font-weight: 600;
    color: #ffffff;
    background: rgb(19, 200, 220);
    background: linear-gradient(
        190deg,
        rgba(19, 200, 220, 1) 0%,
        rgba(43, 226, 236, 1) 100%
    );
    border-radius: 0 35px 35px 0;
    white-space: normal;
}
.v-sidebar-menu.vsm_expanded .vsm--link_level-1.vsm--link_open .vsm--icon {
    background-color: transparent;
}
.v-sidebar-menu .vsm--link_level-1.vsm--link_active {
    box-shadow: none !important;
}
.v-sidebar-menu .vsm--link_mobile {
    background-color: #3f3f46;
}
.v-sidebar-menu .vsm--mobile-bg {
    background: rgb(19, 200, 220);
    background: linear-gradient(
        190deg,
        rgba(19, 200, 220, 1) 0%,
        rgba(43, 226, 236, 1) 100%
    );
}
.v-sidebar-menu .vsm--link_level-3 .vsm--icon {
    height: 30px;
    line-height: 30px;
    width: 30px;
    flex-shrink: 0;
    text-align: center;
    border-radius: 3px;
}
.v-sidebar-menu .vsm--link_level-2 .vsm--icon {
    height: 30px;
    line-height: 30px;
    width: 30px;
    flex-shrink: 0;
    text-align: center;
    border-radius: 3px;
}
.v-sidebar-menu .vsm--link_level-1 .vsm--icon {
    border-radius: 3px;
    flex-shrink: 0;
    height: 30px;
    line-height: 30px;
    text-align: center;
    width: 30px;
    background-color: transparent;
}
.v-sidebar-menu.vsm_collapsed .vsm--link_level-1.vsm--link_hover .vsm--icon {
    background-color: transparent;
}
.v-sidebar-menu.vsm_white-theme .vsm--link_level-1 .vsm--icon {
    background-color: transparent;
}

.v-sidebar-menu .vsm--item {
    white-space: normal;
}
.v-sidebar-menu.vsm_white-theme .vsm--link_level-1.vsm--link_active {
    color: #ffffff;
}
.v-sidebar-menu.vsm_white-theme .vsm--link_level-1.vsm--link_active .vsm--icon {
    background-color: transparent;
}
.v-sidebar-menu.vsm_white-theme.vsm_expanded
.vsm--link_level-1.vsm--link_open
.vsm--icon {
    background-color: transparent;
}
.vsm--link.vsm--link_level-1.vsm--link_hover.vsm--link_open {
    background: #cccccc;
}
.v-sidebar-menu.vsm_white-theme.vsm_expanded .vsm--link_level-1.vsm--link_open {
    background: transparent;
    color: #686868;
}
.v-sidebar-menu.vsm_white-theme.vsm_expanded .vsm--link_level-2.vsm--link_open {
    background: transparent;
    color: #686868;
}
.vsm--link_open .vsm--title span {
    font-weight: bolder;
}
.vsm--link.vsm--link_level-1.vsm--link_active.vsm--link_open {
    background: transparent;
}
.vsm--link.vsm--link_level-1.vsm--link_active.vsm--link_open .vsm--icon {
    color: #686868;
}
.vsm--link.vsm--link_level-1.vsm--link_hover.vsm--link_active.vsm--link_open {
    background: #f8f8f8;
}
.vsm--link.vsm--link_level-1.vsm--link_hover.vsm--link_active.vsm--link_open
.vsm--icon {
    color: #686868;
}
.v-sidebar-menu.vsm_white-theme.vsm_collapsed
.vsm--link_level-1.vsm--link_hover
.vsm--icon {
    background-color: transparent;
    color: white;
}
.v-sidebar-menu .vsm--dropdown {
    padding: 0;
}
.vsm--link.vsm--link_level-2 {
    padding-left: 25px;
}
.vsm--link.vsm--link_level-2.vsm--link_hover {
    padding-left: 25px;
}
.vsm--link.vsm--link_level-2.vsm--link_hover.vsm--link_active {
    padding-left: 25px;
}
.vsm--link.vsm--link_level-3 {
    padding-left: 50px;
}
.vsm--link.vsm--link_level-3.vsm--link_hover {
    padding-left: 50px;
}
.vsm--link.vsm--link_level-3.vsm--link_hover.vsm--link_active {
    padding-left: 50px;
}
.v-sidebar-menu.vsm_white-theme .vsm--link {
    color: #686868;
}
.v-sidebar-menu.vsm_white-theme .vsm--link_hover {
    color: white;
}
.vsm--link.vsm--link_level-2.vsm--link_active {
    color: white;
}
.vsm--link.vsm--link_level-3.vsm--link_active {
    color: white;
}
.v-sidebar-menu.vsm_collapsed .vsm--scroll-wrapper {
    width: 65px;
}
.v-sidebar-menu.vsm_white-theme .vsm--dropdown {
    background-color: #f4f5fa;
}
.v-sidebar-menu.vsm_white-theme .vsm--mobile-bg {
    background-color: transparent;
}