<template>
  <div class="p-d-flex" style="color: #147ba8">
    <i class="pi pi-cog mr-2"></i>
    <span class="font-bold">Proveedores</span>
  </div>
  <div class="card-container blue-container flex flex-row-reverse flex-wrap">
    <!--    <i-fa-solid-dragon class="text-5xl text-red-700"></i-fa-solid-dragon>-->
    <!-- :chooseLabel="'Importar'" -->
    <Button
      v-tippy="'Descargar Plantilla Excel para Cargar Proveedores'"
      icon="pi pi-file-excel"
      class="p-button-warning p-button-rounded ml-3"
      @click="onDownloadTemplate()"
    >
      <i-fa-solid-download />
    </Button>
    <Button
      v-tippy="'Cargar Proveedores en Excel'"
      icon="pi pi-file-excel"
      class="p-button-warning p-button-rounded ml-3"
      @click="fileInput.click()"
    >
      <i-fa-solid-upload />
      <input
        v-show="false"
        id="upfile"
        type="file"
        @change="onUpload($event.target)"
        class="form-control"
        ref="fileInput"
      />
    </Button>
    <Button
      icon="pi pi-file-excel"
      class="p-button-raised p-button-rounded"
      v-tippy="'Descargar Excel Sobre los datos Filtrados'"
      @click="onExportFilter()"
    />
    <Button
      label="Agregar Proveedor"
      icon="pi pi-plus"
      class="mr-2"
      @click="$router.push({ name: 'ajustes.proveedores.form' })"
    />
  </div>
  <div class="card mt-5">
    <DataTable
      :value="patientsData"
      :lazy="true"
      responsiveLayout="scroll"
      dataKey="id"
      :globalFilterFields="[
        'tipoDocumento',
        'documento',
        'fechaNacimiento',
        'fullname',
      ]"
      v-model:filters="filters"
      filterDisplay="menu"
      @filter="onFilter($event)"
    >
      <template #header>
        <div class="card-container flex flex-wrap justify-between">
          <MultiSelect
            :modelValue="selectedColumns"
            :options="columns"
            optionLabel="header"
            @update:modelValue="onToggle"
            placeholder="Select Columns"
            style="width: 20em"
          />
          <div class="align-content-center card-container flex flex-wrap">
            <span class="text-gradient-1"
              >Total proveedores: {{ paginate.total }}</span
            >
          </div>
        </div>
      </template>
      <template #empty> No se encontraron registros </template>
      <template v-for="(col, index) of selectedColumns" :key="index">
        <Column :field="col.field" :header="col.header">
          <template #body="{ data }">
            <span>
              {{ data[col.field] }}
            </span>
          </template>
          <template #filter="{ filterModel }">
            <InputText
              type="text"
              v-model="filterModel.value"
              class="p-column-filter"
              placeholder="Buscar"
            />
          </template>
          <template #filterclear="{ filterCallback }">
            <Button
              type="button"
              icon="pi pi-times"
              @click="filterCallback()"
              class="p-button-secondary"
            ></Button>
          </template>
          <template #filterapply="{ filterCallback }">
            <Button
              type="button"
              icon="pi pi-check"
              @click="filterCallback()"
              class="p-button-success"
            ></Button>
          </template>
        </Column>
      </template>
      <Column headerStyle="width:120px;" style="color: #147ba8">
        <template #body="{ data }">
          <div class="flex">
            <span
              @click="
                $router.push({
                  name: 'ajustes.proveedores.editar',
                  params: { id: data.id },
                })
              "
              class="cursor-pointer"
              v-tippy="'Editar'"
            >
              <i-fa-solid-pencil-alt />
            </span>
            <span v-tippy="'Eliminar'">
              <i-fa-solid-trash-alt
                @click="openModalConfirmDelete(data.id)"
                class="ml-2 cursor-pointer"
              />
            </span>
          </div>
        </template>
      </Column>
    </DataTable>

    <Paginator
      v-model="paginate.page"
      :rows="paginate.rows"
      :totalRecords="paginate.total"
      :rowsPerPageOptions="[10, 20, 30]"
      @page="onPage"
      ref="paginatorComponent"
    />

    <!-- modal confirmar -->
    <modalConfirm ref="modalConfirm" @responseYes="onSubmitDelete">
      <template v-slot:icon>
        <i-fa-solid-trash-alt class="iconEliminar" />
      </template>
      <div class="justify-content-around flex h-full w-full flex-col">
        <span
          class="text-center text-2xl"
          style="color: #13c8dc; font-weight: bold"
        >
          Eliminar Proveedor
        </span>
        <span class="text-center">
          ¿Esta seguro/a que desea Eliminar este Proveedor?
        </span>
      </div>
    </modalConfirm>
  </div>
</template>

<script>
import { useRoute, useRouter } from "vue-router";
import { onMounted, ref, watch } from "vue";
import getProveedoresService from "./services/getProveedoresService";
import deleteProveedorService from "./services/deleteProveedorService";
import importProveedoresService from "./services/importProveedoresService";
import head from "lodash/head";
import orderBy from "lodash/orderBy";
import { FilterMatchMode, FilterOperator } from "primevue/api";
import { useToast } from "primevue/usetoast";
import dayjs from "dayjs";
import { useAuthStore } from "@/stores/auth";

export default {
  name: "proveedores",
  setup() {
    const toast = useToast();
    const router = useRouter();
    const route = useRoute();
    const paginatorComponent = ref();
    const paginate = ref({
      total: 0,
      rows: 10,
      page: 0,
    });
    const patientsData = ref([]);
    const modalConfirm = ref();
    const proveedor_selected = ref();
    const fileInput = ref(null);

    const columns = ref([
      { field: "nit", header: "Nit" },
      { field: "nombre", header: "Proveedor" },
      { field: "fechaInicio", header: "Fecha Inicio Convenio" },
      { field: "fechaFin", header: "Fecha Fin Convenio" },
      { field: "nomDpto", header: "Departamento" },
      { field: "nomMpio", header: "Municipio" },
      { field: "direccion", header: "Dirección" },
      { field: "telefono", header: "Teléfono" },
    ]);

    const selectedColumns = ref(columns.value);

    const filters = ref({
      nit: {
        operator: FilterOperator.AND,
        constraints: [{ value: null, matchMode: FilterMatchMode.STARTS_WITH }],
      },
      nombre: {
        operator: FilterOperator.AND,
        constraints: [{ value: null, matchMode: FilterMatchMode.STARTS_WITH }],
      },
      fechaInicio: {
        operator: FilterOperator.AND,
        constraints: [{ value: null, matchMode: FilterMatchMode.STARTS_WITH }],
      },
      fechaFin: {
        operator: FilterOperator.AND,
        constraints: [{ value: null, matchMode: FilterMatchMode.STARTS_WITH }],
      },
      nomDpto: {
        operator: FilterOperator.AND,
        constraints: [{ value: null, matchMode: FilterMatchMode.STARTS_WITH }],
      },
      nomMpio: {
        operator: FilterOperator.AND,
        constraints: [{ value: null, matchMode: FilterMatchMode.STARTS_WITH }],
      },
      direccion: {
        operator: FilterOperator.AND,
        constraints: [{ value: null, matchMode: FilterMatchMode.STARTS_WITH }],
      },
      telefono: {
        operator: FilterOperator.AND,
        constraints: [{ value: null, matchMode: FilterMatchMode.STARTS_WITH }],
      },
    });

    const onToggle = (val) => {
      selectedColumns.value = columns.value.filter((col) => val.includes(col));
    };

    const openModalConfirmDelete = (id) => {
      proveedor_selected.value = id;
      modalConfirm.value.toggle();
    };

    const onSubmitDelete = async () => {
      const { data } = await deleteProveedorService(
        proveedor_selected.value
      ).catch((err) => {
        console.log(err);
      });
      if (data) {
        modalConfirm.value.toggle();
        fetchPatiens();
        toast.add({
          severity: "success",
          summary: "Eliminado Correctamente",
          detail:
            "El Proveedor se ha eliminado correctamente, no será posible recuperar su información",
          life: 3000,
        });
      }
    };

    const onExportFilter = () => {
      const auth = useAuthStore();
      let url =
        import.meta.env.VITE_VUE_APP_MICROSERVICE_API + "/proveedores/exports";
      const filters =
        "?filters=" + (route.query.filters ? route.query.filters : btoa("{}"));
      url = url + filters;
      url = url + "&token=" + auth.token;
      window.open(url, "_blank");
    };

    const getLastEps = (data) => {
      const eps_head = head(orderBy(data, ["createdAt", "desc"]));
      return eps_head ? eps_head.eps : "";
    };

    const onPage = ({ rows }) => {
      const { query } = route;
      router.push({
        query: {
          ...query,
          page: paginatorComponent.value.currentPage,
          paginate: rows,
        },
      });
    };

    const fetchPatiens = async () => {
      const queryParams = { ...route.query };
      queryParams.page = queryParams.page ? queryParams.page : 1;
      queryParams.paginate = queryParams.paginate
        ? queryParams.paginate
        : paginatorComponent.value.rows;
      const { data: records } = await getProveedoresService(queryParams).catch(
        (err) => {
          console.error(err.message);
        }
      );
      patientsData.value = records.data;
      paginate.value.total = records.total;
    };

    const setQueryParams = () => {
      for (const key in route.query) {
        paginate.value[key] = route.query[key];
      }
    };

    const onFilter = () => {
      const queryParams = route.query;
      router.push({
        query: {
          ...queryParams,
          filters: btoa(JSON.stringify(filters.value)),
        },
      });
    };

    const getFormatDate = (date) => {
      return date ? dayjs(date).format("YYYY/MM/DD") : "----/--/--";
    };

    const onDownloadTemplate = () => {
      window.open("/proveedores-template.xlsx", "_blank");
    };

    const resetInputFil = () => {
      fileInput.value = null;
      const upfile = document.getElementById("upfile");
      if (upfile) {
        upfile.value = "";
      }
    };

    const onUpload = async (event) => {
      const formData = new FormData();
      formData.append("attachment", event.files[0]);
      const { data } = await importProveedoresService(formData).catch(
        (error) => {
          resetInputFil();
          fetchPatiens();
          console.log(error);
        }
      );
      if (data) {
        resetInputFil();
        toast.add({
          severity: "success",
          summary: "Éxito",
          detail: "Se cargó el excel con los proveedores",
          life: 3000,
        });
        fetchPatiens();
      }
    };

    watch(
      () => route.query,
      () => {
        fetchPatiens();
      }
    );
    onMounted(() => {
      fetchPatiens();
      setQueryParams();
    });

    return {
      columns,
      patientsData,
      selectedColumns,
      paginate,
      paginatorComponent,
      filters,
      modalConfirm,
      fileInput,
      onExportFilter,
      onToggle,
      onPage,
      getLastEps,
      openModalConfirmDelete,
      onSubmitDelete,
      onFilter,
      getFormatDate,
      onDownloadTemplate,
      onUpload,
    };
  },
};
</script>

<style scoped>
.iconEliminar {
  color: #13c8dc;
  width: 38px;
  height: 44px;
}
</style>
