<template>
  <div class="p-d-flex" style="color: #147ba8">
    <i class="pi pi-cog mr-2"></i>
    <template v-if="update">
      <span class="font-bold">Editar CUP / CUM</span>
    </template>
    <template v-else>
      <span class="font-bold">Añadir CUP / CUM</span>
    </template>
  </div>
  <div class="card-container blue-container flex flex-row-reverse flex-wrap">
    <!--    <i-fa-solid-address-book-->
    <!--      class="text-5xl text-red-700"-->
    <!--    ></i-fa-solid-address-book>-->
    <Button
      icon="pi pi-arrow-left"
      class="p-button-raised p-button-rounded p-button-warning"
      @click="$router.push({ name: 'ajustes.servicios' })"
    />
  </div>
  <form @submit="onSubmit">
    <div class="mt-2 grid grid-cols-2 gap-2">
      <div>
        <Dropdown
          v-model="model.type"
          :options="servicesTypes"
          :optionLabel="getName"
          option-value="id"
          placeholder="Tipo Tecnologia"
          class="inputfield w-full"
        />
        <div style="color: red">
          {{ errors.type }}
        </div>
      </div>
      <div>
        <span class="p-float-label">
          <InputText
            id="codServices"
            type="text"
            v-model="model.codService"
            class="inputfield w-full"
          />
          <label for="codServices"># CUP / CUM</label>
        </span>
        <div style="color: red">
          {{ errors.codService ? errors.codService : errorCodService }}
        </div>
      </div>
      <div class="col-span-2">
        <span class="p-float-label">
          <InputText
            id="description"
            type="text"
            v-model="model.description"
            class="inputfield w-full"
          />
          <label for="description">Descripcion</label>
        </span>
        <div style="color: red">
          {{ errors.description }}
        </div>
      </div>
    </div>
    <template v-if="update">
      <Button label="Actualizar" class="mt-3" type="submit" />
    </template>
    <template v-else>
      <Button label="Agregar" class="mt-3" type="submit" />
    </template>
    <Button
      label="Cancelar"
      class="p-button-secondary mt-3 ml-3"
      @click="$router.push({ name: 'ajustes.servicios' })"
    />
  </form>
  <Toast />
</template>

<script>
import { onMounted, ref } from "vue";
import ServicesTypes from "../services/getServiceTypes.service";
import saveService from "../services/saveService.service";
import updateService from "../services/updateService.service";
import validateCodeService from "../services/validateCodeService.service";
import { useField, useForm } from "vee-validate";
import { object, string, number } from "yup";
import { useRouter, useRoute } from "vue-router";
import { useToast } from "primevue/usetoast";
import getServices from "../services/getServices.service";
export default {
  name: "AddServiceMain",
  setup() {
    const update = ref(false);
    const router = useRouter();
    const route = useRoute();
    const servicesTypes = ref([]);
    const errorCodService = ref(null);
    const toast = useToast();
    const oldCodService = ref("");
    const validationSchema = object({
      type: number()
        .required()
        .typeError("El codigo de servicio debe ser numerico y es requerido"),
      codService: number()
        .required()
        .typeError("El codigo de servicio debe ser numerico y es requerido"),
      description: string().required("La descripcion es requerida"),
    });

    const {
      handleSubmit,
      values: model,
      errors,
    } = useForm({
      validationSchema,
    });

    useField("type", null, { initialValue: "" });
    useField("codService", null, { initialValue: "" });
    useField("description", null, { initialValue: "" });

    const getName = (value) => {
      return value.code + " - " + value.description;
    };

    const onSubmit = handleSubmit(async (values) => {
      if (update.value) {
        values.id = route.params.id;
        if (values.codService === oldCodService.value) {
          updateService(values)
            .then(({ status }) => {
              console.log(status);
              toast.add({
                severity: "success",
                summary: "Exito",
                detail: "El servicio se modifico correctamente",
                life: 1500,
              });
              setTimeout(function () {
                router.push({ name: "ajustes.servicios" });
              }, 1500);
            })
            .catch((error) => {
              console.log(error.message);
            });
        } else {
          validateCodeService(values.codService)
            .then(({ data }) => {
              if (data.isValid) {
                errorCodService.value = "";
                updateService(values)
                  .then(({ status }) => {
                    console.log(status);
                    toast.add({
                      severity: "success",
                      summary: "Exito",
                      detail: "El servicio se modifico correctamente",
                      life: 1500,
                    });
                    setTimeout(function () {
                      router.push({ name: "ajustes.servicios" });
                    }, 1500);
                  })
                  .catch((error) => {
                    console.log(error.message);
                  });
              } else {
                errorCodService.value = data.message;
              }
            })
            .catch((error) => {
              console.log(error);
            });
        }
      } else {
        validateCodeService(values.codService)
          .then(({ data }) => {
            if (data.isValid) {
              errorCodService.value = "";
              saveService(values)
                .then(({ status }) => {
                  console.log("state", status);
                  if (status === 201) {
                    toast.add({
                      severity: "success",
                      summary: "Exito",
                      detail: "El servicio se creo correctamente",
                      life: 1500,
                    });
                    setTimeout(function () {
                      router.push({ name: "ajustes.servicios" });
                    }, 1500);
                  }
                })
                .catch((error) => {
                  console.log(error.message);
                });
            } else {
              errorCodService.value = data.message;
            }
          })
          .catch((error) => {
            console.log(error);
          });
      }
    });

    onMounted(() => {
      ServicesTypes()
        .then(({ data }) => {
          servicesTypes.value = data;
        })
        .catch((err) => {
          console.error(err.message);
        });
      if (route.params.id) {
        let id = route.params.id;
        getServices(null, id)
          .then(({ data }) => {
            update.value = true;
            oldCodService.value = data.code;
            model.type = data.idServiceType;
            model.codService = data.code;
            model.description = data.description;
          })
          .catch((err) => {
            console.error(err.message);
          });
      }
    });

    return {
      model,
      servicesTypes,
      getName,
      errors,
      onSubmit,
      errorCodService,
      update,
    };
  },
};
</script>

<style scoped></style>
