<template>
  <div class="card-container blue-container flex flex-row-reverse flex-wrap">
    <Button
      label="Agregar Permiso"
      icon="pi pi-plus"
      class="mr-2"
      @click="$router.push({ name: 'ajustes.config.permisos.add' })"
    />
  </div>
  <DataTable
    :value="permisos"
    responsiveLayout="scroll"
    :lazy="true"
    :globalFilterFields="['name']"
    v-model:filters="filters"
    filterDisplay="menu"
    @filter="onFilter($event)"
    class="mt-4"
  >
    <Column field="name" header="Nombre Permiso">
      <template #filter="{ filterModel }">
        <InputText
          type="text"
          v-model="filterModel.value"
          class="p-column-filter"
          placeholder="Search by Nombre"
        />
      </template>
      <template #filterclear="{ filterCallback }">
        <Button
          type="button"
          icon="pi pi-times"
          @click="filterCallback()"
          class="p-button-secondary"
        ></Button>
      </template>
      <template #filterapply="{ filterCallback }">
        <Button
          type="button"
          icon="pi pi-check"
          @click="filterCallback()"
          class="p-button-success"
        ></Button>
      </template>
    </Column>
    <Column field="description" header="Descripcion">
      <template #filter="{ filterModel }">
        <InputText
          type="text"
          v-model="filterModel.value"
          class="p-column-filter"
          placeholder="Search by Descripcion"
        />
      </template>
      <template #filterclear="{ filterCallback }">
        <Button
          type="button"
          icon="pi pi-times"
          @click="filterCallback()"
          class="p-button-secondary"
        ></Button>
      </template>
      <template #filterapply="{ filterCallback }">
        <Button
          type="button"
          icon="pi pi-check"
          @click="filterCallback()"
          class="p-button-success"
        ></Button>
      </template>
    </Column>
    <Column header="Acciones" style="width: 10rem">
      <template #body="{ data }">
        <div class="flex flex-row justify-around">
          <div
            v-tooltip.left="'Editar'"
            @click="
              $router.push({
                name: 'ajustes.config.permisos.editar',
                params: { id: data.id },
              })
            "
          >
            <i-fa-solid-pencil-alt class="icons-roles"></i-fa-solid-pencil-alt>
          </div>
          <div v-tooltip.left="'Eliminar'" @click="openModalDelete(data)">
            <i-fa-solid-trash-alt class="icons-roles"></i-fa-solid-trash-alt>
          </div>
        </div>
      </template>
    </Column>
  </DataTable>
  <Paginator
    :rows="parseInt(paginator.per_page)"
    :totalRecords="paginator.total"
    :rowsPerPageOptions="[10, 20, 30, 50, 100]"
    @page="onPage($event)"
  >
    <template #start="slotProps">
      Mostrando registros del
      {{ slotProps.state.first === 0 ? 1 : slotProps.state.first }} al
      {{ slotProps.state.rows * (slotProps.state.page + 1) }} de un total de
      {{ paginator.total }} registros
    </template>
  </Paginator>

  <modalConfirm ref="modalConfirmDelete" @responseYes="onYesModalDelete">
    <template v-slot:icon>
      <i-fa-solid-trash-alt class="iconEliminar" />
    </template>
    <div class="justify-content-around flex h-full w-full flex-col">
      <span
        class="text-center text-2xl"
        style="color: #13c8dc; font-weight: bold"
        >Eliminar Permiso</span
      >
      <span class="mt-6 text-center"
        >Esta accion eliminará todo registro del permiso ¿Esta segur@ que desea
        eliminar el permiso?</span
      >
    </div>
  </modalConfirm>
</template>

<script>
import { ref, onMounted, watch } from "vue";
import { FilterMatchMode, FilterOperator } from "primevue/api";
import getPermissionsService from "./services/getPermissions.service";
import { useRoute, useRouter } from "vue-router";
import deleteService from "./services/deletePermission.service";
import { useToast } from "primevue/usetoast";

export default {
  name: "PermissionMain",
  setup() {
    const route = useRoute();
    const toast = useToast();
    const router = useRouter();
    const permisos = ref([]);
    const modalConfirmDelete = ref();
    const paginator = ref({
      per_page: 0,
      total: 0,
      first: 0,
    });
    const filters = ref({
      name: {
        operator: FilterOperator.AND,
        constraints: [{ value: null, matchMode: FilterMatchMode.STARTS_WITH }],
      },
      description: {
        operator: FilterOperator.AND,
        constraints: [{ value: null, matchMode: FilterMatchMode.STARTS_WITH }],
      },
    });

    const handlePermisos = (payload) => {
      getPermissionsService(payload)
        .then(({ data }) => {
          permisos.value = data.data;
          paginator.value.per_page = data.per_page;
          paginator.value.total = data.total;
          console.log(data);
        })
        .catch((error) => {
          console.log(error);
        });
    };
    const onPage = ({ page, rows }) => {
      handlePermisos({ page: page + 1, rows });
    };
    const onFilter = () => {
      const queryParams = route.query;
      router.push({
        query: {
          ...queryParams,
          page: 1,
          rows: 10,
          filters: btoa(JSON.stringify(filters.value)),
        },
      });
    };
    const openModalDelete = (data) => {
      modalConfirmDelete.value.toggle(data);
    };
    const onYesModalDelete = ({ id }) => {
      deleteService(id)
        .then(() => {
          handlePermisos();
          toast.add({
            severity: "success",
            summary: "Exito",
            detail: "El permiso se eliminó correctamente",
            life: 2000,
          });
          modalConfirmDelete.value.toggle();
        })
        .catch((error) => {
          console.log(error);
        });
    };

    watch(
      () => route.query,
      () => {
        if (route.name === "ajustes.config.permisos") {
          handlePermisos(route.query);
        }
      }
    );

    onMounted(() => {
      handlePermisos();
    });

    return {
      permisos,
      paginator,
      filters,
      onPage,
      onFilter,
      modalConfirmDelete,
      onYesModalDelete,
      openModalDelete,
    };
  },
};
</script>

<style scoped>
.iconEliminar {
  color: #13c8dc;
  width: 38px;
  height: 44px;
}
.icons-roles {
  color: #13c8dc;
  cursor: pointer;
}
.icons-roles:hover {
  color: #147ba8;
}
.iconWarning {
  color: #13c8dc;
  width: 55px;
  height: 55px;
}
</style>
