<template>
  <Card>
    <template #title>
      <div class="grid grid-cols-2">
        <div class="my-auto flex" style="color: #147ba8">
          <i-fa-solid-info-circle style="font-size: 20px;" />
          <span class="font-bold ml-3">Información Paciente</span>
        </div>
        <div class="text-right">
          <Button
            @click="$router.go(-1)"
            icon="pi pi-arrow-left"
            class="p-button-raised p-button-rounded p-button-warning"
          />
        </div>
      </div>
    </template>
    <template #content>
      <div class="grid grid-cols-1 md:grid-cols-2">
        <div class="p-4 mt-3 mr-4">
          <div class="p-4 mt-3 mr-4 bg-[#F2F4F6]">
            <div class="flex" style="color: #147ba8">
              <span class="font-bold">Datos Básicos</span>
            </div>
            <div class="mr-4 mt-6">
              <p>{{model.tipoDocumento}}</p>
              <p>{{model.documento}}</p>
            </div>
            <div class="mr-4 mt-6">
              <p>{{model.fullname}}</p>
              <p>{{getFormatDate(model.fechaNacimiento)}}</p>
            </div>
            <hr class="mt-6" />
            <div class="mr-4 mt-6">
              <div class="flex" style="color: #147ba8">
                <span class="font-bold">Contácto</span>
              </div>
            </div>
            <div class="mr-4 mt-6" v-for="(item, key) in model.contactos" :key="key">
              <p>{{item.telefono}}</p>
              <p>{{item.correo}}</p>
            </div>
            <hr class="mt-6" />
            <div class="mr-4 mt-6">
              <div class="flex" style="color: #147ba8">
                <span class="font-bold">Dirección</span>
              </div>
            </div>
            <div class="mr-4 mt-6" v-for="(item, key) in model.locations" :key="key">
              <p>{{ item.direccion }}</p>
              <p>
                {{ getDepartamentoMunicipio( item.idDepartamento, item.idMunicipio ) }}
              </p>
            </div>
          </div>
        </div>
        <div class="p-4 mt-3 mr-4">
          <div class="border p-4 mt-3 mr-4">
            <div class="flex" style="color: #147ba8">
              <i-fa-solid-address-book></i-fa-solid-address-book>
              <span class="ml-3 font-bold">Datos EPS</span>
            </div>
            <div class="mr-4 mt-6">
              <DataTable :value="model.eps"
                responsiveLayout="scroll"
                dataKey="id"
                >
                  <Column field="eps" header="Nombre EPS" />
                  <Column field="nit" header="NIT" />
                  <Column field="estado" header="Estado" />
                  <Column field="fechaInicioAfiliacion" header="Fecha Vinculación">
                    <template #body="{data}">
                      {{getFormatDate(data.fechaInicioAfiliacion)}}
                    </template>
                  </Column>
              </DataTable>
            </div>
          </div>
        </div>
      </div>
    </template>
  </Card>
</template>

<script>
import getLocalizationsService from "../services/getLocalizationsService";
import findPacientesService from "../services/findPacientesService";
import { onMounted, ref } from "vue";
import dayjs from "dayjs";
import { useRoute } from "vue-router";

export default {
  name: "pacientesInfo",
  setup() {
    const route = useRoute();
    const model = ref({
      tipoDocumento: '',
      documento: '',
      fullname: '',
      fecha_nacimiento: '',
      eps: [],
      locations: [],
      contactos: [],
    })
    const departamentos = ref([])

    const getFormatDate = (date) => {
      return date ? dayjs(date).format("YYYY/MM/DD") : '----/--/--';
    };

    const getDepartamentoMunicipio = (idDepartamento, idMunicipio) => {
      const departamento_find = departamentos.value.find(
        (f) => f.id === idDepartamento
      );
      if (departamento_find) {
        const municipio_find = departamento_find.municipios.find(
          (f) => f.codMpio === idMunicipio
        );
        return `${departamento_find.name} / ${municipio_find.nomMpio}`;
      }
    };

    const getOptions = async() => {
      // listar departamentos
      const { data: data_departamentos } = await getLocalizationsService()
      .catch((error) => {
        console.log(error);
      });
      departamentos.value = data_departamentos;
      departamentos.value.unshift({ id: "", name: "Seleccione departamento" });
      findPaciente()
    };

    const findPaciente = async() => {
      const { id } = route.params
      const { data } = await findPacientesService(id)
      .catch(error=>{
        console.log(error);
      })
      if (data) {
        model.value.tipoDocumento = data.tipoDocumento
        model.value.documento = data.documento
        model.value.fullname = data.fullname
        model.value.eps = data.eps
        model.value.locations = data.localizaciones
        model.value.contactos = data.contactos
        let fecha_nacimiento = data.fechaNacimiento.split(" ")[0].trim()
        model.value.fechaNacimiento = fecha_nacimiento ? dayjs(fecha_nacimiento).$d : ''
      }
    }

    onMounted(() => {
      getOptions();
    });

    return {
      model,
      getFormatDate,
      getDepartamentoMunicipio,
    };
  },
};
</script>
<style>
.iconEliminar {
  color: #13c8dc;
  width: 38px;
  height: 44px;
}
</style>
