<template>
  <div class="flex justify-between">
    <div class="grid grid-cols-1 content-center gap-4" style="color: #147ba8">
      <div v-if="update">
        <i class="pi pi-plus mr-2"></i>
        <span class="font-bold">Actualizar Rol</span>
      </div>
      <div v-else>
        <i class="pi pi-plus mr-2"></i>
        <span class="font-bold">Agregar Rol</span>
      </div>
    </div>
    <div>
      <Button
        icon="pi pi-arrow-left"
        class="p-button-raised p-button-rounded p-button-warning"
        @click="$router.back()"
      />
    </div>
  </div>

  <div class="grid- mt-6 grid grid-cols-2">
    <div class="basis-1/2 p-4">
      <form @submit="onSubmit">
        <span class="p-float-label">
          <InputText
            class="w-full"
            id="firstName"
            type="text"
            v-model="model.name"
          />
          <label for="firstName">Nombre del Rol</label>
        </span>
        <div style="color: red">
          {{ errors.name }}
        </div>
        <div class="mt-6">
          <span style="color: red"
            >Nota: Tenga en cuenta que para guardar este Rol debe asignar por lo
            menos un PERMISO.</span
          >
        </div>
        <template v-if="update">
          <Button label="Actualizar" class="mt-3" type="submit" />
        </template>
        <template v-else>
          <Button label="Agregar" class="mt-3" type="submit" />
        </template>
        <Button
          label="Cancelar"
          class="p-button-secondary mt-3 ml-3"
          @click="$router.back()"
        />
      </form>
    </div>

    <div class="basis-1/2 p-4">
      <div class="flex justify-end">
        <div>
          <Button
            label="Agregar Permiso"
            icon="pi pi-plus"
            class="mr-2"
            @click="$router.push({ name: 'ajustes.config.permisos.add' })"
          />
        </div>
      </div>

      <DataTable
        :value="permissions"
        responsiveLayout="scroll"
        class="mt-6 w-full"
      >
        <template #empty> No hay permisos para mostrar </template>
        <Column field="code" header="Estado" class="w-1/5">
          <template #body="{ data }">
            <div class="field-checkbox">
              <Checkbox :value="data.id" v-model="checks" />
            </div>
          </template>
        </Column>
        <Column field="name" header="Nombre"></Column>
        <Column field="description" header="Descripcion"></Column>
      </DataTable>
      <Paginator
        :rows="parseInt(paginator.per_page)"
        :totalRecords="paginator.total"
        :rowsPerPageOptions="[5, 10, 20, 30, 50, 100]"
        @page="onPage($event)"
      >
        <template #start="slotProps">
          Mostrando registros del
          {{ slotProps.state.first === 0 ? 1 : slotProps.state.first }} al
          {{ slotProps.state.rows * (slotProps.state.page + 1) }} de un total de
          {{ paginator.total }} registros
        </template>
      </Paginator>
    </div>
  </div>
  <Toast />
</template>

<script>
import { ref, onMounted } from "vue";
import { object, string } from "yup";
import { useField, useForm } from "vee-validate";
import getPermissionsService from "../../permisos/services/getPermissions.service";
import saveRol from "../services/saveRol.service";
import updateRol from "../services/updateRol.service";
import setPermissions from "../services/setPermissionRol.service";
import { useToast } from "primevue/usetoast";
import { useRouter, useRoute } from "vue-router";
import getRoles from "../services/getRoles.service";
export default {
  name: "AddRolesMain",
  setup() {
    const expandedRows = ref([]);
    const checks = ref([]);
    const permissions = ref([]);
    const toast = useToast();
    const router = useRouter();
    const route = useRoute();
    const update = ref(false);
    const validationSchema = object({
      name: string().required("El nombre del rol es requerido"),
    });
    const idRol = ref(0);
    const {
      handleSubmit,
      values: model,
      errors,
    } = useForm({
      validationSchema,
    });
    useField("name", null, { initialValue: "" });
    const paginator = ref({
      per_page: 0,
      total: 0,
      first: 0,
    });
    const paginatorRol = ref({
      per_page: 0,
      total: 0,
      first: 0,
    });

    const onPage = ({ page, rows }) => {
      handlePermissions({ page: page + 1, rows });
    };

    const handlePermissions = (queryParams) => {
      getPermissionsService(queryParams)
        .then(({ data }) => {
          permissions.value = data.data;
          paginator.value.per_page = data.per_page;
          paginator.value.total = data.total;
        })
        .catch((error) => {
          console.log(error);
        });
    };

    const onSubmit = handleSubmit(async (values) => {
      if (checks.value.length === 0) {
        toast.add({
          severity: "error",
          summary: "Error",
          detail: "El rol debe llevar al menos 1 permiso.",
          life: 3000,
        });
      } else {
        if (update.value) {
          updateRol(values, idRol.value)
            .then(({ data, status }) => {
              if (data.data.error) {
                toast.add({
                  severity: "error",
                  summary: "Error",
                  detail: data.data.errorMessage,
                  life: 3000,
                });
              } else {
                if (status === 201) {
                  toast.add({
                    severity: "success",
                    summary: "Exito",
                    detail: data.message,
                    life: 3000,
                  });
                  let permissions = [];
                  for (const checkKey in checks.value) {
                    permissions.push({
                      permissionId: checks.value[checkKey],
                      type: 2,
                      baseId: idRol.value,
                    });
                  }

                  console.log({ permissions });
                  setPermissions({ permissions, idRol: idRol.value, type: 2 });
                  router.back();
                }
              }
            })
            .catch((error) => {
              console.log(error);
            });
        } else {
          saveRol(values)
            .then(({ data, status }) => {
              if (data.data.error) {
                toast.add({
                  severity: "error",
                  summary: "Error",
                  detail: data.data.errorMessage,
                  life: 3000,
                });
              } else {
                if (status === 201) {
                  toast.add({
                    severity: "success",
                    summary: "Exito",
                    detail: data.message,
                    life: 3000,
                  });
                  let permissions = [];
                  for (const checkKey in checks.value) {
                    permissions.push({
                      permissionId: checks.value[checkKey],
                      type: 2,
                      baseId: data.data.id,
                    });
                  }
                  setPermissions({ permissions });
                  router.back();
                }
              }
            })
            .catch((error) => {
              console.log(error);
            });
        }
      }
    });

    onMounted(() => {
      handlePermissions();
      if (route.params.id) {
        update.value = true;
        idRol.value = route.params.id;
        getRoles({}, idRol.value)
          .then(({ data }) => {
            model.name = data.data.name;
            for (const dataKey in data.data.permission_has_active) {
              checks.value.push(
                data.data.permission_has_active[dataKey].permissionId
              );
            }
          })
          .catch((error) => {
            console.log(error);
          });
      }
    });

    return {
      update,
      onSubmit,
      permissions,
      checks,
      model,
      errors,
      paginator,
      paginatorRol,
      onPage,
      expandedRows,
    };
  },
};
</script>

<style scoped></style>
