<template>
  <div class="p-d-flex" style="color: #147ba8">
    <i class="pi pi-cog mr-2"></i>
    <span class="font-bold">CUP / CUM</span>
  </div>
  <div class="card-container blue-container flex flex-row-reverse flex-wrap">
    <!--    <i-fa-solid-address-book-->
    <!--      class="text-5xl text-red-700"-->
    <!--    ></i-fa-solid-address-book>-->
    <Button
      class="p-button-raised p-button-rounded p-button-warning mr-2"
      icon="pi pi-upload"
      @click="uploadExcel"
      v-tooltip="'Cargar excel'"
    />
    <Button
      class="p-button-raised p-button-rounded p-button-warning mr-2"
      icon="pi pi-download"
      @click="downloadExcel"
      v-tooltip.left="'Descargar plantilla para cargar servicios'"
    />
    <Button
      icon="pi pi-file-excel"
      class="p-button-raised p-button-rounded mr-2"
      @click="exportExcel"
      v-tooltip.left="'Exportar excel'"
    />
    <Button
      label="Agregar Servicio"
      icon="pi pi-plus"
      class="mr-2"
      @click="addService"
    />
  </div>
  <div class="card mt-5">
    <DataTable
      :value="servicesData"
      :lazy="true"
      responsiveLayout="scroll"
      :globalFilterFields="['servicetype', 'code', 'description']"
      v-model:filters="filters"
      filterDisplay="menu"
      @filter="onFilter($event)"
    >
      <template #header>
        <div class="flex content-center justify-between">
          <MultiSelect
            :modelValue="selectedColumns"
            :options="columns"
            optionLabel="header"
            @update:modelValue="onToggle"
            placeholder="Select Columns"
            style="width: 20em"
          />
          <div class="align-content-center card-container flex flex-wrap">
            <span>Total servicios: {{ paginator.total }}</span>
          </div>
        </div>
      </template>

      <template v-for="(col, index) of selectedColumns" :key="index">
        <Column :field="col.field" :header="col.header">
          <template #editor="{ data, field }">
            <InputText v-model="data[field]" autofocus />
          </template>
          <template #body="slotProps" v-if="col.field === 'servicetype'">
            {{ slotProps.data[col.field].description }}
          </template>
          <template #body="slotProps" v-else>
            {{ slotProps.data[col.field] }}
          </template>
          <template #filter="{ filterModel }">
            <InputText
              type="text"
              v-model="filterModel.value"
              class="p-column-filter"
              placeholder="Search by name"
            />
          </template>
          <template #filterclear="{ filterCallback }">
            <Button
              type="button"
              icon="pi pi-times"
              @click="filterCallback()"
              class="p-button-secondary"
            ></Button>
          </template>
          <template #filterapply="{ filterCallback }">
            <Button
              type="button"
              icon="pi pi-check"
              @click="filterCallback()"
              class="p-button-success"
            ></Button>
          </template>
        </Column>
      </template>

      <Column header="Acciones">
        <template #body="slotProps">
          <div class="flex flex-row">
            <button
              @click="
                $router.push({
                  name: 'ajustes.servicios.edit',
                  params: {
                    id: slotProps.data['id'],
                  },
                })
              "
            >
              <i-fa-solid-pencil-alt
                class="mr-2"
                style="color: #13c8dc"
              ></i-fa-solid-pencil-alt>
            </button>
            <button @click="openModal(slotProps.data['id'])">
              <i-fa-solid-trash-alt
                class="mr-2"
                style="color: #13c8dc"
              ></i-fa-solid-trash-alt>
            </button>
          </div>
        </template>
      </Column>
    </DataTable>
    <Paginator
      :rows="parseInt(paginator.per_page)"
      :totalRecords="paginator.total"
      :rowsPerPageOptions="[10, 20, 30, 50, 100]"
      @page="onPage($event)"
    >
      <template #start="slotProps">
        Mostrando registros del
        {{ slotProps.state.first === 0 ? 1 : slotProps.state.first }} al
        {{ slotProps.state.rows * (slotProps.state.page + 1) }} de un total de
        {{ paginator.total }} registros
      </template>
    </Paginator>
  </div>
  <modalConfirm ref="modalConfirm" @responseYes="onSubmitDelete">
    <template v-slot:icon>
      <i-fa-solid-trash-alt class="iconEliminar" />
    </template>
    <div class="justify-content-around flex h-full w-full flex-col">
      <span
        class="text-center text-2xl"
        style="color: #13c8dc; font-weight: bold"
        >Eliminar Servicio</span
      >
      <span class="text-center"
        >¿Esta seguro/a que desea Eliminar este Servicio?</span
      >
    </div>
  </modalConfirm>
  <modalOk ref="modalConfirm2" @responseYes="onYesModal2">
    <template v-slot:icon>
      <i-ant-design-warning-filled class="iconWarning" />
    </template>
    <div class="justify-content-around flex h-full w-full flex-col">
      <span
        class="text-center text-2xl"
        style="color: #13c8dc; font-weight: bold"
        >Advertencia</span
      >
      <span class="mt-6 text-center"
        >{{ title }} {{ duplicados ? `(${duplicados})` : "" }}
      </span>
    </div>
  </modalOk>
  <Toast />
  <input
    type="file"
    @change="handleUpload"
    accept="application/vnd.sealed.xls"
    class="form-control-file"
    id="file_excel"
    name="file_excel"
    ref="file_excel"
    style="display: none"
  />
</template>

<script>
import { defineAsyncComponent, onMounted, ref, watch } from "vue";
import { useRouter, useRoute } from "vue-router";
import getServices from "./services/getServices.service";
import deleteService from "./services/deleteService.service";
import uploadService from "./services/uploadExcel.service";
import exportService from "./services/exportExcel.service";
import { useToast } from "primevue/usetoast";
import { FilterMatchMode, FilterOperator } from "primevue/api";
export default {
  name: "ServiciosMain",
  components: {
    modalConfirm: defineAsyncComponent(() =>
      import("@/components/modalConfirm/Main.vue")
    ),
    modalOk: defineAsyncComponent(() =>
      import("@/components/modalOk/modalOk.vue")
    ),
  },
  setup() {
    const router = useRouter();
    const route = useRoute();
    const toast = useToast();
    const servicesData = ref();
    const modalConfirm = ref();
    const modalConfirm2 = ref();
    const file_excel = ref();
    const idDelete = ref(null);
    const columns = ref([
      { field: "servicetype", header: "Tipo Servicio" },
      { field: "code", header: "CUP / CUM" },
      { field: "description", header: "Descripción" },
    ]);
    const duplicados = ref("");
    const title = ref("");
    const selectedColumns = ref(columns.value);
    const paginator = ref({
      per_page: 0,
      total: 0,
      first: 0,
    });
    const filters = ref({
      servicetype: {
        operator: FilterOperator.AND,
        constraints: [{ value: null, matchMode: FilterMatchMode.STARTS_WITH }],
      },
      code: {
        operator: FilterOperator.AND,
        constraints: [{ value: null, matchMode: FilterMatchMode.STARTS_WITH }],
      },
      description: {
        operator: FilterOperator.AND,
        constraints: [{ value: null, matchMode: FilterMatchMode.STARTS_WITH }],
      },
    });

    const uploadExcel = () => {
      file_excel.value.click();
    };

    const exportExcel = () => {
      exportService(route.query.filters ? route.query.filters : null)
        .then((response) => {
          window.open(response, "_blank");
        })
        .catch((error) => {
          console.log(error);
        });
    };

    const downloadExcel = () => {
      window.open("/plantilla_excel.xlsx", "_blank");
    };

    const handleUpload = (file) => {
      let formData = new FormData();
      formData.append("file", file.target.files[0]);
      uploadService(formData)
        .then(({ data }) => {
          title.value = "";
          duplicados.value = "";
          if (data.errores.length > 0) {
            if (data.save) {
              title.value =
                "Se guardaron algunos CUPS/CUMS correctamente. Existen códigos duplicados";
            } else {
              title.value =
                "No se guardo ningun CUPS/CUMS. Existen códigos duplicados";
            }
            let flag = 0;
            for (const erroresKey in data.errores) {
              if (flag === 0) {
                duplicados.value += data.errores[erroresKey][1];
              } else {
                duplicados.value += `, ${data.errores[erroresKey][1]}`;
              }
              flag++;
            }
          } else {
            title.value = "Los CUPS/CUMS se guardaron correctamente.";
          }
          handleServices();
          document.getElementById("file_excel").value = "";
          openModal2();
        })
        .catch((error) => {
          console.log(error);
        });
    };

    const onToggle = (val) => {
      selectedColumns.value = columns.value.filter((col) => val.includes(col));
    };

    const openModal = (id) => {
      idDelete.value = id;
      modalConfirm.value.toggle();
    };

    const openModal2 = () => {
      modalConfirm2.value.toggle();
    };

    const addService = () => {
      router.push({ name: "ajustes.servicios.add" });
    };

    const onSubmitDelete = () => {
      modalConfirm.value.toggle();
      deleteService(idDelete.value)
        .then((response) => {
          console.log(response);
          getServices(route.query)
            .then(({ data }) => {
              toast.add({
                severity: "success",
                summary: "Exito",
                detail: "El servicio se eliminó correctamente",
                life: 1500,
              });
              servicesData.value = data.data;
              paginator.value.per_page = parseInt(data.per_page);
              paginator.value.total = data.total;
            })
            .catch((err) => {
              console.error(err.message);
            });
        })
        .catch((error) => {
          console.log(error);
        });
    };

    const onYesModal2 = () => {
      modalConfirm2.value.toggle();
    };

    const onPage = ({ page, rows }) => {
      const queryParams = route.query;
      router.push({
        query: {
          ...queryParams,
          page: page + 1,
          rows,
        },
      });
    };

    const onFilter = () => {
      const queryParams = route.query;
      router.push({
        query: {
          ...queryParams,
          page: 1,
          rows: 10,
          filters: btoa(JSON.stringify(filters.value)),
        },
      });
    };

    const handleServices = () => {
      const queryParams = route.query;
      getServices(queryParams)
        .then(({ data }) => {
          servicesData.value = data.data;
          paginator.value.per_page = data.per_page;
          paginator.value.total = data.total;
        })
        .catch((err) => {
          console.error(err.message);
        });
    };

    watch(
      () => route.query,
      () => {
        if (route.name === "ajustes.servicios") {
          handleServices();
        }
      }
    );

    onMounted(() => {
      handleServices();
    });

    return {
      onFilter,
      columns,
      servicesData,
      selectedColumns,
      onToggle,
      modalConfirm,
      modalConfirm2,
      onYesModal2,
      openModal,
      openModal2,
      onSubmitDelete,
      addService,
      paginator,
      onPage,
      uploadExcel,
      file_excel,
      handleUpload,
      filters,
      downloadExcel,
      exportExcel,
      duplicados,
      title,
    };
  },
};
</script>
<style scoped>
.iconEliminar {
  color: #13c8dc;
  width: 38px;
  height: 44px;
}
.iconWarning {
  color: #13c8dc;
  width: 65px;
  height: 65px;
}
</style>
