<template>
    <div class="flex" style="color: #147BA8;">
        <i-icomoon-free-cog style="font-size: 20px;" />
        <span class="font-bold ml-6" style="font-size: 20px;">
          Soportes / Tipificación
        </span>
    </div>
    <div>
      <div class="grid grid-cols-1 md:grid-cols-2 gap-9">
        <div>
          <Card class="cursor-pointer"
          @click="$router.push({name: 'ajustes.aseguradoras.soportestipificacion.soportes'})" 
          >
            <template #header>
                <img src="https://image.freepik.com/vector-gratis/ilustracion-soporte-al-cliente_23-2148904079.jpg" 
                alt="Card image cap" 
                class="card-img-top" 
                style="height: 300px;">
            </template>
            <template #title>
              <span class="text-[#13C8DC]">
                Creación de Soportes
              </span>
            </template>
            <template #subtitle>
                En esta opción podrá crear los soportes con el nombre interno
            </template>
          </Card>
        </div>
        <div>
          <Card class="cursor-pointer"
          @click="$router.push({name: 'ajustes.aseguradoras.soportestipificacion.servicios'})" 
          >
            <template #header>
                <img src="https://image.freepik.com/vector-gratis/ilustracion-soporte-al-cliente-plano-organico_23-2148899174.jpg" 
                alt="Card image cap" 
                class="card-img-top" 
                style="height: 300px;">
            </template>
            <template #title>
              <span class="text-[#13C8DC]">
                Creación de Servicios
              </span>
            </template>
            <template #subtitle>
                En esta opción podrá crear los archivos con el nombre interno
            </template>
          </Card>
        </div>
      </div>
    </div>

</template>
<script>
import { onMounted, ref, watch } from "vue";
import {useRoute, useRouter} from 'vue-router'
import getAseguradorasService from "../services/getAseguradorasService";

export default {
    name: 'aseguradorasTarifas',
    setup() {
    },
}
</script>

<style>
.circle {
    background: #2ae1eb;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    padding: 10px;
    background: transparent linear-gradient(180deg, var(--unnamed-color-13c8dc) 0%, #1FEFFC 100%) 0% 0% no-repeat padding-box;
    background: transparent linear-gradient(180deg, #13C8DC 0%, #1FEFFC 100%) 0% 0% no-repeat padding-box;
}
</style>