<template>
<div class="p-4">
    <div class="flex" style="color: #147BA8;">
        <i-icomoon-free-cog style="font-size: 20px;" />
        <span class="font-bold ml-6" style="font-size: 20px;">
            Reglas de validación
        </span>
    </div>
    <div class="card-container blue-container flex flex-row-reverse flex-wrap">
        <Button
        @click="$router.push({name: 'ajustes.aseguradoras.reglasvalidacion'})"
        icon="pi pi-arrow-left"
        class="p-button-raised p-button-rounded p-button-warning ml-8"
        />
    </div>
    <div class="pl-9" style="color: #14CCDF;">
        <p>{{aseguradora.nombreCorto}}</p>
        <p>NIT: {{aseguradora.nit}}</p>
    </div>
    <div class="mt-6">
        <div class="grid grid-cols-1 md:grid-cols-3 gap-9">
            <div v-for="(item, key) in aseguradora.type_rules" :key="key" 
            class="box" style="height: 569px;">
                <div class="flex flex-row-reverse flex-wrap text-white p-3" 
                style="background: var(--unnamed-color-147ba8) 0% 0% no-repeat padding-box; background: #147BA8 0% 0% no-repeat padding-box;">
                    <span @click="$refs.reglasModal.toggle(item.id)"
                    v-tooltip.top="'Agregar regla'">
                        <i-akar-icons-plus class="ml-3 cursor-pointer" />
                    </span>
                    <span @click="openModalConfirmDelete(item.id)" 
                    v-tooltip.top="'Eliminar'">
                        <i-fa-solid-trash-alt class="ml-3 cursor-pointer" />
                    </span>
                    <span @click="$refs.modalTipoReglas.toggle($route.params.id, item)"
                    v-tooltip.top="'Editar'">
                        <i-fa-pencil class="ml-3 cursor-pointer" />
                    </span>
                </div>
                <div class="flex p-4">
                    <div class="circle flex items-center pl-1">
                        <i-fa-solid-ruler
                            class="text-5xl text-white"
                        />
                    </div>
                    <div class="ml-4 my-auto" style="color: #14CCDF; font-size: 20px; line-height: 20px;">
                        {{item.nombre}}
                    </div>
                </div>
                <div class="p-4" style="height: 75%; overflow-y: auto;">
                    <div class="box-daily border my-3" style="color: #898392;" v-for="(row, k) in item.rules" :key="k">
                        <div class="flex flex-row-reverse flex-wrap" style="color: #14CCDF;">
                            <span @click="openModalConfirmDeleteRules(row.id)"  
                            v-tooltip.top="'Eliminar'">
                                <i-fa-solid-trash-alt class="ml-3 cursor-pointer" />
                            </span>
                            <span @click="$refs.reglasModal.toggle(item.id, row)"
                            v-tooltip.top="'Editar'">
                                <i-fa-pencil class="ml-3 cursor-pointer" />
                            </span>
                        </div>
                        <div class="mt-4">
                            {{row.description}}
                        </div>
                    </div>
                </div>
            </div>
            <div @click="$refs.modalTipoReglas.toggle($route.params.id)" class="box cursor-pointer flex flex-col items-center justify-center text-center" 
            style="height: 569px; background-color: #EBEAEE; color: #898392;">
                <i-akar-icons-plus style="font-size: 50px;" />
                <p style="font-size: 20px;"> Agregar Nuevo tipo de regla </p>
            </div>
        </div>
    </div>
    <!-- modal tipo regla validacion -->
    <modalTipoReglas ref="modalTipoReglas" @success="findAseguradoras" />
    <!-- modal regla validacion -->
    <reglasModal ref="reglasModal" @success="findAseguradoras" />
    <!-- modal confirmar eliminar-->
    <modalConfirm ref="modalConfirm" @responseYes="onSubmitDelete">
      <template v-slot:icon>
        <i-fa-solid-trash-alt class="iconEliminar" />
      </template>
      <div class="justify-content-around flex h-full w-full flex-col">
        <span class="text-center text-2xl" style="color: #13c8dc; font-weight: bold" >
          Eliminar tipo de regla
        </span>
        <span class="text-center">
          ¿Esta seguro/a que desea Eliminar este tipo de regla?
        </span>
      </div>
    </modalConfirm>
    <!-- modal confirmar eliminar-->
    <modalConfirm ref="modalConfirmDeleteRules" @responseYes="onSubmitDeleteRules">
      <template v-slot:icon>
        <i-fa-solid-trash-alt class="iconEliminar" />
      </template>
      <div class="justify-content-around flex h-full w-full flex-col">
        <span class="text-center text-2xl" style="color: #13c8dc; font-weight: bold" >
          Eliminar regla
        </span>
        <span class="text-center">
          ¿Esta seguro/a que desea Eliminar esta regla?
        </span>
      </div>
    </modalConfirm>
</div>
</template>
<script>
import { onMounted, ref, watch, defineAsyncComponent } from "vue";
import {useRoute, useRouter} from 'vue-router';
import { useToast } from "primevue/usetoast";
import findAseguradorasService from "../services/findAseguradorasService";
import deleteAseguradorasTypeRulesService from "../services/deleteAseguradorasTypeRulesService";
import deleteAseguradorasRulesService from "../services/deleteAseguradorasRulesService";

export default {
    name: "reglasValidacionAseguradoras",
    components: {
        modalTipoReglas: defineAsyncComponent(() =>
            import("./tiporeglasmodal.vue")
        ),
        reglasModal: defineAsyncComponent(() =>
            import("./reglasmodal.vue")
        ),
    },
    setup () {
        const router = useRouter();
        const route = useRoute();
        const toast = useToast();
        
        const modalConfirm = ref()
        const modalConfirmDeleteRules = ref()
        const paginatorComponent = ref()
        const aseguradora = ref([]);
        const tipo_reglas_selected = ref()
        const regla_selected = ref()

        const openModalConfirmDelete = (id) => {
            tipo_reglas_selected.value = id
            const aseguradora_find = aseguradora.value.type_rules.find(f=>f.id === id)
            if (aseguradora_find.rules.length) {
                toast.add({
                    severity:'warn', 
                    summary: 'Advertencia', 
                    detail:'El tipo de regla de validacion que intena eliminar, tiene asignado reglas',
                    life: 5000
                });
                return false
            }
            modalConfirm.value.toggle()
        }

        const onSubmitDelete = async() =>{
            const { data } = await deleteAseguradorasTypeRulesService(tipo_reglas_selected.value)
            .catch(error=>{
                console.log(error);
                modalConfirm.value.toggle()
            })
            if (data) {
                modalConfirm.value.toggle()
                findAseguradoras()
                toast.add({
                    severity:'success', 
                    summary: 'Eliminado Correctamente', 
                    detail:'El tipo regla de validación se ha eliminado correctamente, no será posible recuperar su información',
                    life: 3000
                });
            }
        }

        const openModalConfirmDeleteRules = (id) => {
            regla_selected.value = id
            modalConfirmDeleteRules.value.toggle()
        }

        const onSubmitDeleteRules = async() => {
            const { data } = await deleteAseguradorasRulesService(regla_selected.value)
            .catch(error=>{
                console.log(error);
                modalConfirmDeleteRules.value.toggle()
            })
            if (data) {
                modalConfirmDeleteRules.value.toggle()
                findAseguradoras()
                toast.add({
                    severity:'success', 
                    summary: 'Eliminado Correctamente', 
                    detail:'La regla de validación se ha eliminado correctamente, no será posible recuperar su información',
                    life: 3000
                });
            }
        }
        
        const findAseguradoras = async() => {
            const { id } = route.params
            const { data } = await findAseguradorasService(id)
            .catch(error=>{
                console.log(error);
            })
            aseguradora.value = data
        }

        watch(() => route.query, () => {
            if(route.name === 'ajustes.aseguradoras.reglasvalidacion.listar'){
                findAseguradoras()
            }
        })
        onMounted(() => {
            findAseguradoras()
        });
        return {
            aseguradora,
            paginatorComponent,
            modalConfirm,
            modalConfirmDeleteRules,
            findAseguradoras,
            openModalConfirmDelete,
            openModalConfirmDeleteRules,
            onSubmitDelete,
            onSubmitDeleteRules,
        }
    }
};
</script>

<style scoped>
.iconEliminar {
  color: #13c8dc;
  width: 38px;
  height: 44px;
}

.circle {
    background: #2ae1eb;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    padding: 10px;
    background: transparent linear-gradient(180deg, var(--unnamed-color-13c8dc) 0%, #1FEFFC 100%) 0% 0% no-repeat padding-box;
    background: transparent linear-gradient(180deg, #13C8DC 0%, #1FEFFC 100%) 0% 0% no-repeat padding-box;
}

/* ===== Scrollbar CSS ===== */
  /* Firefox */
* {
    scrollbar-width: auto;
    scrollbar-color: #C4C4C4 #ffffff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 16px;
}

*::-webkit-scrollbar-track {
    background: #ffffff;
}

*::-webkit-scrollbar-thumb {
    background-color: #C4C4C4;
    border-radius: 10px;
    border: 3px solid #ffffff;
}
</style>

