<template>
    <!-- modal confirmar regla -->
    <modalConfirm ref="modalConfirm" @responseYes="onSubmit">
        <template v-slot:icon>
            <i-fa-pencil class="iconEliminar" v-if="model.id"/>
            <i-akar-icons-plus class="iconEliminar" v-else />
        </template>
        <div class="justify-content-around flex h-full w-full flex-col">
            <span class="text-center text-2xl" style="color: #13c8dc; font-weight: bold" >
                {{model.id ? 'Cambiar Nombre regla' : 'Agregar regla'}}
            </span>
            <div class="mt-4">
                <span class="p-float-label">
                    <Textarea
                        v-model="model.description"
                        id="descripcionRules"
                        :class="`w-full ${errors.description ? 'p-invalid' : ''}`"
                        rows="1" cols="30"
                    />
                    <label for="descripcionRules">Descripción regla</label>
                </span>
                <div class="text-red-700">
                    {{ errors.description }}
                </div>
            </div>
            <span class="text-center">
                {{model.id ? '¿Esta seguro/a que desea realizar este cambio?' : '¿Esta seguro/a que desea agregar este nuevo tipo de regla?'}}
            </span>
        </div>
    </modalConfirm>
</template>
<script>
import { onMounted, ref, watch } from "vue";
import { useToast } from "primevue/usetoast";
import createAseguradorasRulesService from "../services/createAseguradorasRulesService";
import updateAseguradorasRulesService from "../services/updateAseguradorasRulesService";
import { useField, useForm } from "vee-validate";
import { string, object } from "yup";

export default {
    name: 'reglasValidacionModal',
    setup (props, { emit } ) {
        const toast = useToast();
        const modalConfirm = ref()

        const validationSchema = object({
            description: string().required().label("descripción"),
            idTypeRuler: string().required().label("tipo regla"),
        });

        const {
            handleSubmit,
            handleReset,
            values: model,
            errors,
        } = useForm({ validationSchema });
        
        useField("id", null, { initialValue: "" });
        useField("description", null, { initialValue: "" });
        useField("idTypeRuler", null, { initialValue: "" });

        const onSubmit = handleSubmit(async() => {
            try {
                if (model.id) {
                    const { data } = await updateAseguradorasRulesService(model, model.id)
                    .catch((err) => {
                        console.log(err);
                        modalConfirm.value.toggle()
                    });
                    if (data) {
                        modalConfirm.value.toggle()
                        handleReset()
                        toast.add({
                            severity:'success', 
                            summary: 'Editar Tipo regla de validación', 
                            detail:'Los cambios se han guardado correctamente',
                            life: 3000
                        });
                        emit('success')
                    }
                }else {
                    const { data } = await createAseguradorasRulesService(model)
                    .catch((err) => {
                        console.log(err);
                        modalConfirm.value.toggle()
                    });
                    if (data) {
                        modalConfirm.value.toggle()
                        handleReset()
                        toast.add({
                            severity:'success', 
                            summary: 'Nuevo Tipo regla de validación', 
                            detail:'El tipo regla de validación se ha creado correctamente',
                            life: 3000
                        });
                        emit('success')
                    }
                }
            } catch (error) {
                console.error(error);
            }
        })
        
        const toggle = (idTypeRuler, obj = false) => {
            handleReset()
            if(obj){
                model.id = obj.id
                model.description = obj.description
            }
            model.idTypeRuler = idTypeRuler
            modalConfirm.value.toggle()
        }

        return {
            model,
            errors,
            modalConfirm,
            onSubmit,
            toggle
        }
    }
}
</script>
<style>
.iconEliminar {
  color: #13c8dc;
  width: 38px;
  height: 44px;
}
</style>