<template>
  <div class="card-container blue-container flex flex-row-reverse flex-wrap">
    <Button
      label="Agregar Usuario"
      icon="pi pi-plus"
      class="mr-2"
      @click="$router.push({ name: 'ajustes.config.usuarios.add' })"
    />
  </div>
  <div class="mt-4">
    <DataTable
      :value="users"
      responsiveLayout="scroll"
      :lazy="true"
      :globalFilterFields="[
        'username',
        'email',
        'fullName',
        'lastName',
        'numberDocument',
      ]"
      v-model:filters="filters"
      filterDisplay="menu"
      @filter="onFilter($event)"
    >
      <Column header="Estado">
        <template #body="{ data }">
          <InputSwitch
            v-model="data.state"
            @click="openModalUpdateState(data)"
            v-tooltip.top="data.state ? 'Inactivar' : 'Activar'"
          />
        </template>
      </Column>
      <Column field="username" header="Username">
        <template #filter="{ filterModel }">
          <InputText
            type="text"
            v-model="filterModel.value"
            class="p-column-filter"
            placeholder="Buscar por usuario"
          />
        </template>
        <template #filterclear="{ filterCallback }">
          <Button
            type="button"
            icon="pi pi-times"
            @click="filterCallback()"
            class="p-button-secondary"
          ></Button>
        </template>
        <template #filterapply="{ filterCallback }">
          <Button
            type="button"
            icon="pi pi-check"
            @click="filterCallback()"
            class="p-button-success"
          ></Button>
        </template>
      </Column>
      <Column field="email" header="Correo Electronico">
        <template #filter="{ filterModel }">
          <InputText
            type="text"
            v-model="filterModel.value"
            class="p-column-filter"
            placeholder="Buscar por email"
          />
        </template>
        <template #filterclear="{ filterCallback }">
          <Button
            type="button"
            icon="pi pi-times"
            @click="filterCallback()"
            class="p-button-secondary"
          ></Button>
        </template>
        <template #filterapply="{ filterCallback }">
          <Button
            type="button"
            icon="pi pi-check"
            @click="filterCallback()"
            class="p-button-success"
          ></Button>
        </template>
      </Column>
      <Column field="fullName" header="Nombres">
        <template #filter="{ filterModel }">
          <InputText
            type="text"
            v-model="filterModel.value"
            class="p-column-filter"
            placeholder="Buscar por nombre"
          />
        </template>
        <template #filterclear="{ filterCallback }">
          <Button
            type="button"
            icon="pi pi-times"
            @click="filterCallback()"
            class="p-button-secondary"
          ></Button>
        </template>
        <template #filterapply="{ filterCallback }">
          <Button
            type="button"
            icon="pi pi-check"
            @click="filterCallback()"
            class="p-button-success"
          ></Button>
        </template>
      </Column>
      <Column field="lastName" header="Apellidos">
        <template #filter="{ filterModel }">
          <InputText
            type="text"
            v-model="filterModel.value"
            class="p-column-filter"
            placeholder="Buscar por apellidos"
          />
        </template>
        <template #filterclear="{ filterCallback }">
          <Button
            type="button"
            icon="pi pi-times"
            @click="filterCallback()"
            class="p-button-secondary"
          ></Button>
        </template>
        <template #filterapply="{ filterCallback }">
          <Button
            type="button"
            icon="pi pi-check"
            @click="filterCallback()"
            class="p-button-success"
          ></Button>
        </template>
      </Column>
      <Column field="numberDocument" header="Documento">
        <template #filter="{ filterModel }">
          <InputText
            type="text"
            v-model="filterModel.value"
            class="p-column-filter"
            placeholder="Buscar por documento"
          />
        </template>
        <template #filterclear="{ filterCallback }">
          <Button
            type="button"
            icon="pi pi-times"
            @click="filterCallback()"
            class="p-button-secondary"
          ></Button>
        </template>
        <template #filterapply="{ filterCallback }">
          <Button
            type="button"
            icon="pi pi-check"
            @click="filterCallback()"
            class="p-button-success"
          ></Button>
        </template>
      </Column>
      <Column header="Acciones">
        <template #body="{ data }">
          <div class="flex flex-row justify-around">
            <div
              v-tooltip.left="'Cambia contraseña'"
              @click="openModalUpdatePassword(data)"
            >
              <i-jam-padlock-open-f class="icons-users"></i-jam-padlock-open-f>
            </div>
            <div
              v-tooltip.left="'Editar'"
              @click="
                $router.push({
                  name: 'ajustes.config.usuarios.editar',
                  params: { id: data.id },
                })
              "
            >
              <i-fa-solid-pencil-alt
                class="icons-users"
              ></i-fa-solid-pencil-alt>
            </div>
            <div v-tooltip.left="'Detalle'" @click="openModalDetail(data)">
              <i-ci-info-circle class="icons-users"></i-ci-info-circle>
            </div>
            <div v-tooltip.left="'Eliminar'" @click="openModalDelete(data)">
              <i-fa-solid-trash-alt class="icons-users"></i-fa-solid-trash-alt>
            </div>
          </div>
        </template>
      </Column>
    </DataTable>
    <Paginator
      :rows="parseInt(paginator.per_page)"
      :totalRecords="paginator.total"
      :rowsPerPageOptions="[5, 10, 20, 30, 50, 100]"
      @page="onPage($event)"
    >
      <template #start="slotProps">
        Mostrando registros del
        {{ slotProps.state.first === 0 ? 1 : slotProps.state.first }} al
        {{ slotProps.state.rows * (slotProps.state.page + 1) }} de un total de
        {{ paginator.total }} registros
      </template>
    </Paginator>
  </div>

  <modalConfirm
    ref="modalConfirmUpdatePassword"
    @responseYes="onYesModalUpdatePassword"
  >
    <template v-slot:icon>
      <i-jam-padlock-open-f class="iconEliminar" />
    </template>
    <div class="justify-content-around flex h-full w-full flex-col">
      <span
        class="text-center text-2xl"
        style="color: #13c8dc; font-weight: bold"
        >Cambiar contraseña</span
      >
      <span class="mt-6 text-center"
        >¿Esta seguro/a que desea realizar el cambio de contraseña para este
        usuario?</span
      >
      <span class="text-center"
        >Se enviará al correo
        <span class="font-bold">{{ emailUpdatePassword }}</span> una contraseña
        aleatoria.</span
      >
    </div>
  </modalConfirm>

  <modalConfirm
    ref="modalConfirmUpdateState"
    @responseYes="onYesModalUpdateState"
    @responseNo="onNoModalUpdateState"
  >
    <template v-slot:icon>
      <i-fa-solid-trash-alt class="iconEliminar" />
    </template>
    <div class="justify-content-around flex h-full w-full flex-col">
      <template v-if="stateUser">
        <span
          class="text-center text-2xl"
          style="color: #13c8dc; font-weight: bold"
          >Activar Usuario</span
        >
        <span class="mt-6 text-center"
          >¿Esta segur@ que desea activar el usuario?</span
        >
      </template>
      <template v-else>
        <span
          class="text-center text-2xl"
          style="color: #13c8dc; font-weight: bold"
          >Inactivar Usuario</span
        >
        <span class="mt-6 text-center"
          >¿Esta segur@ que desea inactivar el usuario?</span
        >
      </template>
    </div>
  </modalConfirm>

  <modalOk ref="modalConfirmDetail" @responseYes="onYesModalDetail">
    <template v-slot:icon>
      <i-ci-info-circle class="iconWarning" />
    </template>
    <div class="justify-content-around flex h-full w-full flex-col">
      <span
        class="mb-6 text-center text-2xl"
        style="color: #13c8dc; font-weight: bold"
        >Detalle</span
      >
      <div style="background: #13c8dc">
        <span class="ml-6" style="color: white">Rol</span>
      </div>
      <div class="m-4">
        <span>- {{ userInfo.permissionsRoles.name }}</span>
      </div>
      <div style="background: #13c8dc">
        <span class="ml-6" style="color: white">Permisos</span>
      </div>
      <div class="m-4">
        <template v-if="userInfo.permissionsRoles.permission_has_active">
          <div
            class="flex flex-col"
            v-for="(item, index) in userInfo.permissionsRoles
              .permission_has_active"
            :key="index"
          >
            <span>- {{ item.permissionsRoles.name }}</span>
          </div>
        </template>
        <template v-if="userInfo.permission_has_active_users">
          <div
            class="flex flex-col"
            v-for="(item, index) in userInfo.permission_has_active_users"
            :key="index"
          >
            <span>- {{ item.permissionsUsers.name }}</span>
          </div>
        </template>

        <template
          v-if="
            userInfo.permission_has_active_users.length === 0 &&
            userInfo.permissionsRoles.permission_has_active.length === 0
          "
        >
          <span>-No tiene ningun permiso asignado</span>
        </template>
      </div>
    </div>
  </modalOk>

  <modalConfirm ref="modalConfirmDelete" @responseYes="onYesModalDelete">
    <template v-slot:icon>
      <i-fa-solid-trash-alt class="iconEliminar" />
    </template>
    <div class="justify-content-around flex h-full w-full flex-col">
      <span
        class="text-center text-2xl"
        style="color: #13c8dc; font-weight: bold"
        >Eliminar Usuario</span
      >
      <span class="mt-6 text-center"
        >¿Esta segur@ que desea eliminar el usuario?</span
      >
    </div>
  </modalConfirm>

  <Toast />
</template>

<script>
import getUsers from "./services/getUsers.service";
import updateState from "./services/updateUser.service";
import deleteUser from "./services/deleteUser.service";
import sendEmail from "./services/sendEmail.service";
import { onMounted, ref, defineAsyncComponent, watch } from "vue";
import { useToast } from "primevue/usetoast";
import { FilterMatchMode, FilterOperator } from "primevue/api";
import { useRoute, useRouter } from "vue-router";
import { useAuthStore } from "@/stores/auth";
export default {
  name: "UsuariosMain",
  components: {
    modalConfirm: defineAsyncComponent(() =>
      import("@/components/modalConfirm/Main.vue")
    ),
    modalOk: defineAsyncComponent(() =>
      import("@/components/modalOk/modalOk.vue")
    ),
  },
  setup() {
    const emailUpdatePassword = ref("");
    const auth = useAuthStore();
    const route = useRoute();
    const router = useRouter();
    const users = ref([]);
    const userInfo = ref({});
    const toast = useToast();
    const paginator = ref({
      per_page: 0,
      total: 0,
      first: 0,
    });
    const modalConfirmUpdatePassword = ref();
    const modalConfirmUpdateState = ref();
    const stateUser = ref(false);
    const modalConfirmDetail = ref(false);
    const modalConfirmDelete = ref();
    const filters = ref({
      username: {
        operator: FilterOperator.AND,
        constraints: [{ value: null, matchMode: FilterMatchMode.STARTS_WITH }],
      },
      email: {
        operator: FilterOperator.AND,
        constraints: [{ value: null, matchMode: FilterMatchMode.STARTS_WITH }],
      },
      fullName: {
        operator: FilterOperator.AND,
        constraints: [{ value: null, matchMode: FilterMatchMode.STARTS_WITH }],
      },
      lastName: {
        operator: FilterOperator.AND,
        constraints: [{ value: null, matchMode: FilterMatchMode.STARTS_WITH }],
      },
      numberDocument: {
        operator: FilterOperator.AND,
        constraints: [{ value: null, matchMode: FilterMatchMode.STARTS_WITH }],
      },
    });

    const handleUsers = (payload) => {
      getUsers(payload)
        .then(({ data }) => {
          users.value = data.data;
          paginator.value.per_page = data.per_page;
          paginator.value.total = data.total;
        })
        .catch((error) => {
          console.log(error);
        });
    };
    const onFilter = () => {
      const queryParams = route.query;
      router.push({
        query: {
          ...queryParams,
          page: 1,
          rows: 10,
          filters: btoa(JSON.stringify(filters.value)),
        },
      });
    };
    const onPage = ({ page, rows }) => {
      handleUsers({ page: page + 1, rows });
    };
    const openModalUpdatePassword = (data) => {
      emailUpdatePassword.value = data.email;
      modalConfirmUpdatePassword.value.toggle(data);
    };
    const openModalUpdateState = (data) => {
      stateUser.value = !data.state;
      modalConfirmUpdateState.value.toggle(data);
    };
    const openModalDetail = (data) => {
      getUsers({}, data.id)
        .then(({ data }) => {
          console.log(data);
          userInfo.value = data.data;
          modalConfirmDetail.value.toggle();
        })
        .catch((error) => {
          console.log(error);
        });
    };
    const openModalDelete = (data) => {
      modalConfirmDelete.value.toggle(data);
    };
    const onYesModalUpdatePassword = (data) => {
      modalConfirmUpdatePassword.value.toggle();
      sendEmail({ ...data })
        .then((response) => {
          console.log(response);
          toast.add({
            severity: "success",
            summary: "Exito",
            detail: `Revisa la bandeja de entrada  del correo ${data.email}`,
            life: 3000,
          });
        })
        .catch((error) => {
          console.log(error);
        });
      console.log("onYesModalUpdatePassword", data);
    };
    const onYesModalUpdateState = (data) => {
      updateState(data, data.id)
        .then(({ data }) => {
          toast.add({
            severity: "success",
            summary: "Exito",
            detail: data.message,
            life: 2000,
          });
          modalConfirmUpdateState.value.toggle();
        })
        .catch((error) => {
          console.log(error);
        });
    };
    const onNoModalUpdateState = (data) => {
      data.state = !data.state;
    };
    const onYesModalDetail = () => {
      modalConfirmDetail.value.toggle();
    };
    const onYesModalDelete = (data) => {
      if (data.id === auth.user.id) {
        toast.add({
          severity: "error",
          summary: "Error",
          detail: "Se esta intentando eliminar asimismo.",
          life: 3000,
        });
        modalConfirmDelete.value.toggle();
      } else {
        deleteUser(data.id)
          .then(() => {
            handleUsers({ page: 1, rows: 10 });
            modalConfirmDelete.value.toggle();
          })
          .catch((error) => {
            console.log(error);
          });
      }
    };

    watch(
      () => route.query,
      () => {
        if (route.name === "ajustes.config.usuarios") {
          handleUsers(route.query);
        }
      }
    );

    onMounted(() => {
      handleUsers();
    });

    return {
      userInfo,
      users,
      paginator,
      onPage,
      modalConfirmUpdatePassword,
      openModalUpdatePassword,
      openModalUpdateState,
      openModalDetail,
      openModalDelete,
      modalConfirmUpdateState,
      modalConfirmDetail,
      modalConfirmDelete,
      onYesModalUpdatePassword,
      onYesModalUpdateState,
      onYesModalDetail,
      onNoModalUpdateState,
      onYesModalDelete,
      stateUser,
      filters,
      onFilter,
      emailUpdatePassword,
    };
  },
};
</script>

<style scoped>
.iconEliminar {
  color: #13c8dc;
  width: 38px;
  height: 44px;
}
.iconWarning {
  color: #13c8dc;
  width: 55px;
  height: 55px;
}
.icons-users {
  color: #13c8dc;
  cursor: pointer;
}
.icons-users:hover {
  color: #147ba8;
}
</style>
