<template>
  <div class="p-d-flex" style="color: #147ba8">
    <i class="pi pi-cog mr-2" style="font-size: 20px"></i>
    <span class="font-bold">Otros Nombres Aseguradoras</span>
  </div>
  <div class="card-container blue-container flex flex-row-reverse flex-wrap">
    <Button
      v-tooltip.top="'Descargar plantilla excel para cargar otros nombres de aseguradoras'"
      icon="pi pi-file-excel"
      class="p-button-warning p-button-rounded ml-3"
      @click="onDownloadTemplate()"
    >
      <i-fa-solid-download />
    </Button>
    <Button
      v-tooltip.top="'Cargar otros nombres de aseguradoras en Excel'"
      icon="pi pi-file-excel"
      class="p-button-warning p-button-rounded ml-3"
      @click="fileInput.click()"
    >
      <i-fa-solid-upload />
      <input v-show="false"
      id="upfile"
      type="file"
      @change="onUpload($event.target)"
      class="form-control"
      ref="fileInput"/>
    </Button>
    <Button @click="handleExcelDownload"
    icon="pi pi-file-excel" 
    class="p-button-raised p-button-rounded" 
    v-tooltip.top="'Descargar Excel Sobre los Otros Nombres de Aseguradoras Filtrados'"
    />
    <Button label="Agregar"
    icon="pi pi-plus" 
    class="mr-2" 
    @click="$router.push({name: 'ajustes.aseguradoras.otrosnombres.registrar'})"
    v-tooltip.top="'Agregue otro nombre de aseguradoras a su lista'"
    />
  </div>
  <div class="card mt-5">
    <DataTable :value="otrosNombresData" 
    :lazy="true"
    responsiveLayout="scroll"
    dataKey="id"
    :globalFilterFields="['nit','razonSocial','nombreCorto','codigo', 'correo', 'telefono', 'direccion']"
    v-model:filters="filters" filterDisplay="menu"
    @filter="onFilter($event)" 
    >
        <template #header>
          <div class="grid grid-cols-1 md:grid-cols-2">
            <div>
              <MultiSelect
                  :modelValue="selectedColumns"
                  :options="columns"
                  optionLabel="header"
                  @update:modelValue="onToggle"
                  placeholder="Select Columns"
                  style="width: 20em"
              />
            </div>
            <div class="text-right my-auto" style="color: #147BA8;">
              <span>Total otros nombres aseguradoras: {{paginate.total}}</span>
            </div>
          </div>
        </template>
        <template #empty>
          No se econtraron registros.
        </template>
        <template v-for="(col, index) of selectedColumns" :key="index">
            <Column :field="col.field" :header="col.header">
                <template #body="{data}">
                    <span v-if="data.model.actionEdit">
                      <InputText
                          v-model="data.model[col.field]"
                          :id="col.field"
                          type="text"
                          :class="`w-full ${errors[col.field] ? 'p-invalid' : ''}`"
                      />
                      <div v-if="!data.model[col.field]" class="text-red-700">
                        El campo {{col.field}} es requerido
                      </div>
                    </span>
                    <span v-else>
                      {{data[col.field]}}
                    </span>
                </template>
                <template #filter="{filterModel}">
                    <InputText type="text" 
                    v-model="filterModel.value" 
                    class="p-column-filter" 
                    placeholder="Search by name"/>
                </template>
                <template #filterclear="{filterCallback}">
                  <Button type="button" icon="pi pi-times" @click="filterCallback()" class="p-button-secondary"></Button>
                </template>
                <template #filterapply="{filterCallback}">
                  <Button type="button" icon="pi pi-check" @click="filterCallback()" class="p-button-success"></Button>
                </template>
            </Column>
        </template>
        <Column headerStyle="width:120px;" style="color: #147ba8">
          <template #body="{data}">
            <div class="flex" v-if="data.model.actionEdit">
              <Button @click="onSubmit(data.model)"
              icon="pi pi-check" 
              class="p-button-rounded p-button-outlined" 
              v-tooltip.top="'Guardar Cambios'"
              />
              <Button @click="data.model.actionEdit = false"
              icon="pi pi-times" 
              class="p-button-rounded p-button-outlined ml-5"
              v-tooltip.top="'Cancelar'"
              />
            </div>
            <div v-else class="flex">
                <span @click="initEditRow(data)"
                class="cursor-pointer"
                v-tooltip.top="'Editar'" >
                    <i-fa-solid-pencil-alt />
                </span>
                <span v-tooltip.top="'Eliminar'">
                    <i-fa-solid-trash-alt 
                    @click="openModalConfirmDelete(data.id)"
                    class="ml-2 cursor-pointer" 
                    />
                </span>
            </div>
          </template>
        </Column>
    </DataTable>

    <Paginator v-model="paginate.page"
    :rows="paginate.rows" 
    :totalRecords="paginate.total" 
    :rowsPerPageOptions="[10,20,30]" 
    @page="onPage" 
    ref="paginatorComponent"
    />

    <!-- modal confirmar -->
    <modalConfirm ref="modalConfirm" @responseYes="onSubmitDelete">
      <template v-slot:icon>
        <i-fa-solid-trash-alt class="iconEliminar" />
      </template>
      <div class="justify-content-around flex h-full w-full flex-col">
        <span class="text-center text-2xl" style="color: #13c8dc; font-weight: bold" >
          Eliminar
        </span>
        <span class="text-center">
          ¿Esta seguro/a que desea Eliminar este Registro?
        </span>
      </div>
    </modalConfirm>
    <!-- modal confirmar -->
    <modalConfirm ref="modalConfirmEditar" @responseYes="onSubmitEdit">
        <template v-slot:icon>
          <i-fa-solid-pencil-alt class="iconEliminar" />
        </template>
        <div class="justify-content-around flex h-full w-full flex-col">
            <span class="text-center text-2xl" style="color: #13c8dc; font-weight: bold" >
                Editar
            </span>
            <span class="text-center">
                ¿Esta seguro/a que desea guardar los cambios y editar la información de este registro?
            </span>
        </div>
    </modalConfirm>
  </div>
</template>

<script>
import { string, object, number } from "yup";
import { useField, useForm } from "vee-validate";
import {useRoute, useRouter} from 'vue-router'
import { onMounted, ref, watch } from "vue";
import getService from "./services/getService";
import deleteAseguradorasOtrosNombresService from "./services/deleteAseguradorasOtrosNombresService";
import importAseguradorasOtrosNombresService from "./services/importAseguradorasOtrosNombresService";
import downloadAseguradorasOtrosNombresService from "./services/downloadAseguradorasOtrosNombresService";
import updateAseguradorasOtroNombresService from "./services/updateAseguradorasOtroNombresService";
import { FilterMatchMode, FilterOperator } from 'primevue/api'
import { useToast } from "primevue/usetoast";

export default {
  name: "aseguradorasOtrosNombres",
  setup() {
    const toast = useToast();
    const router = useRouter()
    const route = useRoute()
    const paginatorComponent = ref()
    const paginate = ref({
      total: 0,
      rows: 10,
      page: 0,
    })
    const otrosNombresData = ref([]);
    const modalConfirm = ref()
    const modalConfirmEditar = ref()
    const otros_nombre_selected = ref()
    const fileInput = ref(null)
    const actionEdit = ref(false)

    const columns = ref([
      { field: "aseguradora", header: "Aseguradora" },
      { field: "razonSocial", header: "Razón Social" },
    ]);

    const selectedColumns = ref(columns.value);

    const filters = ref({
      aseguradora: {
        operator: FilterOperator.AND,
        constraints: [{ value: null, matchMode: FilterMatchMode.STARTS_WITH }],
      },
      razonSocial: {
        operator: FilterOperator.AND,
        constraints: [{ value: null, matchMode: FilterMatchMode.STARTS_WITH }],
      },
    });

    const onToggle = (val) => {
      selectedColumns.value = columns.value.filter((col) => val.includes(col));
    }

    const validationSchema = object({
      id: number().required().label("id"),
      nit: string().required().label("NIT"),
      razonSocial: string().required().label("razón social"),
    });

    const {
      handleSubmit,
      values: model,
      errors,
      handleReset
    } = useForm({ validationSchema });

    useField("id", null, { initialValue: "" });
    useField("nit", null, { initialValue: "" });
    useField("razonSocial", null, { initialValue: "" });

    const initEditRow = (row) => {
      row.model.actionEdit = true
      row.model.id = row.id
      row.model.nit = row.nit
      row.model.razonSocial = row.razonSocial
    }

    const onSubmit = (row) => {
      handleReset()
      model.id = row.id
      model.nit = row.nit
      model.razonSocial = row.razonSocial
      modalConfirmEditar.value.toggle()
    };

    const onSubmitEdit = handleSubmit(async() => {
      try {
        const payload = { ...model }
        const { data } = await updateAseguradorasOtroNombresService(payload, payload.id)
        .catch((err) => {
          console.log(err);
        });
        if (data) {
          fetchAseguradorasOtrosNombres()
          modalConfirmEditar.value.toggle()
          toast.add({
            severity:'success', 
            summary: 'Editar nombre de la aseguradora', 
            detail:'Los cambios se han guardado correctamente',
            life: 3000
          });
        }
      } catch (error) {
        console.error(error);
      }
    });

    const openModalConfirmDelete = (id) => {
      otros_nombre_selected.value = id
      modalConfirm.value.toggle()
    }

    const onSubmitDelete = async() => {
      const { data } = await deleteAseguradorasOtrosNombresService(otros_nombre_selected.value)
      .catch(err=>{console.log(err)})
      if (data) {
        modalConfirm.value.toggle()
        fetchAseguradorasOtrosNombres()
        toast.add({
          severity:'success', 
          summary: 'Eliminado Correctamente', 
          detail:'El Paciente se ha eliminado correctamente, no será posible recuperar su información',
          life: 3000
        });
      }
    }

    const onPage = ({rows}) => {
        const { query } = route
        router.push({
            query: {
                ...query,
                page: paginatorComponent.value.currentPage,
                paginate: rows
            }
        })
    }

    const fetchAseguradorasOtrosNombres = async() => {
        const queryParams = { ...route.query }
        queryParams.page = queryParams.page ? queryParams.page : 1
        queryParams.paginate = queryParams.paginate ? queryParams.paginate : paginatorComponent.value.rows
        const { data: records } = await getService(queryParams)
        .catch(err=>{
          console.error(err.message)
        })
        otrosNombresData.value = records.data.map(e=>{
          return {
            ...e,
            model: {
              id: e.id,
              nit: e.nit,
              razonSocial: e.razonSocial,
              actionEdit: false
            }
          }
        })
        paginate.value.total = records.total
    }

    const setQueryParams = () => {
        for(const key in route.query) {
          paginate.value[key] = route.query[key]
        }
    }

    const onFilter = () => {
      const queryParams = route.query
      router.push({ 
        query: { 
          ...queryParams, 
          filters: btoa(JSON.stringify(filters.value)) 
        } 
      })
    }

    const onDownloadTemplate = () => {
      window.open("/aseguradoras-otros-nombres-template.xlsx", "_blank");
    };

    const resetInputFil = () => {
      fileInput.value = null
      const upfile = document.getElementById('upfile')
      if (upfile) {
        upfile.value = ''
      }
    }

    const onUpload = async(event) => {
      const formData = new FormData();
      formData.append("attachment", event.files[0]);
      const { data } = await importAseguradorasOtrosNombresService(formData)
      .catch(error=>{
        console.log(error);
      })
      if (data) {
        fetchAseguradorasOtrosNombres();
        toast.add({
          severity:'success', 
          summary: 'Éxito',
          detail:'Se cargó el excel con los otros nombres de las aseguradoras',
          life: 3000
        });
      }
      resetInputFil()
    };

    const handleExcelDownload = async() => {
      const queryParams = { ...route.query }
      queryParams.page = queryParams.page ? queryParams.page : 1
      queryParams.paginate = queryParams.paginate ? queryParams.paginate : paginatorComponent.value.rows
      const response = await downloadAseguradorasOtrosNombresService(queryParams)
      .catch(err=>{ console.error(err.message) })
      window.open(response, '_blank')
    }

    watch(() => route.query, () => {
        fetchAseguradorasOtrosNombres()
    })

    onMounted(() => {
        fetchAseguradorasOtrosNombres()
        setQueryParams()
    });

    return {
      columns,
      otrosNombresData,
      selectedColumns,
      paginate,
      paginatorComponent,
      filters,
      modalConfirm,
      modalConfirmEditar,
      fileInput,
      model,
      errors,
      actionEdit,
      onToggle,
      onPage,
      openModalConfirmDelete,
      onSubmitDelete,
      onFilter,
      onDownloadTemplate,
      onUpload,
      handleExcelDownload,
      onSubmit,
      onSubmitEdit,
      initEditRow,
    };
  },
};
</script>

<style scoped>
.iconEliminar {
  color: #13c8dc;
  width: 38px;
  height: 44px;
}
</style>
