<template>
  <section class="ModalOk">
    <Dialog
      v-model:visible="display"
      :closable="false"
      :breakpoints="{ '960px': '75vw', '640px': '100vw' }"
      :style="{ width: '477px' }"
      :modal="true"
    >
      <template #header>
        <div class="flex w-full justify-center" style="margin-top: 50px">
          <slot name="icon" />
        </div>
      </template>

      <slot />

      <template #footer>
        <div v-if="!info" class="o-modal m-0 flex flex-wrap">
          <!--          <div-->
          <!--            class="boton-modal left flex h-[70px] w-1/2 items-center"-->
          <!--            @click="display = false"-->
          <!--          >-->
          <!--            <span class="w-full text-3xl">No</span>-->
          <!--          </div>-->
          <div
            class="boton-modal flex h-[70px] w-full items-center"
            @click="$emit('responseYes')"
          >
            <span class="w-full text-3xl">Ok</span>
          </div>
        </div>
        <div v-else class="o-modal m-0 flex flex-wrap justify-end">
          <div class="col-6 boton-modal right" @click="display = false">
            Aceptar
          </div>
        </div>
      </template>
    </Dialog>
  </section>
</template>

<script>
import { ref } from "vue";
export default {
  name: "ModalOk",
  props: {
    info: { type: Boolean, default: false },
  },
  setup() {
    const display = ref(false);

    const toggle = () => {
      display.value = !display.value;
    };

    return {
      display,
      toggle,
    };
  },
};
</script>

<style scoped>
.p-dialog-content {
  height: 100%;
}
.boton-modal {
  text-align: center;
  font-size: 25px;
  color: #13c8dc;
  border-bottom-left-radius: 19px;
  border-bottom-right-radius: 19px;
}

.boton-modal:hover {
  background: #13c8dc;
  color: white;
  cursor: pointer;
}
.o-modal {
  border-bottom-left-radius: 19px;
}
</style>
