<template>
  <Card>
    <template #title>
      <div class="grid grid-cols-2">
        <div class="my-auto flex" style="color: #147ba8">
          <i-akar-icons-plus style="font-size: 20px" />
          <span class="ml-3 font-bold">Agregar Paciente</span>
        </div>
        <div class="text-right">
          <Button
            @click="$router.go(-1)"
            icon="pi pi-arrow-left"
            class="p-button-raised p-button-rounded p-button-warning"
          />
        </div>
      </div>
    </template>
    <template #content>
      <div class="grid grid-cols-1 md:grid-cols-3">
        <div class="col-span-2">
          <div class="border p-4 mt-3 mr-4">
            <div class="flex" style="color: #147ba8">
              <i-fa-solid-address-book />
              <span class="ml-3 font-bold">Datos Básicos</span>
            </div>
            <div class="grid grid-cols-1 md:grid-cols-3">
              <div class="mr-4 mt-6">
                <Dropdown
                  v-model="model.tipoDocumento"
                  :options="tipoDocumentos"
                  optionLabel="name"
                  optionValue="id"
                  :class="`w-full ${errors.tipoDocumento ? 'p-invalid' : ''}`"
                />
                <div class="text-red-700">
                  {{ errors.tipoDocumento }}
                </div>
              </div>
              <div class="col-span-2 mr-4 mt-6">
                <span class="p-float-label">
                  <InputText
                    v-model="model.documento"
                    id="documento"
                    type="text"
                    :class="`w-full ${errors.documento ? 'p-invalid' : ''}`"
                  />
                  <label for="documento">Número de Identificación</label>
                </span>
                <div class="text-red-700">
                  {{ errors.documento }}
                </div>
              </div>
            </div>
            <div class="mr-4 mt-6">
              <span class="p-float-label">
                <InputText
                  v-model="model.fullname"
                  type="text"
                  id="fullname"
                  :class="`w-full ${errors.fullname ? 'p-invalid' : ''}`"
                />
                <label for="fullname">Nombre Completo</label>
              </span>
              <div class="text-red-700">
                {{ errors.fullname }}
              </div>
            </div>
            <div class="mr-4 mt-6">
              <div class="p-float-label">
                <Calendar
                  date-select="selectDate"
                  v-model="model.fechaNacimiento"
                  id="date"
                  :class="`w-full ${errors.fullname ? 'p-invalid' : ''}`"
                />
                <label for="date">Fecha nacimiento</label>
              </div>
              <div class="text-red-700">
                {{ errors.fechaNacimiento }}
              </div>
            </div>
            <hr class="mt-6" />
            <div class="grid grid-cols-1 md:grid-cols-3">
              <div class="col-span-2 mr-4 mt-6">
                <span class="p-float-label">
                  <InputText
                    v-model="contacto_obj.numero"
                    type="text"
                    id="numero_celular"
                    :class="`w-full ${
                      errors_contacto_add.numero ? 'p-invalid' : ''
                    }`"
                  />
                  <label for="numero_celular">Número de celular</label>
                </span>
                <div class="text-red-700">
                  {{ errors_contacto_add.numero }}
                </div>
              </div>
              <div class="mr-4 mt-6">
                <Button
                  @click="addNumeroCel()"
                  label="Agregar"
                  class="w-full"
                />
              </div>
            </div>
            <div class="grid grid-cols-1 md:grid-cols-2">
              <div
                class="mr-4 mt-6"
                v-for="(numero, key) in numero_cel_add"
                :key="key"
              >
                <div class="bg-[#F4F5FA] flex justify-between p-2" 
                style=" border-radius: 10px; ">
                  <div>{{ numero }}</div>
                  <div class="my-auto">
                    <span v-tooltip.top="'Eliminar'" >
                      <i-ci-off-close 
                      @click="removerNumeroCel(key)" 
                      class="cursor-pointer" />
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="grid grid-cols-1 md:grid-cols-3">
              <div class="col-span-2 mr-4 mt-6">
                <span class="p-float-label">
                  <InputText
                    id="correo"
                    type="text"
                    v-model="contacto_obj.correo"
                    :class="`w-full ${ errors_contacto_add.correo ? 'p-invalid' : '' }`"
                  />
                  <label for="correo">Correo electrónico</label>
                </span>
                <div class="text-red-700">
                  {{ errors_contacto_add.correo }}
                </div>
              </div>
              <div class="mr-4 mt-6">
                <Button
                  @click="addCorreo()"
                  label="Agregar"
                  class="w-full"
                />
              </div>
            </div>
            <div class="grid grid-cols-1 md:grid-cols-2">
              <div
                class="mr-4 mt-6"
                v-for="(correo, key) in correo_add"
                :key="key"
              >
                <div class="bg-[#F4F5FA] flex justify-between p-2" 
                style=" border-radius: 10px; ">
                  <div>{{ correo }}</div>
                  <div class="my-auto">
                    <span v-tooltip.top="'Eliminar'" >
                      <i-ci-off-close 
                      @click="removerCorreo(key)" 
                      class="cursor-pointer" />
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="text-red-700">
              {{ errors.contactos }}
            </div>
            <hr class="mt-6" />
            <div class="mr-4 mt-6" style="color: #147ba8">
              <span class="font-bold">Dirección</span>
            </div>
            <div class="grid grid-cols-1 md:grid-cols-2">
              <div class="mr-4 mt-6">
                <Dropdown
                  v-model="localizacion_obj.idDepartamento"
                  @change="selectedDepartamento"
                  :options="departamentos"
                  optionLabel="name"
                  optionValue="id"
                  :class="`w-full ${
                    errors_localizacion_add.idDepartamento ? 'p-invalid' : ''
                  }`"
                />
                <span class="text-red-700">
                  {{ errors_localizacion_add.idDepartamento }}
                </span>
              </div>
              <div class="mr-4 mt-6">
                <Dropdown
                  v-model="localizacion_obj.idMunicipio"
                  :options="municipios"
                  optionLabel="name"
                  optionValue="id"
                  :class="`w-full ${
                    errors_localizacion_add.idMunicipio ? 'p-invalid' : ''
                  }`"
                />
                <span class="text-red-700">
                  {{ errors_localizacion_add.idMunicipio }}
                </span>
              </div>
            </div>
            <div class="grid grid-cols-1 md:grid-cols-3">
              <div class="col-span-2 mr-4 mt-6">
                <span class="p-float-label">
                  <InputText
                    v-model="localizacion_obj.direccion"
                    id="direccion"
                    type="text"
                    :class="`w-full ${
                      errors_localizacion_add.idMunicipio ? 'p-invalid' : ''
                    }`"
                  />
                  <label for="direccion">Dirección</label>
                </span>
                <span class="text-red-700">
                  {{ errors_localizacion_add.direccion }}
                </span>
              </div>
              <div class="mr-4 mt-6">
                <Button
                  @click="addLocation()"
                  label="Agregar"
                  class="w-full"
                />
              </div>
            </div>
            <div class="grid grid-cols-1 md:grid-cols-2">
              <div
                class="mr-4 mt-6"
                v-for="(item, key) in model.locations"
                :key="key"
              >
                <div class="bg-[#F4F5FA] p-2" style=" border-radius: 10px; ">
                  <div class="flex justify-between">
                    <div>{{ item.direccion }}</div>
                    <div class="my-auto">
                      <span v-tooltip.top="'Eliminar'" >
                        <i-ci-off-close 
                        @click="removerLocalization(key)" 
                        class="cursor-pointer" />
                      </span>
                    </div>
                  </div>
                  <div>
                      <p>
                        {{ getDepartamentoMunicipio( item.idDepartamento, item.idMunicipio ) }}
                      </p>
                    </div>
                </div>
              </div>
            </div>
            <div class="text-red-700">
              {{ errors.locations }}
            </div>
          </div>
        </div>
        <div>
          <div class="border p-4 mt-3 mr-4">
            <div class="flex" style="color: #147ba8">
              <i-fa-solid-address-book></i-fa-solid-address-book>
              <span class="ml-3 font-bold">Datos EPS</span>
            </div>
            <div class="mr-4 mt-6">
              <span class="p-float-label">
                <InputText
                  v-model="model.eps"
                  type="text"
                  id="eps"
                  :class="`w-full ${errors['eps'] ? 'p-invalid' : ''}`"
                />
                <label for="eps">Nombre EPS Actual</label>
              </span>
              <span class="text-red-700">
                {{ errors["eps"] }}
              </span>
            </div>
            <div class="mr-4 mt-6">
              <span class="p-float-label">
                <InputText
                  v-model="model.nit"
                  id="nit"
                  type="text"
                  :class="`w-full ${errors['nit'] ? 'p-invalid' : ''}`"
                />
                <label for="nit">NIT EPS</label>
              </span>
              <span class="text-red-700">
                {{ errors["nit"] }}
              </span>
            </div>
          </div>
        </div>
      </div>
    </template>
    <template #footer>
      <Button @click="onSubmit" label="Agregar" />
      <Button
        @click="$router.push({ name: 'ajustes.pacientes' })"
        label="Cancelar"
        class="p-button-secondary ml-5"
      />
    </template>
  </Card>
  <!-- modal confirmar -->
  <modalConfirm ref="modalConfirm" @responseYes="onSubmitConfirm">
    <template v-slot:icon>
        <i-akar-icons-plus class="iconEliminar" />
    </template>
    <div class="justify-content-around flex h-full w-full flex-col">
      <span class="text-center text-2xl" style="color: #13c8dc; font-weight: bold" >
        Agregar Paciente
      </span>
      <span class="text-center">
          ¿Esta seguro/a que desea agregar este nuevo Paciente?
      </span>
    </div>
  </modalConfirm>
</template>

<script>
import { useField, useForm } from "vee-validate";
import { string, object, date, array } from "yup";
import getTypeDocumentService from "../services/getTypeDocumentService";
import getLocalizationsService from "../services/getLocalizationsService";
import savePatientsService from "../services/savePatientsService";
import { onMounted, ref } from "vue";
import dayjs from "dayjs";
import { useToast } from "primevue/usetoast";
import { useRouter } from "vue-router";

export default {
  name: "pacientesRegistrar",
  setup() {
    const router = useRouter();
    const toast = useToast();
    const tipoDocumentos = ref([]);
    const departamentos = ref([]);
    const municipios = ref([{ id: "", name: "Seleccione municipio" }]);
    const correo_add = ref([]);
    const numero_cel_add = ref([]);
    const locations_add = ref([]);
    const eps_add = ref([]);
    const modalConfirm = ref();

    const errors_contacto_add = ref({
      numero: "",
      correo: "",
    });
    const errors_localizacion_add = ref({
      idDepartamento: "",
      idMunicipio: "",
      direccion: "",
      rows: "",
    });
    const contacto_obj = ref({
      numero: "",
      correo: "",
    });

    const localizacion_obj = ref({
      idDepartamento: "",
      idMunicipio: "",
      direccion: "",
    });

    const eps_obj = ref({
      eps: "",
      correo: "",
      estado: "ACTIVO",
      fechaInicioAfiliacion: dayjs().format("YYYY/MM/DD"),
    });

    // const store = useStore();
    const validationSchema = object({
      tipoDocumento: string().required().label("tipo de documento"),
      documento: string().required().label("documento"),
      fullname: string().required().label("nombre completo"),
      fechaNacimiento: date().label("fecha nacimiento"),
      eps: string().nullable(true).required().label("nombre eps actual"),
      nit: string().nullable(true).required().label("nit eps"),
      contactos: array().min(1).label("contactos"),
      locations: array().min(1).label("dirección"),
    });

    const {
      handleSubmit,
      handleReset,
      values: model,
      errors,
    } = useForm({ validationSchema });

    useField("tipoDocumento", null, { initialValue: "" });
    useField("documento", null, { initialValue: "" });
    useField("fullname", null, { initialValue: "" });
    useField("fechaNacimiento", null, { initialValue: "" });
    useField("contactos", null, { initialValue: [] });
    useField("locations", null, { initialValue: [] });
    useField("eps", null, { initialValue: "" });
    useField("nit", null, { initialValue: "" });

    const validateContactsAdd = () => {
      errors_contacto_add.value.numero = numero_cel_add.value.length ? "" : "Debe ingresar mínimo un numero de celular";
      errors_contacto_add.value.correo = correo_add.value.length ? "" : "Debe ingresar mínimo un correo electrónico";
      return !(
        errors_contacto_add.value.numero || errors_contacto_add.value.correo
      );
    };
    const validateLocationsAdd = () => {
      errors_localizacion_add.value.rows = model.locations.length ? "" : "Debe ingresar mínimo una localización";
      return !errors_localizacion_add.value.rows;
    };

    const onSubmit = handleSubmit(() => {
      const validateContacts = validateContactsAdd();
      const validateLocations = validateLocationsAdd();
      if (!validateContacts || !validateLocations) return false;
      modalConfirm.value.toggle()
    });

    const removerLocalization = (key) => {
      model.locations.splice(key, 1);
      toast.add({
        severity:'success', 
        summary: 'Éxito', 
        detail:'Se removió dirección',
        life: 3000
      });
    };
    const removerNumeroCel = (key) => {
      numero_cel_add.value.splice(key, 1);
      toast.add({
        severity:'success', 
        summary: 'Éxito', 
        detail:'Se removió número celular',
        life: 3000
      });
    };
    const removerCorreo = (key) => {
      correo_add.value.splice(key, 1);
      toast.add({
        severity:'success', 
        summary: 'Éxito', 
        detail:'Se removió correo electrónico',
        life: 3000
      });
    };

    const addContacts = () => {
      const data_contacts = numero_cel_add.value.length > correo_add.value.length ? numero_cel_add.value : correo_add.value;
      model.contactos = [];
      for (let index = 0; index < data_contacts.length; index++) {
        model.contactos.push({
          correo: correo_add.value[index] ? correo_add.value[index] : "",
          telefono: numero_cel_add.value[index] ? numero_cel_add.value[index] : "",
        });
      }
    };

    const addNumeroCel = () => {
      errors_contacto_add.value.numero = contacto_obj.value.numero ? "" : "Debe ingresar mínimo un número de celular";
      if (contacto_obj.value.numero) {
        numero_cel_add.value.push(contacto_obj.value.numero);

        addContacts();

        toast.add({
          severity:'success', 
          summary: 'Éxito', 
          detail:'Se añadio número de celular',
          life: 3000
        });
        
        contacto_obj.value.numero = ''
      }
    };
    const addCorreo = () => {
      errors_contacto_add.value.correo = contacto_obj.value.correo ? "" : "Debe ingresar mínimo un correo electrónico";
      let expr = /^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/;
      if (!expr.test(contacto_obj.value.correo)) errors_contacto_add.value.correo = "El correo electrónico es incorrecta.";
        if (!errors_contacto_add.value.correo) {
          correo_add.value.push(contacto_obj.value.correo);

          addContacts();

          toast.add({
            severity:'success', 
            summary: 'Éxito', 
            detail: 'Se añadio correo electrónico', 
            life: 3000
          });

          contacto_obj.value.correo = ''
        }
    };
    const addLocation = () => {
      errors_localizacion_add.value.rows = "";
      errors_localizacion_add.value.idDepartamento = localizacion_obj.value.idDepartamento ? "" : "Debe seleccionar un departamento";
      errors_localizacion_add.value.idMunicipio = localizacion_obj.value.idMunicipio ? "" : "Debe seleccionar un municipio";
      errors_localizacion_add.value.direccion = localizacion_obj.value.direccion ? "" : "Debe ingresar una dirección";
      if (
        localizacion_obj.value.idDepartamento &&
        localizacion_obj.value.idMunicipio &&
        localizacion_obj.value.direccion
      ) {
        model.locations.push(JSON.parse(JSON.stringify(localizacion_obj.value)));

        toast.add({
          severity:'success',
          summary: 'Éxito', 
          detail: 'Se añadio dirección', 
          life: 3000
        });

        localizacion_obj.value.idDepartamento = ''
        localizacion_obj.value.idMunicipio = ''
        localizacion_obj.value.direccion = ''
      }
    };

    const selectedDepartamento = ({ value }) => {
      const departamento_find = departamentos.value.find((f) => f.id === value);
      if (departamento_find) {
        municipios.value = departamento_find.municipios.map((e) => {
          return { id: e.codMpio, name: e.nomMpio };
        });
      }
      municipios.value.unshift({ id: "", name: "Seleccione municipio" });
    };

    const getDepartamentoMunicipio = (idDepartamento, idMunicipio) => {
      const departamento_find = departamentos.value.find(
        (f) => f.id === idDepartamento
      );
      if (departamento_find) {
        const municipio_find = departamento_find.municipios.find(
          (f) => f.codMpio === idMunicipio
        );
        return `${departamento_find.name} / ${municipio_find.nomMpio}`;
      }
    };

    const getOptions = async () => {
      // listar tipo de documentos
      const { data: data_tipo_documentos } = await getTypeDocumentService()
      .catch((err) => {
        console.log(err);
      });
      if (data_tipo_documentos) {
        tipoDocumentos.value = data_tipo_documentos.map(e=>{
          return { ...e, id: e.name }
        })
        tipoDocumentos.value.unshift({
          id: "",
          name: "Seleccione tipo documento",
        });
      }

      // listar departamentos
      const { data: data_departamentos } = await getLocalizationsService()
      .catch((error) => {
        console.log(error);
      });
      departamentos.value = data_departamentos;
      departamentos.value.unshift({ id: "", name: "Seleccione departamento" });
    };

    const onSubmitConfirm = async() => {
      try {
        const { data } = await savePatientsService({
          ...model,
          eps: [{ eps: model.eps, nit: model.nit }],
          fechaNacimiento: dayjs(model.fechaNacimiento).format("YYYY-MM-DD"),
        }).catch((err) => {
          console.log(err);
        });
        if (data) {
          router.push({ name: "ajustes.pacientes" });
          toast.add({
            severity:'success', 
            summary: 'Nuevo Paciente', 
            detail:'El Paciente se ha creado correctamente',
            life: 3000
          });
        }
      } catch (error) {
        console.error(error);
      }
    };

    onMounted(() => {
      getOptions();
      setTimeout(() => {
        handleReset();
      }, 500);
    });

    return {
      correo_add,
      numero_cel_add,
      locations_add,
      eps_add,
      tipoDocumentos,
      model,
      contacto_obj,
      localizacion_obj,
      eps_obj,
      departamentos,
      municipios,
      errors,
      errors_contacto_add,
      errors_localizacion_add,
      modalConfirm,
      removerNumeroCel,
      removerCorreo,
      removerLocalization,
      selectedDepartamento,
      getDepartamentoMunicipio,
      addNumeroCel,
      addCorreo,
      addLocation,
      onSubmit,
      onSubmitConfirm
    };
  },
};
</script>
<style>
.iconEliminar {
  color: #13c8dc;
  width: 38px;
  height: 44px;
}
</style>
