<template>
  <div
    class="card-container blue-container flex flex-row-reverse flex-wrap"
  ></div>
  <form @submit="onSubmit">
    <div class="mt-2 mt-3 grid gap-2">
      <div v-for="(sec, key) in secciones" :key="key">
        <div class="my-3 pb-3 flex justify-center">
          <img
            :src="`https://v3.tissini.app${sec.image}`"
            alt=""
            style="width: 50%"
          />
        </div>
        <div class="my-3 flex justify-center">
          <div class="">
            <Carousel :value="sec.products" :numVisible="4" :numScroll="1">
              <template #item="slotProps">
                <div class="car-item h-full">
                  <div
                    class="car-content m-2 flex h-full flex-col border bg-white p-2"
                  >
                    <div style="margin: auto 0; height: 80%">
                      <img
                        :src="`https://v3.tissini.app${slotProps.data.image.url}`"
                        :alt="slotProps.data.brand"
                        class="h-full border"
                        style="object-fit: cover; object-position: left"
                      />
                    </div>
                    <div>
                      <div class="car-title">{{ slotProps.data.name }}</div>
                      <div class="car-subtitle">
                        {{ slotProps.data.price }}
                      </div>

                      <div class="car-buttons">
                        <Button
                          icon="pi pi-search"
                          class="p-button-secondary"
                        />
                        <Button
                          icon="pi pi-star-fill"
                          class="p-button-secondary"
                        />
                      </div>
                    </div>
                  </div>
                </div>
              </template>
            </Carousel>
          </div>
        </div>
      </div>
    </div>
  </form>

  <Toast />
</template>

<script>
import { onMounted, ref } from "vue";
import getSecciones from "./services/getSecciones";
import { useField, useForm } from "vee-validate";
import { object, string, date } from "yup";
import { useRouter, useRoute } from "vue-router";
import { useToast } from "primevue/usetoast";
import Carousel from "primevue/carousel";
// import getServices from "../services/getServices.service";
export default {
  name: "AddServiceMain",
  components: {
    Carousel,
  },
  setup() {
    // const model = ref({
    //   nombre: "",
    //   apellidos: "",
    //   fechanac: "",
    //   direccion: "",
    // })
    const secciones = ref([]);
    const datatable = ref([
      {
        nombre: "nombreee 1",
        apellidos: "Apellidos 1",
        fechanac: "20/04/2022",
        direccion: "calle 1",
      },
    ]);

    const update = ref(false);
    const router = useRouter();
    const route = useRoute();
    const servicesTypes = ref([]);
    const errorCodService = ref(null);
    const toast = useToast();
    const validationSchema = object({
      nombre: string().required("El nombre es requerido"),
      apellidos: string().required("Los apellidos son requeridos"),
      fechanac: string().required("La fecha de nacimiento es requerida"),
      direccion: string().required("La direccion es requerida"),
    });

    const {
      handleSubmit,
      values: model,
      errors,
    } = useForm({
      validationSchema,
    });

    useField("nombre", null, { initialValue: "" });
    useField("apellidos", null, { initialValue: "" });
    useField("fechanac", null, { initialValue: "" });
    useField("direccion", null, { initialValue: "" });

    const getName = (value) => {
      return value.code + " - " + value.description;
    };

    const handlesection = () => {
      getSecciones()
        .then(({ data }) => {
          secciones.value = data;
          console.log(data);
        })
        .catch((err) => {
          console.error(err.message);
        });
    };

    const onSubmit = handleSubmit(async (values) => {
      // values.fechanac: dayjs(model.fechanac).format("YYYY-MM-DD"),
      datatable.value.push(values);
      toast.add({
        severity: "info",
        summary: "Success Message",
        detail: "Usuario registrado",
        life: 3000,
      });
    });

    onMounted(() => {
      setTimeout(() => {
        handlesection();
      }, 2000);
    });

    return {
      secciones,
      handlesection,
      model,
      datatable,
      servicesTypes,
      getName,
      errors,
      onSubmit,
      errorCodService,
      update,
    };
  },
};
</script>

<style scoped></style>
