<template>
  <div class="p-d-flex mb-3" style="color: #147ba8">
    <i class="pi pi-cog mr-2"></i>
    <span class="font-bold">Recordar Contraseña</span>
  </div>
  <div
    class="card-container blue-container flex flex-row-reverse flex-wrap"
  ></div>
  <form @submit="onSubmit">
    <Accordion>
      <AccordionTab header="Administrador">
        <div class="mt-2 mt-3 grid grid-cols-2 gap-2">
          <div>
            <span class="p-float-label">
              <InputText
                id="usuario"
                type="text"
                v-model="model.usuario"
                class="inputfield w-full"
              />
              <label for="usuario">Usuario</label>
            </span>
            <div style="color: red">
              {{ errors.usuario }}
            </div>
          </div>
          <div>
            <span class="p-float-label">
              <InputText
                id="correo"
                type="text"
                v-model="model.correo"
                class="inputfield w-full"
              />
              <label for="correo">Correo</label>
            </span>
            <div style="color: red">
              {{ errors.correo }}
            </div>
          </div>
        </div>
      </AccordionTab>
      <AccordionTab header="Cliente">
        <div class="mt-2 mt-3 grid grid-cols-2 gap-2">
          <div>
            <span class="p-float-label">
              <InputText
                id="usuario"
                type="text"
                v-model="model.usuario"
                class="inputfield w-full"
              />
              <label for="usuario">Usuario</label>
            </span>
            <div style="color: red">
              {{ errors.usuario }}
            </div>
          </div>
          <div>
            <span class="p-float-label">
              <InputText
                id="correo"
                type="text"
                v-model="model.correo"
                class="inputfield w-full"
              />
              <label for="correo">Correo</label>
            </span>
            <div style="color: red">
              {{ errors.correo }}
            </div>
          </div>
        </div>  
      </AccordionTab>
    </Accordion>
    
    <Button label="Enviar" class="mt-3" type="submit" />
    <Button @click="login()" label="Regresar" class=" bg-[#DFE0E9] mt-3 ml-3" type="button" />
  </form>

  <Toast />
</template>

<script>
import { onMounted, ref } from "vue";
import Accordion from 'primevue/accordion';
import AccordionTab from 'primevue/accordiontab';
// import ServicesTypes from "../services/getServiceTypes.service";
// import saveService from "../services/saveService.service";
// import updateService from "../services/updateService.service";
// import validateCodeService from "../services/validateCodeService.service";
import { useField, useForm } from "vee-validate";
import { object, string, date } from "yup";
import { useRouter, useRoute } from "vue-router";
import { useToast } from "primevue/usetoast";
// import getServices from "../services/getServices.service";
export default {
  name: "AddServiceMain",
  components: {
    Accordion, AccordionTab
  },
  setup() {
    // const model = ref({
    //   nombre: "",
    //   apellidos: "",
    //   fechanac: "",
    //   direccion: "",
    // })
    const datatable = ref([
      {
        nombre: "nombreee 1",
        apellidos: "Apellidos 1",
        fechanac: "20/04/2022",
        direccion: "calle 1",
      },
    ]);

    const update = ref(false);
    const router = useRouter();
    const route = useRoute();
    const servicesTypes = ref([]);
    const errorCodService = ref(null);
    const toast = useToast();
    const oldCodService = ref("");
    const validationSchema = object({
      usuario: string().required("El nombre es requerido"),
      correo: string().required("Los apellidos son requeridos"),
    });

    const {
      handleSubmit,
      values: model,
      errors,
    } = useForm({
      validationSchema,
    });

    useField("usuario", null, { initialValue: "Cajasan@cajasan.com" });
    useField("correo", null, { initialValue: "prueba@prueba.com" });

    const getName = (value) => {
      return value.code + " - " + value.description;
    };

    const login = () => {
      router.push({ name: "login" });
    }

    const onSubmit = handleSubmit(async (values) => {
      // values.fechanac: dayjs(model.fechanac).format("YYYY-MM-DD"),
      datatable.value.push(values);
      toast.add({
        severity: "info",
        summary: "Success Message",
        detail: "Usuario registrado",
        life: 3000,
      });
    });

    onMounted(() => {});

    return {
      login,
      model,
      datatable,
      servicesTypes,
      getName,
      errors,
      onSubmit,
      errorCodService,
      update,
    };
  },
};
</script>

<style scoped></style>
