<template>
    <Card>
        <template #title>
        <div class="grid grid-cols-2">
            <div class="my-auto flex" style="color: #147ba8">
                <i-akar-icons-plus style="font-size: 20px" />
                <span class="ml-3 font-bold">Agregar Aseguradora</span>
            </div>
            <div class="text-right">
                <Button
                @click="$router.push({name: 'ajustes.aseguradoras.otrosnombres'})"
                icon="pi pi-arrow-left"
                class="p-button-raised p-button-rounded p-button-warning"
                />
            </div>
        </div>
        </template>
        <template #content>
            <div class="mr-4 mt-6">
                <span class="p-float-label">
                    <Dropdown
                    v-model="model.nit"
                    :options="listado_nits"
                    optionLabel="razonSocial"
                    optionValue="nit"
                    :filter="true"
                    id="nit"
                    :class="`w-full ${
                        errors.nit ? 'p-invalid' : ''
                    }`"
                    >
                        <template #option="{option}">
                            <span>
                                {{option.nit}} - {{option.razonSocial}}
                            </span>
                        </template>
                    </Dropdown>
                    <label for="nit">nit</label>
                </span>
                <span class="text-red-700">
                    {{ errors.nit }}
                </span>
            </div>
            <div class="mt-6 mr-4">
                <span class="p-float-label">
                    <InputText
                        v-model="model.razonSocial"
                        id="razonSocial"
                        type="text"
                        :class="`w-full ${errors.razonSocial ? 'p-invalid' : ''}`"
                    />
                    <label for="razonSocial">Razón Social</label>
                </span>
                <div class="text-red-700">
                    {{ errors.razonSocial }}
                </div>
            </div>
        </template>
        <template #footer>
            <Button @click="onSubmit()" label="Agregar" />
            <Button
                @click="$router.push({ name: 'ajustes.aseguradoras.otrosnombres' })"
                label="Cancelar"
                class="p-button-secondary ml-5"
            />
        </template>
    </Card>
    <!-- modal confirmar -->
    <modalConfirm ref="modalConfirm" @responseYes="onSubmitConfirm()">
        <template v-slot:icon>
            <i-akar-icons-plus class="iconEliminar" />
        </template>
        <div class="justify-content-around flex h-full w-full flex-col">
            <span class="text-center text-2xl" style="color: #13c8dc; font-weight: bold" >
                Agregar
            </span>
            <span class="text-center">
                ¿Esta seguro/a que desea agregar este nuevo Registro?
            </span>
        </div>
    </modalConfirm>
</template>
<script>
import { onMounted, ref } from "vue";
import { useField, useForm } from "vee-validate";
import { string, object } from "yup";
import { useRouter } from "vue-router";
import getNitsServices from "../services/getNitsService";
import saveAseguradorasOtroNombresService from "../services/saveAseguradorasOtroNombresService";
import { useToast } from "primevue/usetoast";

export default {
  name: "otrosNombresRegistrar",
  setup() {
    const router = useRouter();
    const toast = useToast();
    const modalConfirm = ref();
    const listado_nits = ref([]);
    const validationSchema = object({
      nit: string().required().label("NIT"),
      razonSocial: string().required().label("razón social"),
    });

    const {
      handleSubmit,
      values: model,
      errors,
    } = useForm({ validationSchema });

    useField("nit", null, { initialValue: "" });
    useField("razonSocial", null, { initialValue: "" });

    const onSubmit = handleSubmit(() => {
      modalConfirm.value.toggle()
    });

    const onSubmitConfirm = async() => {
      try {
        const { data } = await saveAseguradorasOtroNombresService({ ...model })
        .catch((err) => {
          console.log(err);
        });
        if (data) {
          router.push({ name: "ajustes.aseguradoras.otrosnombres" });
          toast.add({
            severity:'success', 
            summary: 'Nuevo nombre de la aseguradora', 
            detail:'El nombre de la Aseguradora se ha creado correctamente',
            life: 3000
          });
        }
      } catch (error) {
        console.error(error);
      }
    };
    
    const fetchNits = async() => {
        const { data } = await getNitsServices()
        .catch(err=>{
            console.error(err.message)
        })
        listado_nits.value = data
    }

    onMounted(() => {
        fetchNits()
    });

    return {
        model,
        errors,
        listado_nits,
        modalConfirm,
        onSubmit,
        onSubmitConfirm
    }
  }
}

</script>
<style>
.iconEliminar {
  color: #13c8dc;
  width: 38px;
  height: 44px;
}
</style>