<template>
  <div class="flex justify-between">
    <div class="grid grid-cols-1 content-center gap-4" style="color: #147ba8">
      <div>
        <i class="pi pi-plus mr-2"></i>
        <span class="font-bold">Agregar Permiso</span>
      </div>
    </div>
    <div>
      <Button
        icon="pi pi-arrow-left"
        class="p-button-raised p-button-rounded p-button-warning"
        @click="$router.back()"
      />
    </div>
  </div>
  <form @submit="onSubmit">
    <div class="mt-6">
      <span class="p-float-label">
        <InputText class="w-full" type="text" v-model="model.name" />
        <label>Nombre Permiso</label>
      </span>
      <div style="color: red">
        {{ errors.name }}
      </div>
    </div>
    <div class="mt-6">
      <span class="p-float-label">
        <Textarea
          class="w-full"
          v-model="model.description"
          :autoResize="true"
          rows="5"
          cols="30"
        />
        <label>Descripcion</label>
      </span>
      <div style="color: red">
        {{ errors.description }}
      </div>
    </div>
    <template v-if="update">
      <Button label="Actualizar" class="mt-3" type="submit" />
    </template>
    <template v-else>
      <Button label="Agregar" class="mt-3" type="submit" />
    </template>
    <Button
      label="Cancelar"
      class="p-button-secondary mt-3 ml-3"
      @click="$router.back()"
    />
  </form>
  <Toast />
</template>

<script>
import { ref, onMounted } from "vue";
import addPermissionService from "../services/addPermission.service";
import { object, string } from "yup";
import { useField, useForm } from "vee-validate";
import { useToast } from "primevue/usetoast";
import { useRouter, useRoute } from "vue-router";
import getPermissionsService from "../services/getPermissions.service";
import updatePermissionService from "../services/updatePermission.service";

export default {
  name: "addPermisosMain",
  setup() {
    const router = useRouter();
    const route = useRoute();
    const toast = useToast();
    const update = ref(false);
    const idPermiso = ref(0);
    const validationSchema = object({
      name: string()
        .max(30, "El nombre del permiso debe ser maximo de 30 caracteres")
        .required("El nombre es requerido"),
      description: string().required("La descripcion es requerida"),
    });
    const {
      handleSubmit,
      values: model,
      errors,
    } = useForm({
      validationSchema,
    });
    useField("name", null, { initialValue: "" });
    useField("description", null, { initialValue: "" });

    const onSubmit = handleSubmit(async (values) => {
      if (update.value) {
        updatePermissionService(values, idPermiso.value)
          .then(({ status, data }) => {
            if (data.data.error) {
              toast.add({
                severity: "error",
                summary: "Error",
                detail: data.data.errorMessage,
                life: 3000,
              });
            } else {
              if (status === 201) {
                toast.add({
                  severity: "success",
                  summary: "Exito",
                  detail: "El servicio se actualizó correctamente",
                  life: 3000,
                });
                router.back();
              }
            }
          })
          .catch((error) => {
            console.log(error);
          });
      } else {
        addPermissionService(values)
          .then(({ status, data }) => {
            if (data.data.error) {
              toast.add({
                severity: "error",
                summary: "Error",
                detail: data.data.errorMessage,
                life: 3000,
              });
            } else {
              if (status === 201) {
                toast.add({
                  severity: "success",
                  summary: "Exito",
                  detail: "El servicio se creo correctamente",
                  life: 3000,
                });
                router.back();
              }
            }
          })
          .catch((error) => {
            console.log(error);
          });
      }
    });

    onMounted(() => {
      if (route.params.id) {
        update.value = true;
        idPermiso.value = route.params.id;
        getPermissionsService({}, idPermiso.value)
          .then(({ data }) => {
            model.name = data.data.name;
            model.description = data.data.description;
          })
          .catch((error) => {
            console.log(error);
          });
      }
    });

    return {
      update,
      handleSubmit,
      model,
      errors,
      onSubmit,
    };
  },
};
</script>

<style scoped></style>
