<template>
<div class="box p-4">
    <!-- <div class="card-container blue-container flex flex-row-reverse flex-wrap">
    </div> -->
    <div class="grid grid-cols-1 md:grid-cols-2">
        <div>        
            <div class="flex" style="color: #147BA8;">
                <i-icomoon-free-cog style="font-size: 20px;" />
                <span class="font-bold ml-6" style="font-size: 20px;">Tarifas</span>
            </div>
        </div>
        <div class="text-right">
            <Button @click="handleExcelDownload"
            icon="pi pi-file-excel" 
            class="p-button-raised p-button-rounded" 
            v-tooltip.top="'Descargar Excel Sobre las tarifas de los servicios de la aseguradora filtrados'"
            />
            <Button
            v-tooltip.top="'Cargar tarifas de la aseguradora en excel'"
            icon="pi pi-file-excel"
            class="p-button-warning p-button-rounded ml-3"
            @click="fileInput.click()"
            >
                <i-fa-solid-upload />
                <input v-show="false"
                id="upfile"
                type="file"
                @change="onUpload($event.target)"
                class="form-control"
                ref="fileInput"/>
            </Button>
            <Button
            v-tooltip.top="'Descargar plantilla excel, de los servicios filtrados, para cargar tarifas de la aseguradora'"
            icon="pi pi-file-excel"
            class="p-button-warning p-button-rounded ml-3"
            @click="onDownloadTemplate"
            >
                <i-fa-solid-download />
            </Button>
            <Button
            @click="$router.push({name: 'ajustes.aseguradoras.tarifas'})"
            icon="pi pi-arrow-left"
            class="p-button-raised p-button-rounded p-button-warning ml-3"
            />
        </div>
    </div>
    <div class="pl-9" style="color: #14CCDF;">
        <p>{{aseguradora.nombreCorto}}</p>
        <p>NIT: {{aseguradora.nit}}</p>
    </div>
    <div class="card mt-5">
        <DataTable :value="tarifasServiciosData" 
        :lazy="true"
        responsiveLayout="scroll"
        dataKey="id"
        :globalFilterFields="['code', 'description', 'tarifas']"
        v-model:filters="filters" filterDisplay="menu"
        @filter="onFilter($event)" 
        >
            <template #empty>
                No se econtraron registros.
            </template>
            <template #header>
                <div class="grid grid-cols-1 md:grid-cols-2">
                    <div class="mt-6">
                        <span class="p-float-label">
                            <Dropdown @change="selectedServiceType"
                            v-model="serviceTypeSelected"
                            :options="servicesTypesData"
                            :optionLabel="getName"
                            option-value="id"
                            class="inputfield w-full"
                            id="serviceType"
                            ref="serviceTypeDropdown"
                            />
                            <label for="serviceType">Tipo Tec</label>
                        </span>
                    </div>
                </div>
            </template>
            <Column field="code" header="CUM / CUP">
                <template #body="{data}">
                    <span> {{data.code}} </span>
                </template>
                <template #filter="{filterModel}">
                    <InputText type="text" 
                    v-model="filterModel.value" 
                    class="p-column-filter" 
                    placeholder="Search by name"/>
                </template>
                <template #filterclear="{filterCallback}">
                  <Button type="button" icon="pi pi-times" @click="filterCallback()" class="p-button-secondary"></Button>
                </template>
                <template #filterapply="{filterCallback}">
                  <Button type="button" icon="pi pi-check" @click="filterCallback()" class="p-button-success"></Button>
                </template>
            </Column>
            <Column field="description" header="Descripción">
                <template #body="{data}">
                    <span> {{data.description}} </span>
                </template>
                <template #filter="{filterModel}">
                    <InputText type="text" 
                    v-model="filterModel.value" 
                    class="p-column-filter" 
                    placeholder="Search by name"/>
                </template>
                <template #filterclear="{filterCallback}">
                  <Button type="button" icon="pi pi-times" @click="filterCallback()" class="p-button-secondary"></Button>
                </template>
                <template #filterapply="{filterCallback}">
                  <Button type="button" icon="pi pi-check" @click="filterCallback()" class="p-button-success"></Button>
                </template>
            </Column>
            <Column field="tarifas" header="Tarifa">
                <template #body="{data}">
                    <span v-if="data.model.actionEdit">
                      <InputNumber @keyup="pushEnter($event, data.model)"
                          v-model="data.model.tarifas"
                          id="tarifas"
                          :class="`w-full ${errors.tarifas ? 'p-invalid' : ''}`"
                          mode="currency" 
                          currency="USD" 
                          locale="en-US"
                      />
                      <div v-if="!data.model.tarifas" class="text-red-700">
                        El campo tarifas es requerido
                      </div>
                    </span>
                    <span v-else> {{formatoMoney(data.tarifas)}} </span>
                </template>
                <template #filter="{filterModel}">
                    <InputText type="text" 
                    v-model="filterModel.value" 
                    class="p-column-filter" 
                    placeholder="Search by name"/>
                </template>
                <template #filterclear="{filterCallback}">
                  <Button type="button" icon="pi pi-times" @click="filterCallback()" class="p-button-secondary"></Button>
                </template>
                <template #filterapply="{filterCallback}">
                  <Button type="button" icon="pi pi-check" @click="filterCallback()" class="p-button-success"></Button>
                </template>
            </Column>
            <Column headerStyle="width:120px;" style="color: #147ba8">
                <template #body="{data}">
                    <div class="flex" v-if="data.model.actionEdit">
                        <Button @click="onSubmit(data.model)"
                        icon="pi pi-check" 
                        class="p-button-rounded p-button-outlined" 
                        v-tooltip.top="'Guardar Cambios'"
                        />
                        <Button @click="data.model.actionEdit = false"
                        icon="pi pi-times" 
                        class="p-button-rounded p-button-outlined ml-5"
                        v-tooltip.top="'Cancelar'"
                        />
                    </div>
                    <div v-else class="flex">
                        <span @click="initEditRow(data)"
                        class="cursor-pointer"
                        v-tooltip.top="'Editar'" >
                            <i-fa-solid-pencil-alt />
                        </span>
                        <!-- <span v-tooltip.top="'Eliminar'">
                            <i-fa-solid-trash-alt 
                            @click="openModalConfirmDelete(data.id)"
                            class="ml-2 cursor-pointer" 
                            />
                        </span> -->
                    </div>
                </template>
            </Column>
        </DataTable>

        <Paginator v-model="paginate.page"
        :rows="paginate.rows" 
        :totalRecords="paginate.total" 
        :rowsPerPageOptions="[10,20,30]" 
        @page="onPage" 
        ref="paginatorComponent"
        />
    </div>
    <!-- modal confirmar -->
    <modalConfirm ref="modalConfirmEditar" @responseYes="onSubmitEdit">
        <template v-slot:icon>
          <i-fa-solid-pencil-alt class="iconEliminar" />
        </template>
        <div class="justify-content-around flex h-full w-full flex-col">
            <span class="text-center text-2xl" style="color: #13c8dc; font-weight: bold" >
                Editar
            </span>
            <span class="text-center">
                ¿Esta seguro/a que desea guardar los cambios y editar la información de este registro?
            </span>
        </div>
    </modalConfirm>
</div>
</template>
<script>
import {useRoute, useRouter} from 'vue-router';
import { onMounted, ref, watch } from "vue";
import { object, number } from "yup";
import { useField, useForm } from "vee-validate";
import { FilterMatchMode, FilterOperator } from 'primevue/api'
import { useToast } from "primevue/usetoast";
import findAseguradorasService from "../services/findAseguradorasService";
import getServiceTypesService from "../services/getServiceTypesService";
import getServicesForTypesServicesService from "../services/getServicesForTypesServicesService";
import updateAseguradorasTarifasService from "../services/updateAseguradorasTarifasService";
import downloadTarifasAseguradorasService from "../services/downloadTarifasAseguradorasService";
import downloadTemplateTarifasAseguradorasService from "../services/downloadTemplateTarifasAseguradorasService";
import importTemplateTarifasAseguradorasService from "../services/importTemplateTarifasAseguradorasService";
import {helper as $h} from '../../../../../utils/helper'

export default {
    name: "tarifasAseguradoras",
    setup () {
        const router = useRouter();
        const route = useRoute();
        const toast = useToast();
        const modalConfirmEditar = ref()
        const paginatorComponent = ref()
        const paginate = ref({
            total: 0,
            rows: 10,
            page: 0,
        })
        const tarifasServiciosData = ref([]);
        const serviceTypeSelected = ref(null);
        const servicesTypesData = ref([]);
        const aseguradora = ref({});
        const fileInput = ref(null)
        const serviceTypeDropdown = ref()

        const filters = ref({
            code: {
                operator: FilterOperator.AND,
                constraints: [{ value: null, matchMode: FilterMatchMode.STARTS_WITH }],
            },
            description: {
                operator: FilterOperator.AND,
                constraints: [{ value: null, matchMode: FilterMatchMode.STARTS_WITH }],
            },
        });

        const validationSchema = object({
            id: number().required().label("id"),
            tarifas: number().required().label("tarifas"),
        });
        
        const {
            handleSubmit,
            values: model,
            errors,
            handleReset
        } = useForm({ validationSchema });

        useField("id", null, { initialValue: "" });
        useField("tarifas", null, { initialValue: "" });

        const onFilter = () => {
            const queryParams = route.query
            router.push({ 
                query: { 
                ...queryParams, 
                filters: btoa(JSON.stringify(filters.value)) 
                } 
            })
        }

        const onPage = ({rows}) => {
            const { query } = route
            router.push({
                query: {
                    ...query,
                    page: paginatorComponent.value.currentPage,
                    paginate: rows
                }
            })
        }

        const handleExcelDownload = async() => {
            const { id } = route.params
            const queryParams = { 
                ...route.query, 
                idAseguradora: id,
                idServiceType: serviceTypeSelected.value,
            }
            const response = await downloadTarifasAseguradorasService(queryParams)
            .catch(err=>{ console.error(err.message) })
            window.open(response, '_blank')
        }

        const pushEnter = (event, row) => {
          if (event.key === 'Enter' && event.which === 13) {
            onSubmit(row)
          }
        }

        const onSubmit = (row) => {
            handleReset()
            model.id = row.id
            model.tarifas = row.tarifas
            modalConfirmEditar.value.toggle()
        };

        const onSubmitEdit = handleSubmit(async() => {
            try {
                const { id } = route.params
                const payload = { 
                    idAseguradora: id,
                    idServicio: model.id,
                    tarifas: model.tarifas
                }
                const { data } = await updateAseguradorasTarifasService(payload, id)
                .catch((err) => {
                    console.log(err);
                });
                if (data) {
                    await getOptions()
                    selectedServiceType()
                    modalConfirmEditar.value.toggle()
                    toast.add({
                        severity:'success', 
                        summary: 'Editar tarifa de la aseguradora', 
                        detail:'Los cambios se han guardado correctamente',
                        life: 3000
                    });
                }
            } catch (error) {
                console.error(error);
            }
        });
        const initEditRow = (row) => {
            row.model.id = row.id
            row.model.tarifas = row.tarifas ? parseFloat(row.tarifas) : null
            row.model.actionEdit = true
        }
        const openModalConfirmDelete = (id) => {

        }
        const selectedServiceType = async() => {
            const id = serviceTypeSelected.value
            if (!id) return 
            const queryParams = { ...route.query }
            queryParams.page = queryParams.page ? queryParams.page : 1
            queryParams.paginate = queryParams.paginate ? queryParams.paginate : paginatorComponent.value.rows
            const { data: records } = await getServicesForTypesServicesService(queryParams, id)
            .catch(error => {
                console.log(error);
            })
            if (records) {
                tarifasServiciosData.value = records.data.map(e=>{
                    const tarifaFind = aseguradora.value.tarifas.find(f=>f.idServicio === e.id)
                    return {
                        id: e.id,
                        code: e.code, 
                        description: e.description, 
                        tarifas: tarifaFind ? tarifaFind.tarifas : null,
                        model: {
                            id: e.id,
                            tarifas: null,
                            actionEdit: false
                        }
    
                    }
                })
                paginate.value.total = records.total
            }else {
                tarifasServiciosData.value = []
            }
        }

        const getName = (value) => {
          return value.code + " - " + value.description;
        };
        
        const formatoMoney = (val) => {
            return val ? $h.formatCurrency(parseFloat(val), 2) : ''
        }

        const onDownloadTemplate = async() => {
          if (!serviceTypeSelected.value) {
            toast.add({
                severity:'warn', 
                summary: 'Advertencia', 
                detail:'Debe seleccionar una opción del tipo tec',
                life: 3000
            });

            serviceTypeDropdown.value.focused = true

            return false
          }
            const { id } = route.params
            const queryParams = { 
                ...route.query, 
                idAseguradora: id,
                idServiceType: serviceTypeSelected.value,
            }
            const response = await downloadTemplateTarifasAseguradorasService(queryParams)
            .catch(err=>{ 
                console.error(err.message) 
            })
            window.open(response, '_blank')
        };

        const onUpload = async(event) => {
            const { id } = route.params
            const formData = new FormData();
            formData.append("attachment", event.files[0]);
            const { data } = await importTemplateTarifasAseguradorasService(formData, id)
            .catch(error=>{
                console.log(error);
                resetInputFil()
            })
            if (data) {
                resetInputFil()
                toast.add({
                    severity:'success', 
                    summary: 'Éxito', 
                    detail:'Se cargó el excel con las tarifas de la aseguradora',
                    life: 3000
                });
                getOptions().then(res=>{
                    selectedServiceType()
                })
            }
        }
        const resetInputFil = () => {
            fileInput.value = null
            const upfile = document.getElementById('upfile')
            if (upfile) {
                upfile.value = ''
            }
        }
        const findAseguradoras = async() => {
            const { id } = route.params
            const { data } = await findAseguradorasService(id)
            .catch(error=>{
                console.log(error);
            })
            aseguradora.value = data
        }
        const findServiceTypes = async() => {
            const { data } = await getServiceTypesService()
            .catch(error=>{
                console.log(error);
            })
            servicesTypesData.value = data
        }

        const getOptions = () => {
            return new Promise(resolve=>{
                Promise.all([
                    findServiceTypes(),
                    findAseguradoras()
                ]).then(res=>{
                    resolve(true)
                })
            })
        }
        
        watch(() => route.query, () => {
            selectedServiceType()
        })
        onMounted(() => {
            getOptions()
        });
        return {
            model,
            errors,
            paginate,
            aseguradora,
            tarifasServiciosData,
            servicesTypesData,
            serviceTypeSelected,
            paginatorComponent,
            modalConfirmEditar,
            filters,
            fileInput,
            serviceTypeDropdown,
            onFilter,
            onSubmit,
            initEditRow,
            openModalConfirmDelete,
            onPage,
            handleExcelDownload,
            getName,
            selectedServiceType,
            onSubmitEdit,
            formatoMoney,
            onUpload,
            onDownloadTemplate,
            pushEnter
        }
    }
};
</script>

<style scoped>
.iconEliminar {
  color: #13c8dc;
  width: 38px;
  height: 44px;
}
</style>

