<template>
  <Card>
    <template #title>
      <div class="grid">
        <div class="col-12 md:col-6 my-auto flex" style="color: #147ba8">
          <i-akar-icons-plus style="font-size: 20px" />
          <span class="ml-3 font-bold">Editar Proveedor</span>
        </div>
        <div class="col-12 md:col-6 text-right">
          <Button
            @click="$router.go(-1)"
            icon="pi pi-arrow-left"
            class="p-button-raised p-button-rounded p-button-warning"
          />
        </div>
      </div>
    </template>
    <template #content>
      <div class="card">
        <div class="m-0 grid grid-flow-row-dense grid-cols-4 grid-rows-4">
          <div class="col-span-4">
            <div class="">
              <span class="p-float-label">
                <InputText
                  v-model="model.nit"
                  id="nit"
                  type="text"
                  :class="`w-full ${errors.nit ? 'p-invalid' : ''}`"
                />
                <label for="nit">N° de NIT</label>
              </span>
              <div class="text-red-700">
                {{ errors.nit }}
              </div>
            </div>
          </div>
          <div class="col-span-2 mt-2">
            <span class="p-float-label">
              <InputText
                v-model="model.nombre"
                type="text"
                id="fullname"
                :class="`w-full ${errors.nombre ? 'p-invalid' : ''}`"
              />
              <label for="fullname">Nombre Proveedor</label>
            </span>
            <div class="text-red-700">
              {{ errors.nombre }}
            </div>
          </div>
          <div class="mt-2 ml-2">
            <Dropdown
              v-model="model.nomDpto"
              @change="selectedDepartamento"
              :options="departamentos"
              optionLabel="name"
              optionValue="id"
              :class="`w-full ${errors.nomDpto ? 'p-invalid' : ''}`"
            />
            <span class="text-red-700">
              {{ errors.nomDpto }}
            </span>
          </div>
          <div class="mt-2 ml-2">
            <Dropdown
              v-model="model.idLocalizacion"
              :options="municipios"
              optionLabel="name"
              optionValue="id"
              :class="`w-full ${errors.idLocalizacion ? 'p-invalid' : ''}`"
            />
            <span class="text-red-700">
              {{ errors.idLocalizacion }}
            </span>
          </div>
          <div class="col-span-4 mt-4">
            <div class="col-12 md:col-8">
              <span class="p-float-label">
                <InputText
                  v-model="model.direccion"
                  id="direccion"
                  type="text"
                  :class="`w-full ${errors.direccion ? 'p-invalid' : ''}`"
                />
                <label for="direccion">Dirección</label>
              </span>
              <span class="text-red-700">
                {{ errors.direccion }}
              </span>
            </div>
          </div>
          <div class="mt-6">
            <span class="p-float-label">
              <InputText
                v-model="model.telefono"
                type="text"
                id="numero_celular"
                :class="`w-full ${errors.telefono ? 'p-invalid' : ''}`"
              />
              <label for="numero_celular">Teléfono</label>
            </span>
            <div class="text-red-700">
              {{ errors.telefono }}
            </div>
          </div>
          <div class="mt-6 ml-2">
            <div class="p-float-label">
              <Calendar
                date-select="selectDate"
                v-model="model.fechaInicio"
                id="date"
                :class="`w-full ${errors.fechaInicio ? 'p-invalid' : ''}`"
              />
              <label for="date">Inicio de Convenio</label>
            </div>
            <div class="text-red-700">
              {{ errors.fechaInicio }}
            </div>
          </div>
          <div class="mt-6 ml-2">
            <div class="p-float-label">
              <Calendar
                date-select="selectDate"
                v-model="model.fechaFin"
                id="date"
                :class="`w-full ${errors.fechaFin ? 'p-invalid' : ''}`"
              />
              <label for="date">Fin de Convenio</label>
            </div>
            <div class="text-red-700">
              {{ errors.fechaFin }}
            </div>
          </div>
        </div>
      </div>
    </template>
    <template #footer>
      <Button @click="onSubmit" icon="pi pi-check" label="Actualizar" />
      <Button
        @click="$router.push({ name: 'ajustes.proveedores' })"
        icon="pi pi-times"
        label="Cancel"
        class="p-button-secondary"
        style="margin-left: 0.5em"
      />
    </template>
  </Card>
  <!-- modal confirmar -->
  <modalConfirm ref="modalConfirm" @responseYes="onSubmitConfirm">
    <template v-slot:icon>
      <i-akar-icons-plus class="iconEliminar" />
    </template>
    <div class="justify-content-around flex h-full w-full flex-col">
      <span
        class="text-center text-2xl"
        style="color: #13c8dc; font-weight: bold"
      >
        Editar Proveedor
      </span>
      <span class="text-center">
        ¿Esta seguro/a que desea agregar este nuevo Proveedor?
      </span>
    </div>
  </modalConfirm>
</template>

<script>
import { useField, useForm } from "vee-validate";
import { string, object, number } from "yup";
import getLocalizationsService from "../services/getLocalizationsService";
import updateProveedorService from "../services/updateProveedorService";
import findProveedorService from "../services/findProveedorService";
import { onMounted, ref } from "vue";
import dayjs from "dayjs";
import { useToast } from "primevue/usetoast";
import { useRoute, useRouter } from "vue-router";

export default {
  name: "pacientesRegistrar",
  setup() {
    const router = useRouter();
    const route = useRoute();
    const toast = useToast();
    const departamentos = ref([]);
    const municipios = ref([{ id: "", name: "Seleccione municipio" }]);
    const modalConfirm = ref();

    // const store = useStore();
    const validationSchema = object({
      nit: number().required().label("N° de NIT"),
      nombre: string().required().label("nombre"),
      fechaInicio: string().required().label("Inicio de Convenio"),
      fechaFin: string().required().label("Fin de Convenio"),
      nomDpto: string().nullable(true).required().label("Departamento"),
      idLocalizacion: string().nullable(true).required().label("Municipio"),
      direccion: string().nullable(true).required().label("Dirección"),
      telefono: string().nullable(true).required().label("Teléfono"),
    });

    const {
      handleSubmit,
      handleReset,
      values: model,
      errors,
    } = useForm({ validationSchema });

    useField("nit", null, { initialValue: "" });
    useField("nombre", null, { initialValue: "" });
    useField("fechaInicio", null, { initialValue: "" });
    useField("fechaFin", null, { initialValue: "" });
    useField("nomDpto", null, { initialValue: "" });
    useField("idLocalizacion", null, { initialValue: "" });
    useField("direccion", null, { initialValue: "" });
    useField("telefono", null, { initialValue: "" });

    const onSubmit = handleSubmit(() => {
      modalConfirm.value.toggle();
    });

    const selectedDepartamento = ({ value }) => {
      const departamento_find = departamentos.value.find((f) => f.id === value);
      if (departamento_find) {
        municipios.value = departamento_find.municipios.map((e) => {
          return { id: e.id, name: e.nomMpio };
        });
      }
      municipios.value.unshift({ id: "", name: "Seleccione municipio" });
    };

    const getDepartamentoMunicipio = (idDepartamento, idMunicipio) => {
      const departamento_find = departamentos.value.find(
        (f) => f.id === idDepartamento
      );
      if (departamento_find) {
        const municipio_find = departamento_find.municipios.find(
          (f) => f.codMpio === idMunicipio
        );
        return `${departamento_find.name} / ${municipio_find.nomMpio}`;
      }
    };

    const getOptions = async () => {
      // listar departamentos
      const { data: data_departamentos } =
        await getLocalizationsService().catch((error) => {
          console.log(error);
        });
      departamentos.value = data_departamentos;
      departamentos.value.unshift({ id: "", name: "Seleccione departamento" });
    };

    const onSubmitConfirm = async () => {
      try {
        let payload = model;
        payload.fechaFin = dayjs(payload.fechaFin).format("YYYY-MM-DD");
        payload.fechaInicio = dayjs(payload.fechaInicio).format("YYYY-MM-DD");
        // delete payload.nomDpto;
        const { data } = await updateProveedorService(
          payload,
          route.params.id
        ).catch((err) => {
          modalConfirm.value.toggle();
          console.log(err);
        });
        if (data) {
          router.push({ name: "ajustes.proveedores" });
          toast.add({
            severity: "success",
            summary: "Editar Proveedor",
            detail: "El Proveedor se ha actualizado correctamente",
            life: 3000,
          });
        }
      } catch (error) {
        console.error(error);
      }
    };

    const getProveedor = () => {
      findProveedorService(route.params.id).then(({ data }) => {
        model.nit = data.nit;
        model.nombre = data.nombre;
        model.nomDpto = data.localizacion.codDpto;
        selectedDepartamento({ value: data.localizacion.codDpto });
        model.idLocalizacion = data.localizacion.id;
        model.fechaInicio = dayjs(data.fechaInicio).format("YYYY-MM-DD");
        model.fechaFin = dayjs(data.fechaFin).format("YYYY-MM-DD");
        model.direccion = data.direccion;
        model.telefono = data.telefono;
      });
    };
    onMounted(() => {
      getOptions();
      setTimeout(() => {
        handleReset();
        getProveedor();
      }, 500);
    });

    return {
      model,
      departamentos,
      municipios,
      errors,
      modalConfirm,
      selectedDepartamento,
      getDepartamentoMunicipio,
      onSubmit,
      onSubmitConfirm,
    };
  },
};
</script>
<style>
.iconEliminar {
  color: #13c8dc;
  width: 38px;
  height: 44px;
}
</style>
