<template>
  <div class="grid grid-cols-1 md:grid-cols-2">
    <div class="flex" style="color: #147BA8;">
        <i-icomoon-free-cog style="font-size: 20px;" />
        <span class="font-bold ml-6" style="font-size: 20px;">
          Servicios
        </span>
    </div>
    <div class="text-right">
      <!-- <Button label="Agregar"
      icon="pi pi-plus" 
      class="mr-3" 
      @click="$router.push({name: 'ajustes.aseguradoras.soportestipificacion.servicios.registrar'})"
      v-tooltip.top="'Agregue servicios a su lista'"
      /> -->
      <Button
      @click="$router.push({name: 'ajustes.aseguradoras.soportestipificacion'})"
      icon="pi pi-arrow-left"
      class="p-button-raised p-button-rounded p-button-warning"
      />
    </div>
  </div>
  <div class="mt-6">
    <DataTable :value="services" 
    dataKey="id" 
    class="p-datatable-striped" 
    responsiveLayout="scroll">
      <template #empty>
        No hay datos.
      </template>
      <Column field="status" header="Estado">
        <template #body="{data}">
          <span v-if="data.model.actionEdit">
            <InputSwitch v-model="data.model.status" :disabled="false" /> 
          </span>
          <span v-else>
            <InputSwitch v-model="data.status" :disabled="true"/> 
          </span>
        </template>
      </Column>
      <Column field="nombre" header="Soporte" :styles="{width:'600px'}">
        <template #body="{data}">
          <span v-if="data.model.actionEdit">
            <InputText
                v-model="data.model.nombre"
                type="text"
                :class="`w-full ${errors.nombre ? 'p-invalid' : ''}`"
            />
            <div v-if="!data.model.nombre" class="text-red-700">
              El campo soporte es requerido
            </div>
          </span>
          <span v-else>
            {{data.nombre}}
          </span>
        </template>
      </Column>
      <Column headerStyle="width:120px;" style="color: #147ba8">
        <template #body="{data}">
          <div class="flex" v-if="data.model.actionEdit">
            <Button @click="onSubmit(data.model)"
            icon="pi pi-check" 
            class="p-button-rounded p-button-outlined" 
            v-tooltip.top="'Guardar Cambios'"
            />
            <Button @click="data.model.actionEdit=false"
            icon="pi pi-times" 
            class="p-button-rounded p-button-outlined ml-5"
            v-tooltip.top="'Cancelar'"
            />
          </div>
          <div v-else class="flex">
              <span @click="initEditRow(data)"
              class="cursor-pointer"
              v-tooltip.top="'Editar'" >
                  <i-fa-solid-pencil-alt />
              </span>
              <!-- <span v-tooltip.top="'Eliminar'">
                  <i-fa-solid-trash-alt 
                  @click="openModalConfirmDelete(data.id)"
                  class="ml-2 cursor-pointer" 
                  />
              </span> -->
          </div>
        </template>
      </Column>
    </DataTable>  
    <!-- paginador de la tabla -->
    <Paginator v-model="paginate.page"
    :rows="paginate.rows" 
    :totalRecords="paginate.total" 
    :rowsPerPageOptions="[10,20,30]" 
    @page="onPage" 
    ref="paginatorComponent"
    />
    <!-- modal confirmar -->
    <modalConfirm ref="modalConfirmEditar" @responseYes="onSubmitEdit">
        <template v-slot:icon>
          <i-fa-solid-pencil-alt class="iconEliminar" />
        </template>
        <div class="justify-content-around flex h-full w-full flex-col">
            <span class="text-center text-2xl" style="color: #13c8dc; font-weight: bold" >
                Editar
            </span>
            <span class="text-center">
                ¿Esta seguro/a que desea guardar los cambios y editar la información de este registro?
            </span>
        </div>
    </modalConfirm>
  </div>
</template>
<script>
import { onMounted, ref, watch } from "vue";
import { useRoute } from 'vue-router'
import { string, object, number, boolean } from "yup";
import { useField, useForm } from "vee-validate";
import serviciosGetService from '../services/serviciosGetService'
import serviciosUpdateService from "../services/serviciosUpdateService";
import { useToast } from "primevue/usetoast";

export default {
  name: 'serviciosTipificacion',
  setup(){
    const route = useRoute()
    const toast = useToast()
    const services = ref([])
    const paginatorComponent = ref()
    const modalConfirmEditar = ref()
    const paginate = ref({
      total: 0,
      rows: 10,
      page: 0,
    })

    const validationSchema = object({
      id: number().required().label("id"),
      nombre: string().required().label("nombre"),
      status: boolean().required().label("estado"),
    });

    const {
      handleSubmit,
      values: model,
      errors,
      handleReset
    } = useForm({ validationSchema });

    useField("id", null, { initialValue: "" });
    useField("nombre", null, { initialValue: "" });
    useField("status", null, { initialValue: "" });

    const initEditRow = (row) => {
      row.model.actionEdit = true
      row.model.id = row.id
      row.model.nombre = row.nombre
      row.model.status = row.status
    }

    const onSubmit = (row) => {
      handleReset()
      model.id = row.id
      model.nombre = row.nombre.toUpperCase()
      model.status = row.status
      modalConfirmEditar.value.toggle()
    };

    const onSubmitEdit = handleSubmit(async() => {
      const payload = { ...model }
      const { data } = await serviciosUpdateService(payload, payload.id)
      .catch((err) => {
        console.log(err);
      });
      if (data) {
        fetchServicios()
        modalConfirmEditar.value.toggle()
        toast.add({
          severity:'success', 
          summary: 'Editar servicio de la aseguradora', 
          detail:'Los cambios se han guardado correctamente',
          life: 3000
        });
      }
    })
    
    const onPage = ({rows}) => {
        const { query } = route
        router.push({
            query: {
                ...query,
                page: paginatorComponent.value.currentPage,
                paginate: rows
            }
        })
    }
    const fetchServicios = async() => {
      const queryParams = { ...route.query }
      queryParams.page = queryParams.page ? queryParams.page : 1
      queryParams.paginate = queryParams.paginate ? queryParams.paginate : paginatorComponent.value.rows
      const {data: records} = await serviciosGetService(queryParams)
      .catch(error=>{
        console.log(error);
      })
      if (records) {
        services.value = records.data.map(e=>{
          return { 
            ...e,
            model: {
              id: e.id,
              nombre: e.nombre,
              status: e.status,
              actionEdit: false
            }
          }
        })
        paginate.value.total = records.total
      }
    }

    watch(() => route.query, () => {
        fetchServicios()
    })

    onMounted(()=>{
      fetchServicios()
    })

    return {
      services,
      paginate,
      paginatorComponent,
      modalConfirmEditar,
      model,
      errors,
      initEditRow,
      onPage,
      onSubmitEdit,
      onSubmit
    }
  }
}
</script>
<style>
</style>