<template>
  <Toast />
  <sidebar-menu
    v-model:collapsed="collapsed"
    :menu="formattedMenu"
    :show-one-child="true"
    @update:collapsed="onToggleCollapse"
    :width-collapsed="isOnMobile ? '' : '65px'"
    :class="{ '-translate-x-full': collapsed && isOnMobile }"
    theme="white-theme"
    class="aside absolute inset-y-0 left-0 transform transition duration-200 ease-in-out md:translate-x-0"
  >
    <!-- Info usuario -->
    <template v-slot:header>
      <div
        class="flex h-[70px] items-center justify-center bg-[#00BCD4] p-2 text-white"
      >
        <div class="h-[50px] w-[50px]">
          <!-- <img
              class="h-full object-cover rounded-full"
              src="/img/dashboard/user_img.png"
              alt="Imagen del usuario"
            > -->
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="50"
            height="50"
            fill="currentColor"
            class="bi bi-person-circle"
            viewBox="0 0 16 16"
          >
            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
            <path
              fill-rule="evenodd"
              d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"
            />
          </svg>
        </div>
        <div class="ml-5 flex flex-col flex-wrap" v-if="!collapsed">
          <h4
            class="bg-white bg-clip-text text-3xl font-extrabold text-transparent"
          >
            Tissini
          </h4>
        </div>
      </div>
    </template>
  </sidebar-menu>
  <section
    class="flex h-screen w-full shrink-0 grow basis-auto flex-row"
    :class="[
      collapsed ? 'padding-collapsed' : 'md:pl-[290px]',
      { 'padding-mobile': isOnMobile },
    ]"
  >
    <!-- Wrapper -->
    <div
      class="relative h-full flex-1 overflow-y-auto overflow-x-hidden bg-[#F2F4F6]"
    >
      <!-- Navbar -->
      <header
        class="relative sticky top-0 z-50 h-[71px] border-b border-gray-200 bg-[#00BCD4] px-4"
      >
        <div class="flex h-full items-center justify-between md:justify-end">
          <h4
            class="bg-white bg-clip-text py-3 px-4 text-2xl font-extrabold text-transparent"
          >
            Cerrar sesión
          </h4>
          <button @click="logout">
            <i-bx-power-off class="text-2xl text-white"></i-bx-power-off>
          </button>
          <!-- mobile menu button -->
          <button
            class="mobile-menu-button p-4 focus:bg-gray-100 focus:outline-none md:hidden"
            @click="visualSidebar"
          >
            <svg
              class="h-6 w-6"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M4 6h16M4 12h16M4 18h16"
              />
            </svg>
          </button>
        </div>
      </header>
      <!-- Container -->
      <main class="p-4">
        <router-view />
      </main>
    </div>
  </section>
</template>

<script setup>
import { useSideMenuStore } from "../../stores/side-menu";
import { useAuthStore } from "../../stores/auth";
import { nestedMenu } from "./index";
import getMenuService from "./services/getCategorias";
import { helper as $h } from "../../utils/helper";
import { computed, onMounted, ref, watch } from "vue";
import { useRoute, useRouter } from "vue-router";

const route = useRoute();
const router = useRouter();
const sideMenuStore = useSideMenuStore();
// eslint-disable-next-line no-unused-vars
const auth = useAuthStore();
const formattedMenu = ref([]);
const menuCategorias = ref([]);

const sideMenu = computed(() => {
  return menuCategorias.value;
});

const handleMenu = () => {
  getMenuService()
    .then(({ data }) => {
      menuCategorias.value = nestedMenu(data, route);
    })
    .catch((err) => {
      console.error(err.message);
    });
};
const isOnMobile = ref(false);
const collapsed = ref(false);
const onResize = () => {
  if (window.innerWidth < 768) {
    isOnMobile.value = true;
    collapsed.value = true;
    onToggleCollapse(collapsed.value, isOnMobile.value);
    onToggleMobile(collapsed.value, isOnMobile.value);
  } else {
    isOnMobile.value = false;
    collapsed.value = false;
    onToggleCollapse(collapsed.value, isOnMobile.value);
    onToggleMobile(collapsed.value, isOnMobile.value);
  }
};

const onToggleMobile = (isMobile) => {
  sideMenuStore.setCollapsed(isMobile);
};

const onToggleCollapse = (collapsed) => {
  sideMenuStore.setIsMobile(collapsed);
};

const visualSidebar = () => {
  isOnMobile.value = !isOnMobile.value;
  collapsed.value = !collapsed.value;
};

const logout = () => {
  // console.log("logout");
  auth.logout();
  router.push({ name: "login" });
};

/**/
watch(
  computed(() => route.path),
  () => {
    handleMenu();
    formattedMenu.value = $h.toRaw(sideMenu.value);
  }
);

/**/

onMounted(() => {
  onResize();
  handleMenu();
  window.addEventListener("resize", onResize);
  setTimeout(() => {
    formattedMenu.value = $h.toRaw(sideMenu.value);
  }, 2000);
});
</script>

<style>
svg:not(:root).svg-inline--fa,
svg:not(:host).svg-inline--fa {
  box-sizing: border-box !important;
}
</style>
