<template>
    <Card>
        <template #title>
        <div class="grid grid-cols-2">
            <div class="my-auto flex" style="color: #147ba8">
                <i-akar-icons-plus style="font-size: 20px" />
                <span class="ml-3 font-bold">Agregar Soporte</span>
            </div>
            <div class="text-right">
                <Button
                @click="$router.push({name: 'ajustes.aseguradoras.soportestipificacion.soportes'})"
                icon="pi pi-arrow-left"
                class="p-button-raised p-button-rounded p-button-warning"
                />
            </div>
        </div>
        </template>
        <template #content>
          <div class="mr-4 mt-6">
              <span class="p-float-label">
                <InputText
                  v-model="model.nombre"
                  id="nombre"
                  type="text"
                  :class="`w-full ${errors.nombre ? 'p-invalid' : ''}`"
                />
                <label for="nombre">Nombre del Soporte</label>
              </span>
              <div class="text-red-700">
                {{ errors.nombre }}
              </div>
          </div>
        </template>
        <template #footer>
            <Button @click="onSubmit()" label="Agregar" />
            <Button
                @click="$router.push({ name: 'ajustes.aseguradoras.soportestipificacion.soportes' })"
                label="Cancelar"
                class="p-button-secondary ml-5"
            />
        </template>
    </Card>
    <!-- modal confirmar -->
    <modalConfirm ref="modalConfirm" @responseYes="onSubmitConfirm()">
        <template v-slot:icon>
            <i-akar-icons-plus class="iconEliminar" />
        </template>
        <div class="justify-content-around flex h-full w-full flex-col">
            <span class="text-center text-2xl" style="color: #13c8dc; font-weight: bold" >
                Agregar
            </span>
            <span class="text-center">
                ¿Esta seguro/a que desea agregar este nuevo Registro?
            </span>
        </div>
    </modalConfirm>
</template>
<script>
import { onMounted, ref } from "vue";
import { useField, useForm } from "vee-validate";
import { string, object } from "yup";
import { useRouter } from "vue-router";
import soportesSaveService from "../../services/soportesSaveService";
import { useToast } from "primevue/usetoast";

export default {
  name: "soportesRegistrar",
  setup() {
    const router = useRouter();
    const toast = useToast();
    const modalConfirm = ref();
    const validationSchema = object({
      nombre: string().required().label("nombre del soporte"),
    });

    const {
      handleSubmit,
      values: model,
      errors,
    } = useForm({ validationSchema });

    useField("nombre", null, { initialValue: "" });

    const onSubmit = handleSubmit(() => {
      modalConfirm.value.toggle()
    });

    const onSubmitConfirm = async() => {
      try {
        model.nombre = model.nombre.toUpperCase()
        const { data } = await soportesSaveService(model)
        .catch((err) => {
          console.log(err);
        });
        if (data) {
          router.push({ name: "ajustes.aseguradoras.soportestipificacion.soportes" });
          toast.add({
            severity:'success', 
            summary: 'Nuevo soporte de la aseguradora', 
            detail:'El soporte de la Aseguradora se ha creado correctamente',
            life: 3000
          });
        }
      } catch (error) {
        console.error(error);
      }
    };
    
    return {
        model,
        errors,
        modalConfirm,
        onSubmit,
        onSubmitConfirm
    }
  }
}

</script>
<style>
.iconEliminar {
  color: #13c8dc;
  width: 38px;
  height: 44px;
}
</style>