<template>
  <div class="mt-0 md:mr-10 md:ml-10 md:mt-5">
    <div class="grid grid-cols-1 justify-items-end">
      <div class="grid grid-cols-3 gap-6 md:w-[30%]">
        <div class="col-span-1">
          <Dropdown
            v-model="rangoSelected"
            :options="rangosGeneral"
            @change="changeRangeDate"
            optionLabel="name"
            optionValue="val"
            class="p-inputtext-sm h-[36px] w-full"
          />
        </div>
        <div class="col-span-2 pb-2">
          <Calendar
            id="rangeDatesid"
            v-model="rangeDates"
            selectionMode="range"
            :manualInput="false"
            ref="rageDatesref"
            class="p-inputtext-sm h-[36px] w-full"
            :showIcon="true"
          />
        </div>
      </div>
    </div>
    <div class="mt-3 grid grid-cols-1 gap-12 md:grid-cols-2">
      <div class="">
        <div
          class="fondo-gradient mb-5 grid h-[150px] grid-cols-5 gap-2 md:gap-0"
        >
          <div class="flex items-center justify-center">
            <div class="rounded-full bg-white p-3">
              <i-mdi-clipboard-file class="text-4xl text-[#147BA8]" />
            </div>
          </div>
          <div class="col-span-2 grid grid-rows-2 gap-5">
            <div class="flex items-end">
              <span class="text-2xl font-bold text-white"
                >Total Direccionamientos</span
              >
            </div>
            <div class="flex items-start">
              <span class="text-4xl font-bold text-white">200</span>
            </div>
          </div>
          <div class="col-span-2 grid grid-rows-2 gap-5">
            <div></div>
            <div class="flex items-start">
              <i-ph-chart-line-up-bold class="text-xl text-white" />
              <span class="flex pl-3 text-base text-white"
                ><p class="font-bold">+0,5%</p>
                <p>Solicitudes recibidas</p>
              </span>
            </div>
          </div>
        </div>
        <div class="row-span-2 grid grid-cols-1 gap-8 md:grid-cols-2">
          <div class="h-[570px]">
            <Card class="h-full">
              <template #content>
                <div class="pb-5">
                  <p class="w-[60%] text-2xl text-[#898392]">
                    Entregas efectivas por aseguradora
                  </p>
                </div>
                <div class="contenedorMsj mt-5 h-[430px] overflow-auto">
                  <div
                    class="mt-2 grid w-[95%] grid-rows-3"
                    v-for="dato in datosAseguradoras"
                    :key="dato.nombreAseguradora"
                  >
                    <div>
                      <p class="text-base text-[#A5A5A5]">
                        {{ dato.nombreAseguradora }}
                      </p>
                    </div>
                    <div>
                      <ProgressBar
                        class="progresMensjes w-full"
                        :value="dato.pgVal"
                        :showValue="false"
                      />
                    </div>
                    <div class="flex flex-row-reverse">
                      <p class="text-base text-[#A5A5A5]">
                        {{ dato.entregasCompletadas }}
                      </p>
                    </div>
                  </div>
                </div>
              </template>
            </Card>
          </div>
          <div class="grid grid-rows-3 gap-4">
            <div class="grid grid-rows-2 rounded-lg bg-white pl-7">
              <div class="flex items-center">
                <span class="text-xl font-bold text-[#898392]"
                  >Direccionamientos Programados</span
                >
              </div>
              <div class="grid grid-cols-4">
                <div class="col-span-3 flex items-center">
                  <div class="w-full pr-3">
                    <ProgressBar
                      class="progresMensjes w-full"
                      :value="direcProgramados.pgValue"
                      :showValue="false"
                    />
                    <div class="flex pt-3">
                      <span class="text-base text-[#13C8DC]"
                        ><p class="font-extrabold">
                          {{ Math.round(direcProgramados.pgValue) }}%
                        </p></span
                      >
                      <span class="pl-2 text-base text-[#A5A5A5]"
                        ><p>de las solicitudes Validadas</p></span
                      >
                    </div>
                  </div>
                </div>
                <div>
                  <span class="text-4xl font-bold text-[#6A6472]">{{
                    direcProgramados.programados
                  }}</span>
                </div>
              </div>
            </div>
            <div class="grid grid-rows-2 rounded-lg bg-white pl-7">
              <div class="flex items-center">
                <span class="text-xl font-bold text-[#898392]"
                  >Direccionamientos Entregados</span
                >
              </div>
              <div class="grid grid-cols-4">
                <div class="col-span-3 flex items-center">
                  <div class="w-full pr-3">
                    <ProgressBar
                      class="progresMensjes w-full"
                      :value="direcEntregados.pgValue"
                      :showValue="false"
                    />
                    <div class="flex pt-3">
                      <span class="text-base text-[#13C8DC]"
                        ><p class="font-extrabold">
                          {{ Math.round(direcEntregados.pgValue) }}%
                        </p></span
                      >
                      <span class="pl-2 text-base text-[#A5A5A5]"
                        ><p>de las solicitudes Programadas</p></span
                      >
                    </div>
                  </div>
                </div>
                <div>
                  <span class="text-4xl font-bold text-[#6A6472]">{{
                    direcEntregados.entregados
                  }}</span>
                </div>
              </div>
            </div>
            <div class="fondo-chart">
              <div
                id="graficaEntregas"
                ref="entregaGrafica"
                class="w-full"
                style="height: 182px"
              ></div>
            </div>
          </div>
        </div>
      </div>
      <div>
        <div class="row-span-2 mb-5 rounded-lg">
          <Card class="h-[580px]">
            <template #content>
              <div class="pl-0 pb-4 md:pl-5 md:pb-8">
                <p class="w-full text-2xl text-[#898392]">
                  Validación de solicitudes
                </p>
              </div>
              <div
                id="validacionGrafica"
                ref="validacionGrafica"
                class="w-full"
                style="height: 510px"
              ></div>
            </template>
          </Card>
        </div>
        <div class="fondo-gradient grid h-[150px] grid-cols-5 gap-2 md:gap-0">
          <div class="flex items-center justify-center">
            <div class="rounded-full bg-white p-3">
              <i-el-paper-clip class="text-4xl text-[#147BA8]" />
            </div>
          </div>
          <div class="col-span-4 grid grid-rows-2">
            <div class="flex items-center">
              <span>
                <p class="text-2xl font-bold text-white">
                  Total Solicitudes con soportes Auditados
                </p></span
              >
            </div>
            <div class="grid grid-cols-2">
              <div><span class="text-4xl font-bold text-white">90</span></div>
              <div class="flex items-start">
                <i-ph-chart-line-up-bold class="text-xl text-white" />
                <span class="flex pl-3 text-base text-white"
                  ><p class="font-bold">+0,5%</p>
                  <p>Auditorias realizadas</p>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { onMounted, ref, reactive } from "vue";
import dayjs from "dayjs";
import * as echarts from "echarts";

export default {
  name: "HomePage",
  setup() {
    const rageDatesref = ref(null);
    const entregaGrafica = ref();
    let chartEntrega = reactive({});
    const charDataEntrega = ref({});
    const validacionGrafica = ref();
    let chartValidacion = reactive({});
    const charDataValidacion = ref([]);
    const rangosGeneral = ref([
      {
        name: "Semana",
        val: "Semana",
      },
      {
        name: "Mes",
        val: "Mes",
      },
      {
        name: "Dia",
        val: "Dia",
      },
    ]);
    const rangoSelected = ref("Mes");
    const rangeDates = ref([
      dayjs(dayjs().subtract(1, "M").format("YYYY-MM-DD")).$d,
      dayjs(dayjs().format("YYYY-MM-DD")).$d,
    ]);
    const datosAseguradoras = ref([]);
    const direcProgramados = ref({});
    const direcEntregados = ref({});

    const changeRangeDate = () => {
      let actuallyDate = dayjs().format("YYYY-MM-DD");
      let beforeDate = {};
      if (rangoSelected.value === "Mes") {
        beforeDate = dayjs().subtract(1, "M").format("YYYY-MM-DD");
      } else if (rangoSelected.value === "Semana") {
        beforeDate = dayjs().subtract(1, "w").format("YYYY-MM-DD");
      } else {
        beforeDate = dayjs().subtract(1, "d").format("YYYY-MM-DD");
      }
      rangeDates.value[0] = dayjs(beforeDate).$d;
      rangeDates.value[1] = dayjs(actuallyDate).$d;
      var input = document.getElementById("rangeDatesid");
      input.focus();
      rageDatesref.value.overlayVisible = false;
    };

    const fetchDatos = () => {
      datosAseguradoras.value = [
        {
          nombreAseguradora: "MEDIMAS",
          entregasCompletadas: 10,
          entragasTotales: 150,
          pgVal: (10 * 100) / 150,
        },
        {
          nombreAseguradora: "COMPARTA EPS SA",
          entregasCompletadas: 10,
          entragasTotales: 150,
          pgVal: (10 * 100) / 150,
        },
        {
          nombreAseguradora: "CRUZ VERDE",
          entregasCompletadas: 10,
          entragasTotales: 150,
          pgVal: (10 * 100) / 150,
        },
        {
          nombreAseguradora: "UT PHARMEDIS",
          entregasCompletadas: 10,
          entragasTotales: 150,
          pgVal: (10 * 100) / 150,
        },
        {
          nombreAseguradora: "SALUD SANITAS S.A.S",
          entregasCompletadas: 10,
          entragasTotales: 150,
          pgVal: (10 * 100) / 150,
        },
        {
          nombreAseguradora: "COOSALUD EPS SA",
          entregasCompletadas: 10,
          entragasTotales: 150,
          pgVal: (10 * 100) / 150,
        },
        {
          nombreAseguradora: "DOMO MEDICAS SAS",
          entregasCompletadas: 10,
          entragasTotales: 150,
          pgVal: (10 * 100) / 150,
        },
        {
          nombreAseguradora: "FUNDAMEP",
          entregasCompletadas: 10,
          entragasTotales: 150,
          pgVal: (10 * 100) / 150,
        },
      ];
      direcProgramados.value = {
        total: 1500,
        programados: 500,
        pgValue: (500 * 100) / 1500,
      };
      direcEntregados.value = {
        total: 1500,
        entregados: 600,
        pgValue: (600 * 100) / 1500,
      };
      charDataEntrega.value = {
        efectivas: 400,
        noEfectiva: 600,
      };
      charDataValidacion.value = [
        { dia: "Lunes", reportados: 43.3, validados: 85.8 },
        { dia: "Martes", reportados: 83.1, validados: 73.4 },
        { dia: "Mercoles", reportados: 86.4, validados: 65.2 },
        { dia: "Jueves", reportados: 72.4, validados: 53.9 },
        { dia: "Viernes", reportados: 72.4, validados: 53.9 },
        { dia: "Sabado", reportados: 72.4, validados: 53.9 },
      ];
    };
    const initChartEntregas = () => {
      chartEntrega = echarts.init(entregaGrafica.value, "light");
      const options = {
        tooltip: {
          trigger: "item",
          axisPointer: {
            type: "shadow",
          },
        },
        xAxis: [
          {
            show: false,
            type: "category",
            axisTick: { show: false },
            color: "#fff",
            data: [""],
          },
        ],
        yAxis: [
          {
            type: "value",
            show: false,
          },
        ],
        legend: {
          orient: "vertical",
          left: "right",
          right: "center",
          bottom: "left",
          itemWidth: 15,
          itemHeight: 15,
          align: "left",
          formatter: function (name) {
            if (name === "Entregas Efecticas") {
              return (
                "{a|" +
                charDataEntrega.value.efectivas +
                "}" +
                "\n {b|" +
                name +
                "}"
              );
            } else {
              return (
                "{a|" +
                charDataEntrega.value.noEfectiva +
                "}" +
                "\n {b|" +
                name +
                "}"
              );
            }
          },
          itemGap: 25,
          textStyle: {
            width: 100,
            overflow: "break",
            rich: {
              a: {
                color: "#898392",
                fontSize: 20,
              },
              b: {
                color: "#898392",
                fontSize: 14,
              },
            },
          },
        },
        grid: {
          width: "40%",
          height: "65%",
        },
        series: [
          {
            name: "Entregas Efecticas",
            type: "bar",
            barGap: 0.4,
            label: {
              show: false,
            },
            itemStyle: {
              barBorderRadius: [15, 15, 15, 15],
              color: "#DBD5E2",
            },
            emphasis: {
              focus: "series",
            },
            data: [charDataEntrega.value.efectivas],
          },
          {
            name: "Entregas No Efectivas",
            type: "bar",
            label: {
              show: false,
            },
            itemStyle: {
              color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [
                { offset: 0, color: "#13C8DC" },
                { offset: 0.1, color: "#13C8DC" },
                { offset: 1, color: "#2CE3ECA8" },
              ]),
              barBorderRadius: [15, 15, 15, 15],
            },
            emphasis: {
              focus: "series",
            },
            data: [charDataEntrega.value.noEfectiva],
          },
        ],
      };
      chartEntrega.setOption(options);
    };
    const initChartValidaciones = () => {
      if (
        chartValidacion !== null &&
        chartValidacion !== "" &&
        chartValidacion !== undefined &&
        Object.keys(chartValidacion).length > 0
      ) {
        chartValidacion.dispose(); // borra la instancia en caso de estar creada
      }
      chartValidacion = echarts.init(validacionGrafica.value, "light");
      const optionsValidacion = {
        legend: {
          orient: "horizontal",
          left: 40,
          icon: "circle",
          itemGap: window.innerWidth < 768 ? 10 : 100,
          itemWidth: 15,
          itemHeight: 15,
          formatter: function (name) {
            if (name === "reportados") {
              return "{a| Total " + name + "}" + "\t\t\t{b| " + 200 + "}";
            } else {
              return "{a| Total " + name + "}" + "\t\t\t{b| " + 600 + "}";
            }
          },
          textStyle: {
            width: 200,
            overflow: "break",
            rich: {
              a: {
                color: "#898392",
                fontSize: 15,
              },
              b: {
                color: "#898392",
                fontSize: 20,
              },
            },
          },
        },
        tooltip: {},
        grid: {
          width: window.innerWidth < 768 ? "90%" : "87%",
          height: "70%",
        },
        dataset: {
          dimensions: ["dia", "reportados", "validados"],
          source: charDataValidacion.value,
        },
        xAxis: { type: "category" },
        yAxis: {},
        series: [
          {
            type: "bar",
            itemStyle: {
              barBorderRadius:
                window.innerWidth < 768 ? [5, 5, 0, 0] : [10, 10, 0, 0],
              color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [
                { offset: 0, color: "#13C8DC" },
                { offset: 0.1, color: "#13C8DC" },
                { offset: 1, color: "#2CE3ECA8" },
              ]),
            },
          },
          {
            type: "bar",
            itemStyle: {
              barBorderRadius:
                window.innerWidth < 768 ? [5, 5, 0, 0] : [10, 10, 0, 0],
              color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [
                { offset: 0, color: "#F5A300" },
                { offset: 0.1, color: "#F5A300" },
                { offset: 1, color: "#FBC900" },
              ]),
            },
          },
        ],
      };
      chartValidacion.setOption(optionsValidacion, true);
    };
    const onResize = () => {
      let grafica = document.getElementById("validacionGrafica");
      if (window.innerWidth < 768) {
        grafica.style.left = "-10px";
        initChartValidaciones();
        chartValidacion.resize();
      } else {
        grafica.style.left = "-25px";
        initChartValidaciones();
      }
    };
    onMounted(() => {
      fetchDatos();
      initChartEntregas();
      onResize();
      window.addEventListener("resize", onResize);
    });
    return {
      rageDatesref,
      rangosGeneral,
      rangoSelected,
      rangeDates,
      datosAseguradoras,
      direcProgramados,
      direcEntregados,
      entregaGrafica,
      validacionGrafica,
      changeRangeDate,
    };
  },
};
</script>

<style scoped>
.fondo-gradient {
  background: transparent linear-gradient(180deg, #13c8dc 0%, #1feffc 100%) 0%
    0% no-repeat padding-box;
  border-radius: 10px;
  height: 150px;
}
.progresMensjes {
  height: 11px;
}
.contenedorMsj::-webkit-scrollbar:horizontal {
  height: 16px;
}
/* estilos scroll firefox */
.contenedorMsj {
  scrollbar-color: rgba(174, 177, 188, 1);
  scrollbar-width: thin;
}
/* scroll general chrome  */
.contenedorMsj::-webkit-scrollbar {
  -webkit-appearance: none;
}

.contenedorMsj::-webkit-scrollbar:vertical {
  width: 16px;
}

.contenedorMsj::-webkit-scrollbar-button:increment,
.contenedorMsj::-webkit-scrollbar-button {
  display: none;
}

.contenedorMsj::-webkit-scrollbar-thumb {
  background-color: #dbdce5;
  border-radius: 5px;
  /*border: 2px solid #f1f2f3;*/
}

.contenedorMsj::-webkit-scrollbar-track {
  border-radius: 10px;
}
.progresMensjes > ::v-deep(.p-progressbar-value) {
  background: transparent linear-gradient(90deg, #13c8dc 0%, #2be2ec 100%) 0% 0%
    no-repeat padding-box;
  border-radius: 6px;
}
.fondo-chart {
  background-color: white;
  border-radius: 10px;
  /*height: 365px;*/
}
#graficaEntregas {
  left: -35px;
  top: -25px;
}
#validacionGrafica {
  left: -25px;
}
@media screen and (min-width: 1900px) {
  /deep/ #validacionGrafica canvas {
    width: 702px !important;
  }
}
</style>
