<template>
  <section class="login-custom">
    <div class="flex lg:h-screen">
      <!--  -->
      <div class="hidden h-full w-[60%] items-center justify-center lg:flex">
        <h1 class="hidden text-3xl font-bold text-gray-600"></h1>
      </div>

      <!-- Formulario de login -->
      <div
        class="flex h-full w-full flex-col items-center justify-center py-12 px-8 lg:w-[40%]"
      >
        <img class="h-24 w-auto" src="/img/logos/logo-tissini.png" alt="Logo" />

        <form
          class="mt-6 flex w-full flex-col items-center lg:w-[70%]"
          @submit="onSubmit"
        >
          <h3 class="mb-6 text-2xl font-extrabold text-gray-600">
            Inicio Sesión
          </h3>

          <!-- Usuario -->
          <div class="mb-6 w-full">
            <label
              for="clave"
              class="mb-2 inline-block font-normal text-gray-700"
            >
              Usuario
            </label>
            <div class="relative flex flex-col">
              <InputText
                v-model="model.usuario"
                id="usuario"
                type="text"
                class="pr-custom-12 h-[48px] w-full text-sm"
                placeholder="Ingresa tu usuario..."
                autofocus=""
                autocomplete="off"
                required=""
              />
              <span
                class="absolute top-[16px] right-[12px] flex items-center justify-center"
              >
                <font-awesome-icon
                  icon="user"
                  class="text-gray-400"
                  style="width: 15px; height: 15px"
                />
              </span>
              <div class="p-error capitalize">
                <small>{{ errors.usuario }}</small>
              </div>
            </div>
          </div>

          <!-- Contraseña -->
          <div class="mb-6 w-full">
            <label
              for="clave"
              class="mb-2 inline-block font-normal text-gray-700"
            >
              Contraseña
            </label>
            <div class="relative flex flex-col">
              <InputText
                v-model="model.clave"
                id="clave"
                type="password"
                class="pr-custom-12 h-[48px] w-full text-sm"
                placeholder="Ingresa tu contraseña..."
                autofocus=""
                autocomplete="off"
                required=""
              />
              <span
                class="absolute top-[16px] right-[12px] flex items-center justify-center"
              >
                <font-awesome-icon
                  icon="lock"
                  class="text-gray-400"
                  style="width: 15px; height: 15px"
                />
              </span>
              <div class="p-error capitalize">
                {{ error }}
              </div>
            </div>
          </div>

          <!-- <div class="mt-2 w-full text-right">
            <span>¿Has olvidado tu contraseña?</span>
            <a href="#" class="text-sm font-semibold" style="color: #13c8dc">
              Ingresa aquí</a
            >
          </div> -->

          <button
            type="submit"
            class="mt-6 block w-full rounded-lg bg-gradient-to-r from-gradient-1 to-gradient-2 px-4 py-3 font-semibold text-white hover:from-gradient-2 hover:to-gradient-1"
          >
            Ingresar
          </button>

          <button
            type="button"
            @click="recuperar()"
            class="mt-6 block w-full rounded-lg bg-[#DFE0E9] from-gradient-1 to-gradient-2 px-4 py-3 font-semibold hover:from-gradient-2 hover:to-gradient-1"
          >
            Recordar Contraseña
          </button>
        </form>
      </div>
    </div>
  </section>
</template>

<script>
import { useField, useForm } from "vee-validate";
import { string, object } from "yup";
import { useRouter } from "vue-router";
import { ref } from "vue";
import dayjs from "dayjs";
dayjs.locale("es");

export default {
  name: "LoginMain",
  setup() {
    const router = useRouter();
    const error = ref("");
    const validationSchema = object({
      usuario: string().min(5).required("requerido"),
      clave: string().min(8).required("requerido"),
    });
    const valores = {
      usuario: "tissini",
      clave: "password",
    };

    const {
      handleSubmit,
      values: model,
      errors,
    } = useForm({
      validationSchema,
    });

    useField("usuario", null, { initialValue: "tissini" });
    useField("clave", null, { initialValue: "password" });

    const onSubmit = handleSubmit(async (values) => {
      if (
        values.usuario === valores.usuario &&
        values.clave === valores.clave
      ) {
        console.log("login");
        router.push({ name: "inicio" });
      } else {
        error.value = "Error de credenciales";
      }
    });

    const recuperar = () => {
      router.push({ name: "recuperar" });
    }

    return {
      onSubmit,
      recuperar,
      valores,
      model,
      errors,
      error,
    };
  },
};
</script>

<style></style>
