<template>
  <div class="card-container blue-container flex flex-row-reverse flex-wrap">
    <Button
      label="Agregar Rol"
      icon="pi pi-plus"
      class="mr-2"
      @click="$router.push({ name: 'ajustes.config.roles.add' })"
    />
  </div>
  <DataTable
    :value="roles"
    responsiveLayout="scroll"
    :lazy="true"
    :globalFilterFields="['name']"
    v-model:filters="filters"
    filterDisplay="menu"
    @filter="onFilter($event)"
    class="mt-4"
  >
    <Column field="name" header="Nombre Rol">
      <template #filter="{ filterModel }">
        <InputText
          type="text"
          v-model="filterModel.value"
          class="p-column-filter"
          placeholder="Search by name"
        />
      </template>
      <template #filterclear="{ filterCallback }">
        <Button
          type="button"
          icon="pi pi-times"
          @click="filterCallback()"
          class="p-button-secondary"
        ></Button>
      </template>
      <template #filterapply="{ filterCallback }">
        <Button
          type="button"
          icon="pi pi-check"
          @click="filterCallback()"
          class="p-button-success"
        ></Button>
      </template>
    </Column>
    <Column header="Acciones" style="width: 10rem">
      <template #body="{ data }">
        <div class="flex flex-row justify-around">
          <div
            v-tooltip.left="'Editar'"
            @click="
              $router.push({
                name: 'ajustes.config.roles.editar',
                params: { id: data.id },
              })
            "
          >
            <i-fa-solid-pencil-alt class="icons-roles"></i-fa-solid-pencil-alt>
          </div>
          <div v-tooltip.left="'Detalle'" @click="openModalDetail(data)">
            <i-ci-info-circle class="icons-roles"></i-ci-info-circle>
          </div>
          <div v-tooltip.left="'Eliminar'" @click="openModalDelete(data)">
            <i-fa-solid-trash-alt class="icons-roles"></i-fa-solid-trash-alt>
          </div>
        </div>
      </template>
    </Column>
  </DataTable>
  <Paginator
    :rows="parseInt(paginator.per_page)"
    :totalRecords="paginator.total"
    :rowsPerPageOptions="[10, 20, 30, 50, 100]"
    @page="onPage($event)"
  >
    <template #start="slotProps">
      Mostrando registros del
      {{ slotProps.state.first === 0 ? 1 : slotProps.state.first }} al
      {{ slotProps.state.rows * (slotProps.state.page + 1) }} de un total de
      {{ paginator.total }} registros
    </template>
  </Paginator>

  <modalOk ref="modalConfirmDetail" @responseYes="onYesModalDetail">
    <template v-slot:icon>
      <i-ci-info-circle class="iconWarning" />
    </template>
    <div class="justify-content-around flex h-full w-full flex-col">
      <span
        class="mb-6 text-center text-2xl"
        style="color: #13c8dc; font-weight: bold"
        >Detalle</span
      >
      <div style="background: #13c8dc">
        <span class="ml-6" style="color: white">Rol</span>
      </div>
      <div class="m-4">
        <span>- {{ rolInfo.name }}</span>
      </div>
      <div style="background: #13c8dc">
        <span class="ml-6" style="color: white">Permisos</span>
      </div>
      <div class="m-4">
        <template v-if="rolInfo.permission_has_active">
          <div
            class="flex flex-col"
            v-for="(item, index) in rolInfo.permission_has_active"
            :key="index"
          >
            <span>- {{ item.permissionsRoles.name }}</span>
          </div>
        </template>

        <template v-if="rolInfo.permission_has_active.length === 0">
          <span>-No tiene ningun permiso asignado</span>
        </template>
      </div>
    </div>
  </modalOk>

  <modalConfirm ref="modalConfirmDelete" @responseYes="onYesModalDelete">
    <template v-slot:icon>
      <i-fa-solid-trash-alt class="iconEliminar" />
    </template>
    <div class="justify-content-around flex h-full w-full flex-col">
      <span
        class="text-center text-2xl"
        style="color: #13c8dc; font-weight: bold"
        >Eliminar Rol</span
      >
      <span class="mt-6 text-center"
        >¿Esta segur@ que desea eliminar el rol?</span
      >
    </div>
  </modalConfirm>
  <Toast />
</template>

<script>
import { onMounted, ref, watch, defineAsyncComponent } from "vue";
import { useRoute, useRouter } from "vue-router";
import getRolesService from "./services/getRoles.service";
import deleteService from "./services/deleteRol.service";
import { useToast } from "primevue/usetoast";
import { useAuthStore } from "@/stores/auth";
import { FilterMatchMode, FilterOperator } from "primevue/api";
export default {
  name: "RolesMain",
  components: {
    modalOk: defineAsyncComponent(() =>
      import("@/components/modalOk/modalOk.vue")
    ),
  },
  setup() {
    const auth = useAuthStore();
    const toast = useToast();
    const route = useRoute();
    const router = useRouter();
    const roles = ref([]);
    const rolInfo = ref({});
    const paginator = ref({
      per_page: 0,
      total: 0,
      first: 0,
    });
    const filters = ref({
      name: {
        operator: FilterOperator.AND,
        constraints: [{ value: null, matchMode: FilterMatchMode.STARTS_WITH }],
      },
    });
    const modalConfirmDetail = ref();
    const modalConfirmDelete = ref();

    const onFilter = () => {
      const queryParams = route.query;
      router.push({
        query: {
          ...queryParams,
          page: 1,
          rows: 10,
          filters: btoa(JSON.stringify(filters.value)),
        },
      });
    };
    const onPage = ({ page, rows }) => {
      handleRoles({ page: page + 1, rows });
    };
    const handleRoles = (payload) => {
      getRolesService(payload)
        .then(({ data }) => {
          roles.value = data.data;
          paginator.value.per_page = data.per_page;
          paginator.value.total = data.total;
          console.log(data);
        })
        .catch((error) => {
          console.log(error);
        });
    };
    const openModalDetail = (data) => {
      modalConfirmDetail.value.toggle();
      rolInfo.value = data;
      console.log(data);
    };
    const onYesModalDetail = () => {
      modalConfirmDetail.value.toggle();
    };
    const openModalDelete = (data) => {
      modalConfirmDelete.value.toggle(data);
    };
    const onYesModalDelete = (data) => {
      if (data.id === auth.user.rolId) {
        toast.add({
          severity: "error",
          summary: "Error",
          detail: "Se esta intentando eliminar el rol asignado asimismo.",
          life: 3000,
        });
        modalConfirmDelete.value.toggle();
      } else {
        deleteService(data.id)
          .then((response) => {
            console.log(response);
            handleRoles({ page: 1, rows: 10 });
            modalConfirmDelete.value.toggle();
          })
          .catch((error) => {
            console.log(error);
          });
      }
    };

    watch(
      () => route.query,
      () => {
        if (route.name === "ajustes.config.roles") {
          handleRoles(route.query);
        }
      }
    );

    onMounted(() => {
      handleRoles();
    });
    return {
      onPage,
      roles,
      onFilter,
      filters,
      rolInfo,
      paginator,
      openModalDetail,
      onYesModalDetail,
      modalConfirmDetail,
      openModalDelete,
      modalConfirmDelete,
      onYesModalDelete,
    };
  },
};
</script>

<style scoped>
.iconEliminar {
  color: #13c8dc;
  width: 38px;
  height: 44px;
}
.icons-roles {
  color: #13c8dc;
  cursor: pointer;
}
.icons-roles:hover {
  color: #147ba8;
}
.iconWarning {
  color: #13c8dc;
  width: 55px;
  height: 55px;
}
</style>
